{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.ad :refer :all]],
 :tests
 [{:eval
   (t/with-sqlite
    [ctx
     {:user [{:user/id (t/uuid 1), :user/email "alice@example.com"}],
      :ad [{:ad/id (t/uuid 2), :ad/user-id (t/uuid 1)}]}]
    (user-ad ctx {:user/id (t/uuid 1)})),
   :result
   {:user/ad {:ad/id #uuid "00020000-0000-0000-0000-000000000002"}}}
  _
  {:eval
   (t/with-sqlite
    [ctx
     {:ad-click
      [{:ad-click/id (t/uuid 1),
        :ad-click/ad-id (t/uuid 10),
        :ad-click/user-id (t/uuid 101)}
       {:ad-click/id (t/uuid 2),
        :ad-click/ad-id (t/uuid 20),
        :ad-click/user-id (t/uuid 102)}
       {:ad-click/id (t/uuid 4),
        :ad-click/ad-id (t/uuid 20),
        :ad-click/user-id (t/uuid 103)}
       {:ad-click/id (t/uuid 5),
        :ad-click/ad-id (t/uuid 20),
        :ad-click/user-id (t/uuid 104)}]}]
    {:not-empty (n-clicks ctx {:ad/id (t/uuid 20)}),
     :empty (n-clicks ctx {:ad/id (t/uuid 30)})}),
   :result {:not-empty {:ad/n-clicks 3}, :empty {:ad/n-clicks 0}}}
  _
  {:eval
   (t/with-sqlite
    [ctx
     {:ad-click
      [{:ad-click/id (t/uuid 1),
        :ad-click/ad-id (t/uuid 10),
        :ad-click/created-at (t/instant 2000)}
       {:ad-click/id (t/uuid 2),
        :ad-click/ad-id (t/uuid 20),
        :ad-click/created-at (t/instant 2001)}
       {:ad-click/id (t/uuid 3),
        :ad-click/ad-id (t/uuid 20),
        :ad-click/created-at (t/instant 2002)}
       {:ad-click/id (t/uuid 4),
        :ad-click/ad-id (t/uuid 20),
        :ad-click/created-at (t/instant 2003)}
       {:ad-click/id (t/uuid 5),
        :ad-click/ad-id (t/uuid 20),
        :ad-click/created-at (t/instant 2004)}]}]
    (last-clicked
     ctx
     [{:ad/id (t/uuid 10)}
      {:ad/id (t/uuid 20)}
      {:ad/id (t/uuid 30)}])),
   :result
   [{:ad/id #uuid "00100000-0000-0000-0000-000000000010",
     :ad/last-clicked #time/instant "2000-01-01T00:00:00Z"}
    {:ad/id #uuid "00200000-0000-0000-0000-000000000020",
     :ad/last-clicked #time/instant "2004-01-01T00:00:00Z"}
    {:ad/id #uuid "00300000-0000-0000-0000-000000000030"}]}
  _
  {:eval
   (t/with-sqlite
    [ctx
     {:ad-credit
      [{:ad-credit/id (t/uuid 1),
        :ad-credit/ad-id (t/uuid 10),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/pending],
        :ad-credit/amount 100}
       {:ad-credit/id (t/uuid 2),
        :ad-credit/ad-id (t/uuid 10),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/pending],
        :ad-credit/amount 75}
       {:ad-credit/id (t/uuid 3),
        :ad-credit/ad-id (t/uuid 10),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/confirmed],
        :ad-credit/amount 125}
       {:ad-credit/id (t/uuid 4),
        :ad-credit/ad-id (t/uuid 20),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/pending],
        :ad-credit/amount 100}
       {:ad-credit/id (t/uuid 5),
        :ad-credit/ad-id (t/uuid 30),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/pending],
        :ad-credit/amount 100}]}]
    (amount-pending
     ctx
     [{:ad/id (t/uuid 10)}
      {:ad/id (t/uuid 20)}
      {:ad/id (t/uuid 40)}])),
   :result
   [{:ad/id #uuid "00100000-0000-0000-0000-000000000010",
     :ad/amount-pending 175}
    {:ad/id #uuid "00200000-0000-0000-0000-000000000020",
     :ad/amount-pending 100}
    {:ad/id #uuid "00400000-0000-0000-0000-000000000040"}]}
  _
  {:eval
   (t/with-sqlite
    [ctx
     {:ad-credit
      [{:ad-credit/id (t/uuid 1),
        :ad-credit/ad-id (t/uuid 10),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/pending],
        :ad-credit/amount 100}
       {:ad-credit/id (t/uuid 2),
        :ad-credit/ad-id (t/uuid 10),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/pending],
        :ad-credit/amount 75}
       {:ad-credit/id (t/uuid 3),
        :ad-credit/ad-id (t/uuid 10),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/confirmed],
        :ad-credit/amount 125}
       {:ad-credit/id (t/uuid 4),
        :ad-credit/ad-id (t/uuid 20),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/pending],
        :ad-credit/amount 100}
       {:ad-credit/id (t/uuid 5),
        :ad-credit/ad-id (t/uuid 30),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/pending],
        :ad-credit/amount 100}]}]
    (pending-charge ctx {:ad/id (t/uuid 10)})),
   :result
   {:ad/pending-charge
    {:ad-credit/id #uuid "00010000-0000-0000-0000-000000000001"}}}
  _
  {:eval
   (t/with-sqlite
    [ctx
     {:ad-credit
      [{:ad-credit/id (t/uuid 1),
        :ad-credit/ad-id (t/uuid 10),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/pending],
        :ad-credit/amount 100}
       {:ad-credit/id (t/uuid 2),
        :ad-credit/ad-id (t/uuid 10),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/pending],
        :ad-credit/amount 75}
       {:ad-credit/id (t/uuid 3),
        :ad-credit/ad-id (t/uuid 10),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/confirmed],
        :ad-credit/amount 125}
       {:ad-credit/id (t/uuid 4),
        :ad-credit/ad-id (t/uuid 20),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/pending],
        :ad-credit/amount 100}
       {:ad-credit/id (t/uuid 5),
        :ad-credit/ad-id (t/uuid 30),
        :ad-credit/charge-status
        [:lift :ad-credit.charge-status/pending],
        :ad-credit/amount 100}]}]
    (pending-charges ctx nil)),
   :result
   {:admin/pending-charges
    [{:ad-credit/id #uuid "00010000-0000-0000-0000-000000000001"}
     {:ad-credit/id #uuid "00020000-0000-0000-0000-000000000002"}
     {:ad-credit/id #uuid "00040000-0000-0000-0000-000000000004"}
     {:ad-credit/id #uuid "00050000-0000-0000-0000-000000000005"}]}}
  _
  {:eval
   (let
    [ctx
     {:biff/now (t/instant 2000)}
     ad
     {:ad/payment-method "abc123",
      :ad/payment-failed false,
      :ad/balance 1500,
      :ad/amount-pending nil,
      :ad/last-clicked (t/instant 2000),
      :ad/paused false}
     chargeable*
     (fn [& {:as overrides}] (chargeable ctx (merge ad overrides)))]
    {:success (chargeable*),
     :stale (chargeable* :ad/last-clicked (t/instant 1999)),
     :amount-too-small (chargeable* :ad/balance 250),
     :paused (chargeable* :ad/balance 250 :ad/paused true)}),
   :result
   {:success {:ad/chargeable true},
    :stale {:ad/chargeable false},
    :amount-too-small {:ad/chargeable false},
    :paused {:ad/chargeable true}}}
  _
  {:eval
   (get-stripe-status
    {:biff/secret {:stripe/api-key "12345"},
     :com.yakread.model.ad/credit
     {:ad-credit/ad {:ad/customer-id "abc123"},
      :ad-credit/created-at (t/instant 2000)}}
    :start),
   :result
   {:biff.fx/http
    [:biff.fx/http
     {:method :get,
      :url "https://api.stripe.com/v1/payment_intents",
      :basic-auth ["12345" ""],
      :flatten-nested-form-params true,
      :as :json,
      :query-params
      {:limit 100, :customer "abc123", :created {:gt "946684800"}}}],
    :biff.fx/next :end}}
  _]}
