{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.digest :refer :all]],
 :tests
 [{:eval
   (t/with-node
    [node
     {:item
      [{:xt/id "item1", :item/ingested-at (t/zdt 2001)}
       {:xt/id "item2", :item/ingested-at (t/zdt 2003)}]}]
    (digest-sub-items
     {:biff/conn node, :biff/now (t/zdt 2003 1 10)}
     {:user/subscriptions
      [{:sub/items [{:xt/id "item1"} {:xt/id "item2"}]}]})),
   :result {:user/digest-sub-items [{:xt/id "item2"}]}}
  _
  {:eval
   (t/with-node
    [node
     {:item
      [{:xt/id "item1", :item/ingested-at (t/zdt 2003 1 4)}
       {:xt/id "item2", :item/ingested-at (t/zdt 2003 1 6)}]}]
    (digest-sub-items
     {:biff/conn node, :biff/now (t/zdt 2003 1 10)}
     {:user/digest-last-sent (t/zdt 2003 1 5),
      :user/subscriptions
      [{:sub/items [{:xt/id "item1"} {:xt/id "item2"}]}]})),
   :result {:user/digest-sub-items [{:xt/id "item2"}]}}
  _
  {:eval
   (t/with-node
    [node
     {:item
      [{:xt/id "item1", :item/ingested-at (t/zdt 2001)}
       {:xt/id "item2", :item/ingested-at (t/zdt 2003)}]}]
    (digest-bookmarks
     {:biff/conn node, :biff/now (t/zdt 2003 1 10)}
     {:user/bookmarks [{:xt/id "item1"} {:xt/id "item2"}]})),
   :result {:user/digest-bookmarks [{:xt/id "item2"}]}}
  _]}
