{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.digest :refer :all]],
 :tests
 [{:eval
   (t/with-sqlite
    [ctx
     {:item
      [{:item/id (t/uuid 1), :item/ingested-at (t/instant 2001)}
       {:item/id (t/uuid 2), :item/ingested-at (t/instant 2003)}]}]
    (digest-sub-items
     (merge ctx {:biff/now (t/instant 2003 1 10)})
     {:user/subscriptions
      [{:sub/items [{:item/id (t/uuid 1)} {:item/id (t/uuid 2)}]}]})),
   :result
   {:user/digest-sub-items
    [{:item/id #uuid "00020000-0000-0000-0000-000000000002"}]}}
  _
  {:eval
   (t/with-sqlite
    [ctx
     {:item
      [{:item/id (t/uuid 1), :item/ingested-at (t/instant 2003 1 4)}
       {:item/id (t/uuid 2), :item/ingested-at (t/instant 2003 1 6)}]}]
    (digest-sub-items
     (merge ctx {:biff/now (t/instant 2003 1 10)})
     {:user/digest-last-sent (t/instant 2003 1 5),
      :user/subscriptions
      [{:sub/items [{:item/id (t/uuid 1)} {:item/id (t/uuid 2)}]}]})),
   :result
   {:user/digest-sub-items
    [{:item/id #uuid "00020000-0000-0000-0000-000000000002"}]}}
  _
  {:eval
   (t/with-sqlite
    [ctx
     {:item
      [{:item/id (t/uuid 1), :item/ingested-at (t/instant 2001)}
       {:item/id (t/uuid 2), :item/ingested-at (t/instant 2003)}]}]
    (digest-bookmarks
     (merge ctx {:biff/now (t/instant 2003 1 10)})
     {:user/bookmarks [{:item/id (t/uuid 1)} {:item/id (t/uuid 2)}]})),
   :result
   {:user/digest-bookmarks
    [{:item/id #uuid "00020000-0000-0000-0000-000000000002"}]}}
  _]}
