{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.digest :refer :all]],
 :tests
 [{:eval
   (t/with-sqlite
    [conn
     {:item
      [{:xt/id (t/uuid 1),
        :item/ingested-at (t/zdt 2001),
        :item/record-type :feed}
       {:xt/id (t/uuid 2),
        :item/ingested-at (t/zdt 2003),
        :item/record-type :feed}]}]
    (digest-sub-items
     {:biff/conn* conn, :biff/now (t/zdt 2003 1 10)}
     {:user/subscriptions
      [{:sub/items [{:xt/id (t/uuid 1)} {:xt/id (t/uuid 2)}]}]})),
   :ex #error {
 :cause "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
 :data {:attr :feed/moderation, :value :approved}
 :via
 [{:type clojure.lang.ExceptionInfo
   :message "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
   :data {:attr :feed/moderation, :value :approved}
   :at [com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]}]
 :trace
 [[com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]
  [clojure.core$map$fn__5954 invoke "core.clj" 2772]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$fn__5577 invoke "core.clj" 727]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$cat__5579$fn__5580 invoke "core.clj" 736]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core.protocols$seq_reduce invokeStatic "protocols.clj" 24]
  [clojure.core.protocols$fn__8262 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8262 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$reduce invokeStatic "core.clj" 6965]
  [clojure.core$cat$fn__8893 invoke "core.clj" 7817]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.core.protocols$iterator_reduce_BANG_ invokeStatic "protocols.clj" 42]
  [clojure.core.protocols$iter_reduce invokeStatic "protocols.clj" 52]
  [clojure.core.protocols$fn__8256 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8256 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$transduce invokeStatic "core.clj" 7026]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.biffweb.sqlite$build_enum_val__GT_int invokeStatic "sqlite.clj" 249]
  [com.biffweb.sqlite$build_enum_val__GT_int invoke "sqlite.clj" 244]
  [com.biffweb.sqlite$fn__35046 invokeStatic "sqlite.clj" 466]
  [com.biffweb.sqlite$fn__35046 invoke "sqlite.clj" 463]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$memoize$fn__6969 doInvoke "core.clj" 6424]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 482]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 851]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 840]
  [com.yakread.model.digest$recent_items invokeStatic "digest.clj" 17]
  [com.yakread.model.digest$recent_items invoke "digest.clj" 11]
  [com.yakread.model.digest$digest_sub_items__61004 invokeStatic "digest.clj" 31]
  [com.yakread.model.digest$digest_sub_items__61004 invoke "digest.clj" 26]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp238292$eval95665 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp238292$eval95665 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:eval
   (t/with-sqlite
    [conn
     {:item
      [{:xt/id (t/uuid 1),
        :item/ingested-at (t/zdt 2003 1 4),
        :item/record-type :feed}
       {:xt/id (t/uuid 2),
        :item/ingested-at (t/zdt 2003 1 6),
        :item/record-type :feed}]}]
    (digest-sub-items
     {:biff/conn* conn, :biff/now (t/zdt 2003 1 10)}
     {:user/digest-last-sent (t/zdt 2003 1 5),
      :user/subscriptions
      [{:sub/items [{:xt/id (t/uuid 1)} {:xt/id (t/uuid 2)}]}]})),
   :ex #error {
 :cause "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
 :data {:attr :feed/moderation, :value :approved}
 :via
 [{:type clojure.lang.ExceptionInfo
   :message "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
   :data {:attr :feed/moderation, :value :approved}
   :at [com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]}]
 :trace
 [[com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]
  [clojure.core$map$fn__5954 invoke "core.clj" 2772]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$fn__5577 invoke "core.clj" 727]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$cat__5579$fn__5580 invoke "core.clj" 736]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core.protocols$seq_reduce invokeStatic "protocols.clj" 24]
  [clojure.core.protocols$fn__8262 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8262 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$reduce invokeStatic "core.clj" 6965]
  [clojure.core$cat$fn__8893 invoke "core.clj" 7817]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.core.protocols$iterator_reduce_BANG_ invokeStatic "protocols.clj" 42]
  [clojure.core.protocols$iter_reduce invokeStatic "protocols.clj" 52]
  [clojure.core.protocols$fn__8256 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8256 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$transduce invokeStatic "core.clj" 7026]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.biffweb.sqlite$build_enum_val__GT_int invokeStatic "sqlite.clj" 249]
  [com.biffweb.sqlite$build_enum_val__GT_int invoke "sqlite.clj" 244]
  [com.biffweb.sqlite$fn__35046 invokeStatic "sqlite.clj" 466]
  [com.biffweb.sqlite$fn__35046 invoke "sqlite.clj" 463]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$memoize$fn__6969 doInvoke "core.clj" 6424]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 482]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 851]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 840]
  [com.yakread.model.digest$recent_items invokeStatic "digest.clj" 17]
  [com.yakread.model.digest$recent_items invoke "digest.clj" 11]
  [com.yakread.model.digest$digest_sub_items__61004 invokeStatic "digest.clj" 31]
  [com.yakread.model.digest$digest_sub_items__61004 invoke "digest.clj" 26]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp238292$eval95667 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp238292$eval95667 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:eval
   (t/with-sqlite
    [conn
     {:item
      [{:xt/id (t/uuid 1),
        :item/ingested-at (t/zdt 2001),
        :item/record-type :feed}
       {:xt/id (t/uuid 2),
        :item/ingested-at (t/zdt 2003),
        :item/record-type :feed}]}]
    (digest-bookmarks
     {:biff/conn* conn, :biff/now (t/zdt 2003 1 10)}
     {:user/bookmarks [{:xt/id (t/uuid 1)} {:xt/id (t/uuid 2)}]})),
   :ex #error {
 :cause "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
 :data {:attr :feed/moderation, :value :approved}
 :via
 [{:type clojure.lang.ExceptionInfo
   :message "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
   :data {:attr :feed/moderation, :value :approved}
   :at [com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]}]
 :trace
 [[com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]
  [clojure.core$map$fn__5954 invoke "core.clj" 2772]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$fn__5577 invoke "core.clj" 727]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$cat__5579$fn__5580 invoke "core.clj" 736]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core.protocols$seq_reduce invokeStatic "protocols.clj" 24]
  [clojure.core.protocols$fn__8262 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8262 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$reduce invokeStatic "core.clj" 6965]
  [clojure.core$cat$fn__8893 invoke "core.clj" 7817]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.core.protocols$iterator_reduce_BANG_ invokeStatic "protocols.clj" 42]
  [clojure.core.protocols$iter_reduce invokeStatic "protocols.clj" 52]
  [clojure.core.protocols$fn__8256 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8256 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$transduce invokeStatic "core.clj" 7026]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.biffweb.sqlite$build_enum_val__GT_int invokeStatic "sqlite.clj" 249]
  [com.biffweb.sqlite$build_enum_val__GT_int invoke "sqlite.clj" 244]
  [com.biffweb.sqlite$fn__35046 invokeStatic "sqlite.clj" 466]
  [com.biffweb.sqlite$fn__35046 invoke "sqlite.clj" 463]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$memoize$fn__6969 doInvoke "core.clj" 6424]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 482]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 851]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 840]
  [com.yakread.model.digest$recent_items invokeStatic "digest.clj" 17]
  [com.yakread.model.digest$recent_items invoke "digest.clj" 11]
  [com.yakread.model.digest$digest_bookmarks__61010 invokeStatic "digest.clj" 43]
  [com.yakread.model.digest$digest_bookmarks__61010 invoke "digest.clj" 37]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp238292$eval95669 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp238292$eval95669 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
