{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.item :refer :all]
  [com.wsscode.pathom3.connect.operation :as pco]],
 :tests
 [{:eval
   (t/with-sqlite
    [conn
     {:user-item
      [{:xt/id "user-item1",
        :user-item/user-id "user1",
        :user-item/item-id "item1",
        :user-item/favorited-at (t/zdt 2000)}
       {:xt/id "user-item2",
        :user-item/user-id "user1",
        :user-item/item-id "item2"}
       {:xt/id "user-item3",
        :user-item/user-id "user2",
        :user-item/item-id "item3",
        :user-item/favorited-at (t/zdt 2000)}]}]
    (user-favorites {:biff/conn* conn} {:user/id "user1"})),
   :result {:user/favorites [], :user/more-favorites false}}
  _
  {:eval
   (t/with-sqlite
    [conn
     {:user-item
      [{:xt/id "user-item1",
        :user-item/user-id "user1",
        :user-item/item-id "item1",
        :user-item/bookmarked-at (t/zdt 2000)}
       {:xt/id "user-item2",
        :user-item/user-id "user1",
        :user-item/item-id "item2"}
       {:xt/id "user-item3",
        :user-item/user-id "user2",
        :user-item/item-id "item3",
        :user-item/bookmarked-at (t/zdt 2000)}]}]
    (user-bookmarks {:biff/conn* conn} {:user/id "user1"})),
   :result {:user/bookmarks [], :user/more-bookmarks false}}
  _
  {:eval
   (t/with-sqlite
    [conn
     {:reclist
      [{:xt/id "reclist1", :reclist/user-id "user1"}
       {:xt/id "reclist2", :reclist/user-id "user1"}
       {:xt/id "reclist3", :reclist/user-id "user2"}
       {:xt/id "reclist4", :reclist/user-id "user1"}
       {:xt/id "reclist5", :reclist/user-id "user1"}],
      :skip
      [{:xt/id "skip1",
        :skip/reclist-id "reclist1",
        :skip/item-id "item1"}
       {:xt/id "skip2",
        :skip/reclist-id "reclist2",
        :skip/item-id "item1"}
       {:xt/id "skip3",
        :skip/reclist-id "reclist3",
        :skip/item-id "item1"}
       {:xt/id "skip4",
        :skip/reclist-id "reclist4",
        :skip/item-id "item2"}
       {:xt/id "skip5",
        :skip/reclist-id "reclist5",
        :skip/item-id "item3"}]}]
    (n-skipped
     {:biff/conn* conn, :session {:uid "user1"}}
     [{:xt/id "item1"} {:xt/id "item2"} {:xt/id "item4"}])),
   :ex #error {
 :cause "class java.lang.String cannot be cast to class [B (java.lang.String and [B are in module java.base of loader 'bootstrap')"
 :via
 [{:type java.lang.ClassCastException
   :message "class java.lang.String cannot be cast to class [B (java.lang.String and [B are in module java.base of loader 'bootstrap')"
   :at [com.biffweb.sqlite$bytes__GT_uuid invokeStatic "sqlite.clj" 137]}]
 :trace
 [[com.biffweb.sqlite$bytes__GT_uuid invokeStatic "sqlite.clj" 137]
  [com.biffweb.sqlite$bytes__GT_uuid invoke "sqlite.clj" 134]
  [com.biffweb.sqlite$make_column_reader$fn__34963 invoke "sqlite.clj" 282]
  [next.jdbc.result_set$builder_adapter$fn$reify__15405 with_column "result_set.clj" 193]
  [next.jdbc.result_set$row_builder$fn__15516 invoke "result_set.clj" 447]
  [clojure.lang.LongRange reduce "LongRange.java" 170]
  [clojure.core$reduce invokeStatic "core.clj" 6964]
  [clojure.core$reduce invoke "core.clj" 6947]
  [next.jdbc.result_set$row_builder invokeStatic "result_set.clj" 447]
  [next.jdbc.result_set$row_builder invoke "result_set.clj" 443]
  [next.jdbc.result_set$datafiable_result_set invokeStatic "result_set.clj" 663]
  [next.jdbc.result_set$datafiable_result_set invoke "result_set.clj" 639]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 905]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.biffweb.sqlite$execute$run__35051 invoke "sqlite.clj" 492]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 495]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 852]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 841]
  [com.yakread.model.item$n_skipped__61108 invokeStatic "item.clj" 77]
  [com.yakread.model.item$n_skipped__61108 invoke "item.clj" 73]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp49145$eval95695 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp49145$eval95695 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:eval
   (t/with-sqlite
    [conn
     {:user-item
      [{:xt/id "user-item1",
        :user-item/user-id "user1",
        :user-item/item-id "item1"}
       {:xt/id "user-item2",
        :user-item/user-id "user1",
        :user-item/item-id "item2"}
       {:xt/id "user-item3",
        :user-item/user-id "user2",
        :user-item/item-id "item3"}]}]
    (user-item
     {:biff/conn* conn, :session {:uid "user1"}}
     [{:xt/id "item1"} {:xt/id "item2"} {:xt/id "item3"}])),
   :ex #error {
 :cause "class java.lang.String cannot be cast to class [B (java.lang.String and [B are in module java.base of loader 'bootstrap')"
 :via
 [{:type java.lang.ClassCastException
   :message "class java.lang.String cannot be cast to class [B (java.lang.String and [B are in module java.base of loader 'bootstrap')"
   :at [com.biffweb.sqlite$bytes__GT_uuid invokeStatic "sqlite.clj" 137]}]
 :trace
 [[com.biffweb.sqlite$bytes__GT_uuid invokeStatic "sqlite.clj" 137]
  [com.biffweb.sqlite$bytes__GT_uuid invoke "sqlite.clj" 134]
  [com.biffweb.sqlite$make_column_reader$fn__34963 invoke "sqlite.clj" 282]
  [next.jdbc.result_set$builder_adapter$fn$reify__15405 with_column "result_set.clj" 193]
  [next.jdbc.result_set$row_builder$fn__15516 invoke "result_set.clj" 447]
  [clojure.lang.LongRange reduce "LongRange.java" 170]
  [clojure.core$reduce invokeStatic "core.clj" 6964]
  [clojure.core$reduce invoke "core.clj" 6947]
  [next.jdbc.result_set$row_builder invokeStatic "result_set.clj" 447]
  [next.jdbc.result_set$row_builder invoke "result_set.clj" 443]
  [next.jdbc.result_set$datafiable_result_set invokeStatic "result_set.clj" 663]
  [next.jdbc.result_set$datafiable_result_set invoke "result_set.clj" 639]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 905]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.biffweb.sqlite$execute$run__35051 invoke "sqlite.clj" 492]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 495]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 852]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 841]
  [com.yakread.model.item$user_item__61118 invokeStatic "item.clj" 102]
  [com.yakread.model.item$user_item__61118 invoke "item.clj" 93]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp49145$eval95697 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp49145$eval95697 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "image-from-feed",
   :eval
   (t/with-sqlite
    [conn
     {:feed
      [{:xt/id "feed1", :feed/url "url1", :feed/image-url "image-url1"}
       {:xt/id "feed2",
        :feed/url "url2",
        :feed/image-url "image-url2"}]}]
    (image-from-feed
     {:biff/conn* conn}
     [{:item.feed/feed {:feed/image-url "image-url3"}}
      {:item.feed/feed {:feed/image-url "image-url4"},
       :item/feed-url "url1"}
      {:item/feed-url "url1"}
      {:item/feed-url "url3"}])),
   :result
   [{}
    {:item/image-url "image-url1"}
    {:item/image-url "image-url1"}
    {}]}
  _
  {:doc "history-items",
   :eval
   (t/with-sqlite
    [conn
     {:user-item
      [{:xt/id "user-item1",
        :user-item/user-id "user1",
        :user-item/item-id "item1",
        :user-item/viewed-at (t/zdt 2000)}
       {:xt/id "user-item2",
        :user-item/user-id "user1",
        :user-item/item-id "item2",
        :user-item/viewed-at (t/zdt 1999),
        :user-item/favorited-at (t/zdt 2001)}]}]
    {:all
     (history-items
      {:biff/conn* conn}
      {:session/user {:xt/id "user1"}}),
     :page-1
     (history-items
      (pco/with-node-params {:biff/conn* conn} {:batch-size 1})
      {:session/user {:xt/id "user1"}}),
     :page-2
     (history-items
      {:biff/conn* conn}
      {:session/user {:xt/id "user1"},
       :params/paginate-after "item2"})}),
   :ex #error {
 :cause "class java.lang.String cannot be cast to class [B (java.lang.String and [B are in module java.base of loader 'bootstrap')"
 :via
 [{:type java.lang.ClassCastException
   :message "class java.lang.String cannot be cast to class [B (java.lang.String and [B are in module java.base of loader 'bootstrap')"
   :at [com.biffweb.sqlite$bytes__GT_uuid invokeStatic "sqlite.clj" 137]}]
 :trace
 [[com.biffweb.sqlite$bytes__GT_uuid invokeStatic "sqlite.clj" 137]
  [com.biffweb.sqlite$bytes__GT_uuid invoke "sqlite.clj" 134]
  [com.biffweb.sqlite$make_column_reader$fn__34963 invoke "sqlite.clj" 282]
  [next.jdbc.result_set$builder_adapter$fn$reify__15405 with_column "result_set.clj" 193]
  [next.jdbc.result_set$row_builder$fn__15516 invoke "result_set.clj" 447]
  [clojure.lang.LongRange reduce "LongRange.java" 170]
  [clojure.core$reduce invokeStatic "core.clj" 6964]
  [clojure.core$reduce invoke "core.clj" 6947]
  [next.jdbc.result_set$row_builder invokeStatic "result_set.clj" 447]
  [next.jdbc.result_set$row_builder invoke "result_set.clj" 443]
  [next.jdbc.result_set$datafiable_result_set invokeStatic "result_set.clj" 663]
  [next.jdbc.result_set$datafiable_result_set invoke "result_set.clj" 639]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 905]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.biffweb.sqlite$execute$run__35051 invoke "sqlite.clj" 492]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 495]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 852]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 841]
  [com.yakread.model.item$history_items__61143 invokeStatic "item.clj" 145]
  [com.yakread.model.item$history_items__61143 invoke "item.clj" 136]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp49145$eval95701 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp49145$eval95701 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "feed-sub",
   :eval
   (t/with-sqlite
    [conn
     {:sub
      [{:xt/id "sub1", :sub/user-id "user1", :sub/feed-id "feed1"}
       {:xt/id "sub2", :sub/user-id "user1", :sub/feed-id "feed2"}]}]
    (feed-sub
     {:biff/conn* conn, :session {:uid "user1"}}
     [{:item.feed/feed {:xt/id "feed1"}}])),
   :result [{:item/sub {:xt/id nil}}]}
  _
  {:doc "email-sub",
   :eval (email-sub {:item.email/sub {:xt/id "sub3"}}),
   :ex #error {
 :cause "Unable to resolve symbol: email-sub in this context"
 :via
 [{:type clojure.lang.Compiler$CompilerException
   :message "Syntax error compiling at (0:0)."
   :data {:clojure.error/phase :compile-syntax-check, :clojure.error/line 0, :clojure.error/column 0, :clojure.error/source "NO_SOURCE_PATH"}
   :at [clojure.lang.Compiler analyze "Compiler.java" 7340]}
  {:type java.lang.RuntimeException
   :message "Unable to resolve symbol: email-sub in this context"
   :at [clojure.lang.Util runtimeException "Util.java" 221]}]
 :trace
 [[clojure.lang.Util runtimeException "Util.java" 221]
  [clojure.lang.Compiler resolveIn "Compiler.java" 7944]
  [clojure.lang.Compiler resolve "Compiler.java" 7883]
  [clojure.lang.Compiler analyzeSymbol "Compiler.java" 7844]
  [clojure.lang.Compiler analyze "Compiler.java" 7300]
  [clojure.lang.Compiler analyze "Compiler.java" 7277]
  [clojure.lang.Compiler$InvokeExpr parse "Compiler.java" 4296]
  [clojure.lang.Compiler analyzeSeq "Compiler.java" 7632]
  [clojure.lang.Compiler analyze "Compiler.java" 7321]
  [clojure.lang.Compiler analyze "Compiler.java" 7277]
  [clojure.lang.Compiler$BodyExpr$Parser parse "Compiler.java" 6644]
  [clojure.lang.Compiler$FnMethod parse "Compiler.java" 5983]
  [clojure.lang.Compiler$FnExpr parse "Compiler.java" 4546]
  [clojure.lang.Compiler analyzeSeq "Compiler.java" 7628]
  [clojure.lang.Compiler analyze "Compiler.java" 7321]
  [clojure.lang.Compiler eval "Compiler.java" 7697]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]
  [com.yakread.lib.test$eval_STAR_$fn__70619$fn__70620 invoke "test.clj" 200]
  [com.yakread.lib.test$eval_STAR_$fn__70619 invoke "test.clj" 199]
  [com.yakread.lib.test$tapped_STAR_ invokeStatic "test.clj" 183]
  [com.yakread.lib.test$tapped_STAR_ invoke "test.clj" 172]
  [com.yakread.lib.test$eval_STAR_ invokeStatic "test.clj" 197]
  [com.yakread.lib.test$eval_STAR_ invoke "test.clj" 195]
  [clojure.core$mapv$fn__8565 invoke "core.clj" 7059]
  [clojure.lang.ArrayChunk reduce "ArrayChunk.java" 65]
  [clojure.core.protocols$fn__8270 invokeStatic "protocols.clj" 135]
  [clojure.core.protocols$fn__8270 invoke "protocols.clj" 123]
  [clojure.core.protocols$fn__8229$G__8224__8238 invoke "protocols.clj" 19]
  [clojure.core.protocols$seq_reduce invokeStatic "protocols.clj" 31]
  [clojure.core.protocols$fn__8262 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8262 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$reduce invokeStatic "core.clj" 6965]
  [clojure.core$mapv invokeStatic "core.clj" 7050]
  [clojure.core$mapv invoke "core.clj" 7050]
  [com.yakread.lib.test$run_examples_BANG_$fn__70661 invoke "test.clj" 259]
  [com.yakread.lib.test$run_examples_BANG_ invokeStatic "test.clj" 252]
  [com.yakread.lib.test$run_examples_BANG_ doInvoke "test.clj" 247]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [clojure.lang.Var invoke "Var.java" 386]
  [clojure.run.exec$exec invokeStatic "exec.clj" 88]
  [clojure.run.exec$exec invoke "exec.clj" 78]
  [clojure.run.exec$_main$fn__218 invoke "exec.clj" 227]
  [clojure.run.exec$_main invokeStatic "exec.clj" 223]
  [clojure.run.exec$_main doInvoke "exec.clj" 191]
  [clojure.lang.RestFn applyTo "RestFn.java" 140]
  [clojure.lang.Var applyTo "Var.java" 707]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.main$main_opt invokeStatic "main.clj" 515]
  [clojure.main$main_opt invoke "main.clj" 511]
  [clojure.main$main invokeStatic "main.clj" 665]
  [clojure.main$main doInvoke "main.clj" 617]
  [clojure.lang.RestFn applyTo "RestFn.java" 140]
  [clojure.lang.Var applyTo "Var.java" 707]
  [clojure.main main "main.java" 40]]}}
  _
  {:doc "digest-sends",
   :eval
   (t/with-sqlite
    [conn
     {:digest
      [{:xt/id "digest1", :digest/user-id "user1", :digest/ad-id "ad1"}
       {:xt/id "digest2",
        :digest/user-id "user1",
        :digest/ad-id "ad1"}],
      :digest-item
      [{:xt/id "digest-item1",
        :digest-item/digest-id "digest1",
        :digest-item/item-id "item2",
        :digest-item/kind :digest-item.kind/icymi}
       {:xt/id "digest-item2",
        :digest-item/digest-id "digest1",
        :digest-item/item-id "item3",
        :digest-item/kind :digest-item.kind/discover}
       {:xt/id "digest-item3",
        :digest-item/digest-id "digest1",
        :digest-item/item-id "item4",
        :digest-item/kind :digest-item.kind/discover}
       {:xt/id "digest-item4",
        :digest-item/digest-id "digest2",
        :digest-item/item-id "item4",
        :digest-item/kind :digest-item.kind/discover}]}]
    (digest-sends
     {:biff/conn* conn, :session {:uid "user1"}}
     [{:xt/id "item1"}
      {:xt/id "item2"}
      {:xt/id "item3"}
      {:xt/id "item4"}
      {:xt/id "item5"}
      {:xt/id "ad1"}
      {:xt/id "ad2"}])),
   :ex #error {
 :cause "class java.lang.String cannot be cast to class [B (java.lang.String and [B are in module java.base of loader 'bootstrap')"
 :via
 [{:type java.lang.ClassCastException
   :message "class java.lang.String cannot be cast to class [B (java.lang.String and [B are in module java.base of loader 'bootstrap')"
   :at [com.biffweb.sqlite$bytes__GT_uuid invokeStatic "sqlite.clj" 137]}]
 :trace
 [[com.biffweb.sqlite$bytes__GT_uuid invokeStatic "sqlite.clj" 137]
  [com.biffweb.sqlite$bytes__GT_uuid invoke "sqlite.clj" 134]
  [com.biffweb.sqlite$make_column_reader$fn__34963 invoke "sqlite.clj" 282]
  [next.jdbc.result_set$builder_adapter$fn$reify__15405 with_column "result_set.clj" 193]
  [next.jdbc.result_set$row_builder$fn__15516 invoke "result_set.clj" 447]
  [clojure.lang.LongRange reduce "LongRange.java" 170]
  [clojure.core$reduce invokeStatic "core.clj" 6964]
  [clojure.core$reduce invoke "core.clj" 6947]
  [next.jdbc.result_set$row_builder invokeStatic "result_set.clj" 447]
  [next.jdbc.result_set$row_builder invoke "result_set.clj" 443]
  [next.jdbc.result_set$datafiable_result_set invokeStatic "result_set.clj" 663]
  [next.jdbc.result_set$datafiable_result_set invoke "result_set.clj" 639]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 905]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.biffweb.sqlite$execute$run__35051 invoke "sqlite.clj" 492]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 495]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 852]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 841]
  [com.yakread.model.item$digest_sends__61242 invokeStatic "item.clj" 299]
  [com.yakread.model.item$digest_sends__61242 invoke "item.clj" 295]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp49145$eval95706 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp49145$eval95706 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
