{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.item :refer :all]
  [com.wsscode.pathom3.connect.operation :as pco]],
 :tests
 [{:eval
   (t/with-sqlite
    [conn
     {:user-item
      [{:xt/id (t/uuid 29),
        :user-item/user-id (t/uuid 32),
        :user-item/item-id (t/uuid 11),
        :user-item/favorited-at (t/zdt 2000)}
       {:xt/id (t/uuid 30),
        :user-item/user-id (t/uuid 32),
        :user-item/item-id (t/uuid 12)}
       {:xt/id (t/uuid 31),
        :user-item/user-id (t/uuid 33),
        :user-item/item-id (t/uuid 13),
        :user-item/favorited-at (t/zdt 2000)}]}]
    (user-favorites {:biff/conn* conn} {:user/id (t/uuid 32)})),
   :result {:user/favorites [], :user/more-favorites false}}
  _
  {:eval
   (t/with-sqlite
    [conn
     {:user-item
      [{:xt/id (t/uuid 29),
        :user-item/user-id (t/uuid 32),
        :user-item/item-id (t/uuid 11),
        :user-item/bookmarked-at (t/zdt 2000)}
       {:xt/id (t/uuid 30),
        :user-item/user-id (t/uuid 32),
        :user-item/item-id (t/uuid 12)}
       {:xt/id (t/uuid 31),
        :user-item/user-id (t/uuid 33),
        :user-item/item-id (t/uuid 13),
        :user-item/bookmarked-at (t/zdt 2000)}]}]
    (user-bookmarks {:biff/conn* conn} {:user/id (t/uuid 32)})),
   :result {:user/bookmarks [], :user/more-bookmarks false}}
  _
  {:eval
   (t/with-sqlite
    [conn
     {:reclist
      [{:xt/id (t/uuid 16), :reclist/user-id (t/uuid 32)}
       {:xt/id (t/uuid 17), :reclist/user-id (t/uuid 32)}
       {:xt/id (t/uuid 18), :reclist/user-id (t/uuid 33)}
       {:xt/id (t/uuid 19), :reclist/user-id (t/uuid 32)}
       {:xt/id (t/uuid 20), :reclist/user-id (t/uuid 32)}],
      :skip
      [{:xt/id (t/uuid 21),
        :skip/reclist-id (t/uuid 16),
        :skip/item-id (t/uuid 11)}
       {:xt/id (t/uuid 22),
        :skip/reclist-id (t/uuid 17),
        :skip/item-id (t/uuid 11)}
       {:xt/id (t/uuid 23),
        :skip/reclist-id (t/uuid 18),
        :skip/item-id (t/uuid 11)}
       {:xt/id (t/uuid 24),
        :skip/reclist-id (t/uuid 19),
        :skip/item-id (t/uuid 12)}
       {:xt/id (t/uuid 25),
        :skip/reclist-id (t/uuid 20),
        :skip/item-id (t/uuid 13)}]}]
    (n-skipped
     {:biff/conn* conn, :session {:uid (t/uuid 32)}}
     [{:xt/id (t/uuid 11)}
      {:xt/id (t/uuid 12)}
      {:xt/id (t/uuid 14)}])),
   :ex #error {
 :cause "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
 :via
 [{:type java.lang.ClassCastException
   :message "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
   :at [clojure.core$name invokeStatic "core.clj" 1610]}]
 :trace
 [[clojure.core$name invokeStatic "core.clj" 1610]
  [clojure.core$name invoke "core.clj" 1604]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$transduce invokeStatic "core.clj" 7025]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.yakread.util.biff_staging$unqualify_aliases invokeStatic "biff_staging.clj" 947]
  [com.yakread.util.biff_staging$unqualify_aliases invoke "biff_staging.clj" 940]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 976]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 958]
  [com.yakread.model.item$n_skipped__61197 invokeStatic "item.clj" 77]
  [com.yakread.model.item$n_skipped__61197 invoke "item.clj" 73]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp474990$eval95562 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp474990$eval95562 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:eval
   (t/with-sqlite
    [conn
     {:user-item
      [{:xt/id (t/uuid 29),
        :user-item/user-id (t/uuid 32),
        :user-item/item-id (t/uuid 11)}
       {:xt/id (t/uuid 30),
        :user-item/user-id (t/uuid 32),
        :user-item/item-id (t/uuid 12)}
       {:xt/id (t/uuid 31),
        :user-item/user-id (t/uuid 33),
        :user-item/item-id (t/uuid 13)}]}]
    (user-item
     {:biff/conn* conn, :session {:uid (t/uuid 32)}}
     [{:xt/id (t/uuid 11)}
      {:xt/id (t/uuid 12)}
      {:xt/id (t/uuid 13)}])),
   :ex #error {
 :cause "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
 :via
 [{:type java.lang.ClassCastException
   :message "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
   :at [clojure.core$name invokeStatic "core.clj" 1610]}]
 :trace
 [[clojure.core$name invokeStatic "core.clj" 1610]
  [clojure.core$name invoke "core.clj" 1604]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$transduce invokeStatic "core.clj" 7025]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.yakread.util.biff_staging$unqualify_aliases invokeStatic "biff_staging.clj" 947]
  [com.yakread.util.biff_staging$unqualify_aliases invoke "biff_staging.clj" 940]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 976]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 958]
  [com.yakread.model.item$user_item__61207 invokeStatic "item.clj" 102]
  [com.yakread.model.item$user_item__61207 invoke "item.clj" 93]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp474990$eval95564 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp474990$eval95564 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "image-from-feed",
   :eval
   (t/with-sqlite
    [conn
     {:feed
      [{:xt/id (t/uuid 9),
        :feed/url "url1",
        :feed/image-url "image-url1"}
       {:xt/id (t/uuid 10),
        :feed/url "url2",
        :feed/image-url "image-url2"}]}]
    (image-from-feed
     {:biff/conn* conn}
     [{:item.feed/feed {:feed/image-url "image-url3"}}
      {:item.feed/feed {:feed/image-url "image-url4"},
       :item/feed-url "url1"}
      {:item/feed-url "url1"}
      {:item/feed-url "url3"}])),
   :ex #error {
 :cause "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
 :via
 [{:type java.lang.ClassCastException
   :message "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
   :at [clojure.core$name invokeStatic "core.clj" 1610]}]
 :trace
 [[clojure.core$name invokeStatic "core.clj" 1610]
  [clojure.core$name invoke "core.clj" 1604]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$transduce invokeStatic "core.clj" 7025]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.yakread.util.biff_staging$unqualify_aliases invokeStatic "biff_staging.clj" 947]
  [com.yakread.util.biff_staging$unqualify_aliases invoke "biff_staging.clj" 940]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 976]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 958]
  [com.yakread.model.item$image_from_feed__61215 invokeStatic "item.clj" 117]
  [com.yakread.model.item$image_from_feed__61215 invoke "item.clj" 108]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp474990$eval95566 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp474990$eval95566 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "history-items",
   :eval
   (t/with-sqlite
    [conn
     {:user-item
      [{:xt/id (t/uuid 29),
        :user-item/user-id (t/uuid 32),
        :user-item/item-id (t/uuid 11),
        :user-item/viewed-at (t/zdt 2000)}
       {:xt/id (t/uuid 30),
        :user-item/user-id (t/uuid 32),
        :user-item/item-id (t/uuid 12),
        :user-item/viewed-at (t/zdt 1999),
        :user-item/favorited-at (t/zdt 2001)}]}]
    {:all
     (history-items
      {:biff/conn* conn}
      {:session/user {:xt/id (t/uuid 32)}}),
     :page-1
     (history-items
      (pco/with-node-params {:biff/conn* conn} {:batch-size 1})
      {:session/user {:xt/id (t/uuid 32)}}),
     :page-2
     (history-items
      {:biff/conn* conn}
      {:session/user {:xt/id (t/uuid 32)},
       :params/paginate-after (t/uuid 12)})}),
   :ex #error {
 :cause "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
 :via
 [{:type java.lang.ClassCastException
   :message "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
   :at [clojure.core$name invokeStatic "core.clj" 1610]}]
 :trace
 [[clojure.core$name invokeStatic "core.clj" 1610]
  [clojure.core$name invoke "core.clj" 1604]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$transduce invokeStatic "core.clj" 7025]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.yakread.util.biff_staging$unqualify_aliases invokeStatic "biff_staging.clj" 947]
  [com.yakread.util.biff_staging$unqualify_aliases invoke "biff_staging.clj" 940]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 976]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 958]
  [com.yakread.model.item$history_items__61232 invokeStatic "item.clj" 145]
  [com.yakread.model.item$history_items__61232 invoke "item.clj" 136]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp474990$eval95568 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp474990$eval95568 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "feed-sub",
   :eval
   (t/with-sqlite
    [conn
     {:sub
      [{:xt/id (t/uuid 26),
        :sub/user-id (t/uuid 32),
        :sub/feed-id (t/uuid 9)}
       {:xt/id (t/uuid 27),
        :sub/user-id (t/uuid 32),
        :sub/feed-id (t/uuid 10)}]}]
    (feed-sub
     {:biff/conn* conn, :session {:uid (t/uuid 32)}}
     [{:item.feed/feed {:xt/id (t/uuid 9)}}])),
   :result [{:item/sub {:xt/id nil}}]}
  _
  {:doc "email-sub",
   :eval (email-sub-resolver {:item/email-sub {:xt/id (t/uuid 28)}}),
   :result
   {:item/sub {:xt/id #uuid "00280000-0000-0000-0000-000000000028"}}}
  _
  {:doc "digest-sends",
   :eval
   (t/with-sqlite
    [conn
     {:digest
      [{:xt/id (t/uuid 7),
        :digest/user-id (t/uuid 32),
        :digest/ad-id (t/uuid 1)}
       {:xt/id (t/uuid 8),
        :digest/user-id (t/uuid 32),
        :digest/ad-id (t/uuid 1)}],
      :digest-item
      [{:xt/id (t/uuid 3),
        :digest-item/digest-id (t/uuid 7),
        :digest-item/item-id (t/uuid 12),
        :digest-item/kind :digest-item.kind/icymi}
       {:xt/id (t/uuid 4),
        :digest-item/digest-id (t/uuid 7),
        :digest-item/item-id (t/uuid 13),
        :digest-item/kind :digest-item.kind/discover}
       {:xt/id (t/uuid 5),
        :digest-item/digest-id (t/uuid 7),
        :digest-item/item-id (t/uuid 14),
        :digest-item/kind :digest-item.kind/discover}
       {:xt/id (t/uuid 6),
        :digest-item/digest-id (t/uuid 8),
        :digest-item/item-id (t/uuid 14),
        :digest-item/kind :digest-item.kind/discover}]}]
    (digest-sends
     {:biff/conn* conn, :session {:uid (t/uuid 32)}}
     [{:xt/id (t/uuid 11)}
      {:xt/id (t/uuid 12)}
      {:xt/id (t/uuid 13)}
      {:xt/id (t/uuid 14)}
      {:xt/id (t/uuid 15)}
      {:xt/id (t/uuid 1)}
      {:xt/id (t/uuid 2)}])),
   :ex #error {
 :cause "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
 :via
 [{:type java.lang.ClassCastException
   :message "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
   :at [clojure.core$name invokeStatic "core.clj" 1610]}]
 :trace
 [[clojure.core$name invokeStatic "core.clj" 1610]
  [clojure.core$name invoke "core.clj" 1604]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$transduce invokeStatic "core.clj" 7025]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.yakread.util.biff_staging$unqualify_aliases invokeStatic "biff_staging.clj" 947]
  [com.yakread.util.biff_staging$unqualify_aliases invoke "biff_staging.clj" 940]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 976]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 958]
  [com.yakread.model.item$digest_sends__61331 invokeStatic "item.clj" 299]
  [com.yakread.model.item$digest_sends__61331 invoke "item.clj" 295]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp474990$eval95574 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp474990$eval95574 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
