{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.item :refer :all]
  [com.wsscode.pathom3.connect.operation :as pco]],
 :tests
 [{:eval
   (t/with-node
    [node
     {:user-item
      [{:xt/id "user-item1",
        :user-item/user "user1",
        :user-item/item "item1",
        :user-item/favorited-at (t/zdt 2000)}
       {:xt/id "user-item2",
        :user-item/user "user1",
        :user-item/item "item2"}
       {:xt/id "user-item3",
        :user-item/user "user2",
        :user-item/item "item3",
        :user-item/favorited-at (t/zdt 2000)}]}]
    (user-favorites {:biff/conn node} {:user/id "user1"})),
   :result {:user/favorites [], :user/more-favorites false}}
  _
  {:eval
   (t/with-node
    [node
     {:user-item
      [{:xt/id "user-item1",
        :user-item/user "user1",
        :user-item/item "item1",
        :user-item/bookmarked-at (t/zdt 2000)}
       {:xt/id "user-item2",
        :user-item/user "user1",
        :user-item/item "item2"}
       {:xt/id "user-item3",
        :user-item/user "user2",
        :user-item/item "item3",
        :user-item/bookmarked-at (t/zdt 2000)}]}]
    (user-bookmarks {:biff/conn node} {:user/id "user1"})),
   :result {:user/bookmarks [], :user/more-bookmarks false}}
  _
  {:eval
   (t/with-node
    [node
     {:reclist
      [{:xt/id "reclist1", :reclist/user "user1"}
       {:xt/id "reclist2", :reclist/user "user1"}
       {:xt/id "reclist3", :reclist/user "user2"}
       {:xt/id "reclist4", :reclist/user "user1"}
       {:xt/id "reclist5", :reclist/user "user1"}],
      :skip
      [{:xt/id "skip1", :skip/reclist "reclist1", :skip/item "item1"}
       {:xt/id "skip2", :skip/reclist "reclist2", :skip/item "item1"}
       {:xt/id "skip3", :skip/reclist "reclist3", :skip/item "item1"}
       {:xt/id "skip4", :skip/reclist "reclist4", :skip/item "item2"}
       {:xt/id "skip5",
        :skip/reclist "reclist5",
        :skip/item "item3"}]}]
    (n-skipped
     {:biff/conn node, :session {:uid "user1"}}
     [{:xt/id "item1"} {:xt/id "item2"} {:xt/id "item4"}])),
   :result
   [{:xt/id "item1", :item/n-skipped 2}
    {:xt/id "item2", :item/n-skipped 1}
    {:xt/id "item4", :item/n-skipped 0}]}
  _
  {:eval
   (t/with-node
    [node
     {:user-item
      [{:xt/id "user-item1",
        :user-item/user "user1",
        :user-item/item "item1"}
       {:xt/id "user-item2",
        :user-item/user "user1",
        :user-item/item "item2"}
       {:xt/id "user-item3",
        :user-item/user "user2",
        :user-item/item "item3"}]}]
    (user-item
     {:biff/conn node, :session {:uid "user1"}}
     [{:xt/id "item1"} {:xt/id "item2"} {:xt/id "item3"}])),
   :result
   [{:xt/id "item1", :item/user-item {:xt/id "user-item1"}}
    {:xt/id "item2", :item/user-item {:xt/id "user-item2"}}
    {}]}
  _
  {:doc "image-from-feed",
   :eval
   (t/with-node
    [node
     {:feed
      [{:xt/id "feed1", :feed/url "url1", :feed/image-url "image-url1"}
       {:xt/id "feed2",
        :feed/url "url2",
        :feed/image-url "image-url2"}]}]
    (image-from-feed
     {:biff/conn node}
     [{:item.feed/feed {:feed/image-url "image-url3"}}
      {:item.feed/feed {:feed/image-url "image-url4"},
       :item/feed-url "url1"}
      {:item/feed-url "url1"}
      {:item/feed-url "url3"}])),
   :result
   [{:item/image-url "image-url3"}
    {:item/image-url "image-url4"}
    {:item/image-url "image-url1"}
    {}]}
  _
  {:doc "history-items",
   :eval
   (t/with-node
    [node
     {:user-item
      [{:xt/id "user-item1",
        :user-item/user "user1",
        :user-item/item "item1",
        :user-item/viewed-at (t/zdt 2000)}
       {:xt/id "user-item2",
        :user-item/user "user1",
        :user-item/item "item2",
        :user-item/viewed-at (t/zdt 1999),
        :user-item/favorited-at (t/zdt 2001)}]}]
    {:all
     (history-items
      {:biff/conn node}
      {:session/user {:xt/id "user1"}}),
     :page-1
     (history-items
      (pco/with-node-params {:biff/conn node} {:batch-size 1})
      {:session/user {:xt/id "user1"}}),
     :page-2
     (history-items
      {:biff/conn node}
      {:session/user {:xt/id "user1"},
       :params/paginate-after "item2"})}),
   :result
   {:all
    {:user/history-items
     [{:xt/id "item2", :item/user-item {:xt/id "user-item2"}}
      {:xt/id "item1", :item/user-item {:xt/id "user-item1"}}]},
    :page-1
    {:user/history-items
     [{:xt/id "item2", :item/user-item {:xt/id "user-item2"}}]},
    :page-2
    {:user/history-items
     [{:xt/id "item1", :item/user-item {:xt/id "user-item1"}}]}}}
  _
  {:doc "feed-sub",
   :eval
   (t/with-node
    [node
     {:sub
      [{:xt/id "sub1", :sub/user "user1", :sub.feed/feed "feed1"}
       {:xt/id "sub2", :sub/user "user1", :sub.feed/feed "feed2"}]}]
    (feed-sub
     {:biff/conn node, :session {:uid "user1"}}
     [{:item.feed/feed {:xt/id "feed1"}}])),
   :result [{:item/sub {:xt/id "sub1"}}]}
  _
  {:doc "email-sub",
   :eval (email-sub {:item.email/sub {:xt/id "sub3"}}),
   :result {:item/sub {:xt/id "sub3"}}}
  _
  {:doc "digest-sends",
   :eval
   (t/with-node
    [node
     {:digest
      [{:xt/id "digest1", :digest/user "user1", :digest/ad "ad1"}
       {:xt/id "digest2", :digest/user "user1", :digest/ad "ad1"}],
      :digest-item
      [{:xt/id "digest-item1",
        :digest-item/digest "digest1",
        :digest-item/item "item2",
        :digest-item/kind :icymi}
       {:xt/id "digest-item2",
        :digest-item/digest "digest1",
        :digest-item/item "item3",
        :digest-item/kind :discover}
       {:xt/id "digest-item3",
        :digest-item/digest "digest1",
        :digest-item/item "item4",
        :digest-item/kind :discover}
       {:xt/id "digest-item4",
        :digest-item/digest "digest2",
        :digest-item/item "item4",
        :digest-item/kind :discover}]}]
    (digest-sends
     {:biff/conn node, :session {:uid "user1"}}
     [{:xt/id "item1"}
      {:xt/id "item2"}
      {:xt/id "item3"}
      {:xt/id "item4"}
      {:xt/id "item5"}
      {:xt/id "ad1"}
      {:xt/id "ad2"}])),
   :result
   [{:xt/id "item1", :item/n-digest-sends 0}
    {:xt/id "item2", :item/n-digest-sends 1}
    {:xt/id "item3", :item/n-digest-sends 1}
    {:xt/id "item4", :item/n-digest-sends 2}
    {:xt/id "item5", :item/n-digest-sends 0}
    {:xt/id "ad1", :item/n-digest-sends 2}
    {:xt/id "ad2", :item/n-digest-sends 0}]}
  _]}
