{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.moderation :refer :all]],
 :tests
 [{:eval
   (t/with-sqlite
    [conn
     {:item
      [{:xt/id (t/uuid 1),
        :item/url "url1",
        :item/record-type :item.record-type/direct,
        :item/direct-candidate-status
        :item.direct-candidate-status/approved,
        :item/ingested-at (t/zdt 2000)}
       {:xt/id (t/uuid 2),
        :item/url "url2",
        :item/record-type :item.record-type/direct,
        :item/ingested-at (t/zdt 2000)}
       {:xt/id (t/uuid 3),
        :item/url "url3",
        :item/record-type :item.record-type/direct,
        :item/ingested-at (t/zdt 2000)}]}]
    (next-batch
     {:biff/conn* conn,
      :yakread.model/all-liked-items
      [{:item/id (t/uuid 1), :item/n-likes 2}
       {:item/id (t/uuid 2), :item/n-likes 3}]}
     {})),
   :ex #error {
 :cause "[SQLITE_ERROR] SQL error or missing database (no such column: item.record_type.direct)"
 :via
 [{:type org.sqlite.SQLiteException
   :message "[SQLITE_ERROR] SQL error or missing database (no such column: item.record_type.direct)"
   :at [org.sqlite.core.DB newSQLException "DB.java" 1179]}]
 :trace
 [[org.sqlite.core.DB newSQLException "DB.java" 1179]
  [org.sqlite.core.DB newSQLException "DB.java" 1190]
  [org.sqlite.core.DB throwex "DB.java" 1150]
  [org.sqlite.core.NativeDB prepare_utf8 "NativeDB.java" -2]
  [org.sqlite.core.NativeDB prepare "NativeDB.java" 135]
  [org.sqlite.core.DB prepare "DB.java" 264]
  [org.sqlite.core.CorePreparedStatement <init> "CorePreparedStatement.java" 46]
  [org.sqlite.jdbc3.JDBC3PreparedStatement <init> "JDBC3PreparedStatement.java" 32]
  [org.sqlite.jdbc4.JDBC4PreparedStatement <init> "JDBC4PreparedStatement.java" 28]
  [org.sqlite.jdbc4.JDBC4Connection prepareStatement "JDBC4Connection.java" 34]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 225]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 205]
  [next.jdbc.prepare$create invokeStatic "prepare.clj" 134]
  [next.jdbc.prepare$create invoke "prepare.clj" 84]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 895]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.biffweb.sqlite$execute$run__35051 invoke "sqlite.clj" 492]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 495]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 852]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 841]
  [com.yakread.model.moderation$next_batch__61263 invokeStatic "moderation.clj" 12]
  [com.yakread.model.moderation$next_batch__61263 invoke "moderation.clj" 6]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp780555$eval95671 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp780555$eval95671 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
