{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.moderation :refer :all]],
 :tests
 [{:eval
   (t/with-sqlite
    [ctx
     {:item
      [{:item/id (t/uuid 1),
        :item/url "url1",
        :item/record-type [:lift :item.record-type/direct],
        :item/direct-candidate-status
        [:lift :item.direct-candidate-status/approved]}
       {:item/id (t/uuid 2),
        :item/url "url2",
        :item/record-type [:lift :item.record-type/direct]}
       {:item/id (t/uuid 3),
        :item/url "url3",
        :item/record-type [:lift :item.record-type/direct]}]}]
    (next-batch
     (assoc
      ctx
      :yakread.model/all-liked-items
      [{:item/id (t/uuid 1), :item/n-likes 2}
       {:item/id (t/uuid 2), :item/n-likes 3}])
     {})),
   :result
   {:admin.moderation/remaining 1,
    :admin.moderation/approved 1,
    :admin.moderation/blocked 0,
    :admin.moderation/ingest-failed 0,
    :admin.moderation/next-batch
    [{:item/id #uuid "00020000-0000-0000-0000-000000000002",
      :item/url "url2",
      :item/record-type :item.record-type/direct,
      :item/direct-candidate-status nil,
      :item/n-likes 3}]}}
  _]}
