{:require
 [[com.yakread.model.recommend :refer :all]
  [com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]],
 :tests
 [{:eval (take-rand [1]), :result (1)}
  _
  {:eval (weight 0), :result 1.0}
  _
  {:eval (weight 1), :result 0.9355069850316178}
  _
  {:eval (weight 5), :result 0.7165313105737893}
  _
  {:eval (weight 10), :result 0.513417119032592}
  _
  {:eval (weight 50), :result 0.03567399334725241}
  _
  {:eval (weight 100), :result 0.0012726338013398079}
  _
  {:eval
   (let
    [weights (mapv weight (range 100)) total (apply + weights)]
    [(/ (apply + (take 10 weights)) total)
     (/ (apply + (take 50 weights)) total)]),
   :result [0.4872029118611535 0.965554804333789]}
  _
  {:eval
   (binding
    [gen/*rnd* (java.util.Random. 3)]
    (doall (interleave-uniform [:a :b :c :d] [1 2 3 4 5]))),
   :result (1 2 3 :a :b 4 :c :d 5)}
  _
  {:eval
   (t/with-sqlite
    [conn
     {:skip
      [{:xt/id (t/uuid 3),
        :skip/reclist-id "reclist1",
        :skip/item-id "item1"}
       {:xt/id (t/uuid 4),
        :skip/reclist-id "reclist1",
        :skip/item-id "item2"}
       {:xt/id (t/uuid 5),
        :skip/reclist-id "reclist2",
        :skip/item-id "item4"}],
      :reclist
      [{:xt/id (t/uuid 6),
        :reclist/user-id "user1",
        :reclist/created-at (t/zdt 2000)}
       {:xt/id (t/uuid 7),
        :reclist/user-id "user1",
        :reclist/created-at (t/zdt 2002)}],
      :user-item
      [{:xt/id (t/uuid 8),
        :user-item/item-id "item3",
        :user-item/user-id "user1",
        :user-item/favorited-at (t/zdt 2001)}
       {:xt/id (t/uuid 9),
        :user-item/item-id "item5",
        :user-item/user-id "user1",
        :user-item/viewed-at (t/zdt 2003)}]}]
    (sub-affinity*
     {:biff/conn* conn}
     [{:sub/id (t/uuid 1),
       :sub/title "my sub",
       :sub/user {:xt/id (t/uuid 10)},
       :sub/items [{:xt/id (t/uuid 11)} {:xt/id (t/uuid 12)} {:xt/id (t/uuid 13)}]}
      {:sub/id (t/uuid 2),
       :sub/title "my other sub",
       :sub/user {:xt/id (t/uuid 10)},
       :sub/items [{:xt/id (t/uuid 14)} {:xt/id (t/uuid 15)}]}])),
   :ex #error {
 :cause "class java.lang.String cannot be cast to class [B (java.lang.String and [B are in module java.base of loader 'bootstrap')"
 :via
 [{:type java.lang.ClassCastException
   :message "class java.lang.String cannot be cast to class [B (java.lang.String and [B are in module java.base of loader 'bootstrap')"
   :at [com.biffweb.sqlite$bytes__GT_uuid invokeStatic "sqlite.clj" 137]}]
 :trace
 [[com.biffweb.sqlite$bytes__GT_uuid invokeStatic "sqlite.clj" 137]
  [com.biffweb.sqlite$bytes__GT_uuid invoke "sqlite.clj" 134]
  [com.biffweb.sqlite$make_column_reader$fn__34963 invoke "sqlite.clj" 282]
  [next.jdbc.result_set$builder_adapter$fn$reify__15405 with_column "result_set.clj" 193]
  [next.jdbc.result_set$row_builder$fn__15516 invoke "result_set.clj" 447]
  [clojure.lang.LongRange reduce "LongRange.java" 170]
  [clojure.core$reduce invokeStatic "core.clj" 6964]
  [clojure.core$reduce invoke "core.clj" 6947]
  [next.jdbc.result_set$row_builder invokeStatic "result_set.clj" 447]
  [next.jdbc.result_set$row_builder invoke "result_set.clj" 443]
  [next.jdbc.result_set$datafiable_result_set invokeStatic "result_set.clj" 663]
  [next.jdbc.result_set$datafiable_result_set invoke "result_set.clj" 639]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 905]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.biffweb.sqlite$execute$run__35051 invoke "sqlite.clj" 492]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 495]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 852]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 841]
  [com.yakread.model.recommend$sub_affinity_STAR___63936 invokeStatic "recommend.clj" 106]
  [com.yakread.model.recommend$sub_affinity_STAR___63936 invoke "recommend.clj" 87]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp252121$eval95595 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp252121$eval95595 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:eval
   (binding
    [gen/*rnd* (java.util.Random. 0)]
    (for-you-sub-recs
     {:user/selected-subs
      [{:item/rec-type :item.rec-type/subscription,
        :sub/title "sub1",
        :sub/unread-items
        [{:item/id (t/uuid 11),
          :item/ingested-at (t/instant 2000),
          :item/n-skipped 10}
         {:item/id (t/uuid 12),
          :item/ingested-at (t/instant 2001),
          :item/n-skipped 1}]}
       {:item/rec-type :item.rec-type/subscription,
        :sub/title "sub2",
        :sub/unread-items []}]})),
   :result
   {:user/for-you-sub-recs
    [{:item/id (t/uuid 11),
      :item/ingested-at #time/instant "2000-01-01T00:00:00Z",
      :item/n-skipped 10,
      :item/rec-type :item.rec-type/subscription}]}}
  _
  {:eval
   (binding
    [gen/*rnd* (java.util.Random. 0)]
    (icymi-sub-recs
     {:user/selected-subs
      [{:item/rec-type :item.rec-type/subscription,
        :sub/title "sub1",
        :sub/unread-items
        [{:item/id (t/uuid 11),
          :item/ingested-at (t/instant 2000),
          :item/n-skipped 10}
         {:item/id (t/uuid 12),
          :item/ingested-at (t/instant 2001),
          :item/n-skipped 1}]}
       {:item/rec-type :item.rec-type/subscription,
        :sub/title "sub2",
        :sub/unread-items []}],
      :user/digest-sub-items [{:xt/id (t/uuid 11)}]})),
   :result
   {:user/icymi-sub-recs
    [{:item/id (t/uuid 12),
      :item/ingested-at #time/instant "2001-01-01T00:00:00Z",
      :item/n-skipped 1,
      :item/rec-type :item.rec-type/subscription}]}}
  _
  {:eval
   (binding
    [gen/*rnd* (java.util.Random. 0)]
    (icymi-bookmark-recs
     {:user/digest-bookmarks [{:xt/id (t/uuid 11)} {:xt/id (t/uuid 12)}],
      :user/unread-bookmarks
      [{:item/id (t/uuid 11),
        :item/ingested-at (t/instant 2000),
        :item/n-skipped-with-digests 0}
       {:item/id (t/uuid 12),
        :item/ingested-at (t/instant 2000),
        :item/n-skipped-with-digests 0}
       {:item/id (t/uuid 13),
        :item/ingested-at (t/instant 2000),
        :item/n-skipped-with-digests 0,
        :item/url "https://example.com/article1"}
       {:item/id (t/uuid 14),
        :item/ingested-at (t/instant 2000),
        :item/n-skipped-with-digests 0,
        :item/url "https://example.com/article2"}]})),
   :result
   {:user/icymi-bookmark-recs
    [{:item/id (t/uuid 14),
      :item/ingested-at #time/instant "2000-01-01T00:00:00Z",
      :item/n-skipped-with-digests 0,
      :item/url "https://example.com/article2",
      :item/rec-type :item.rec-type/bookmark}]}}
  _
  {:eval
   (let
    [item
     (fn
      [i]
      {:item/id (str "item" i),
       :item/ingested-at (t/instant (+ 2000 i)),
       :item/n-skipped i})]
    (binding
     [gen/*rnd* (java.util.Random. 0)]
     (icymi-recs
      {:user/icymi-sub-recs (mapv item (range 1 4)),
       :user/icymi-bookmark-recs (mapv item (range 4 7))}))),
   :result
   {:user/icymi-recs
    [{:item/id (t/uuid 14),
      :item/ingested-at #time/instant "2004-01-01T00:00:00Z",
      :item/n-skipped 4}
     {:item/id (t/uuid 12),
      :item/ingested-at #time/instant "2002-01-01T00:00:00Z",
      :item/n-skipped 2}
     {:item/id (t/uuid 13),
      :item/ingested-at #time/instant "2003-01-01T00:00:00Z",
      :item/n-skipped 3}
     {:item/id (t/uuid 15),
      :item/ingested-at #time/instant "2005-01-01T00:00:00Z",
      :item/n-skipped 5}
     {:item/id (t/uuid 11),
      :item/ingested-at #time/instant "2001-01-01T00:00:00Z",
      :item/n-skipped 1}]}}
  _
  {:doc "read-urls",
   :eval
   (t/with-sqlite
    [conn
     {:item
      [{:xt/id (t/uuid 11), :item/url "url1"}
       {:xt/id (t/uuid 12), :item/url "url2"}],
      :user-item
      [{:xt/id (t/uuid 16),
        :user-item/user-id "user1",
        :user-item/item-id "item1"}
       {:xt/id (t/uuid 17),
        :user-item/user-id "user1",
        :user-item/item-id "item2",
        :user-item/viewed-at (t/zdt 2000)}]}]
    (read-urls {:biff/conn* conn} {:user/id "user1"})),
   :result {:user/read-urls #{"url2"}}}
  _
  {:doc "clicked-ads",
   :eval
   (t/with-sqlite
    [conn
     {:ad-click
      [{:xt/id (t/uuid 18),
        :ad-click/ad-id "ad1",
        :ad-click/user-id "user1"}
       {:xt/id (t/uuid 19),
        :ad-click/ad-id "ad2",
        :ad-click/user-id "user2"}]}]
    (clicked-ads {:biff/conn* conn} {:user/id "user1"})),
   :ex #error {
 :cause "class java.lang.String cannot be cast to class [B (java.lang.String and [B are in module java.base of loader 'bootstrap')"
 :via
 [{:type java.lang.ClassCastException
   :message "class java.lang.String cannot be cast to class [B (java.lang.String and [B are in module java.base of loader 'bootstrap')"
   :at [com.biffweb.sqlite$bytes__GT_uuid invokeStatic "sqlite.clj" 137]}]
 :trace
 [[com.biffweb.sqlite$bytes__GT_uuid invokeStatic "sqlite.clj" 137]
  [com.biffweb.sqlite$bytes__GT_uuid invoke "sqlite.clj" 134]
  [com.biffweb.sqlite$make_column_reader$fn__34963 invoke "sqlite.clj" 282]
  [next.jdbc.result_set$builder_adapter$fn$reify__15405 with_column "result_set.clj" 193]
  [next.jdbc.result_set$row_builder$fn__15516 invoke "result_set.clj" 447]
  [clojure.lang.LongRange reduce "LongRange.java" 170]
  [clojure.core$reduce invokeStatic "core.clj" 6964]
  [clojure.core$reduce invoke "core.clj" 6947]
  [next.jdbc.result_set$row_builder invokeStatic "result_set.clj" 447]
  [next.jdbc.result_set$row_builder invoke "result_set.clj" 443]
  [next.jdbc.result_set$datafiable_result_set invokeStatic "result_set.clj" 663]
  [next.jdbc.result_set$datafiable_result_set invoke "result_set.clj" 639]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 905]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.biffweb.sqlite$execute$run__35051 invoke "sqlite.clj" 492]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 495]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 852]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 841]
  [com.yakread.model.recommend$clicked_ads__64198 invokeStatic "recommend.clj" 470]
  [com.yakread.model.recommend$clicked_ads__64198 invoke "recommend.clj" 467]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp252121$eval95617 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp252121$eval95617 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
