{:require
 [[com.yakread.model.recommend :refer :all]
  [com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]],
 :tests
 [{:eval (take-rand [1]), :result (1)}
  _
  {:eval (weight 0), :result 1.0}
  _
  {:eval (weight 1), :result 0.9355069850316178}
  _
  {:eval (weight 5), :result 0.7165313105737893}
  _
  {:eval (weight 10), :result 0.513417119032592}
  _
  {:eval (weight 50), :result 0.03567399334725241}
  _
  {:eval (weight 100), :result 0.0012726338013398079}
  _
  {:eval
   (let
    [weights (mapv weight (range 100)) total (apply + weights)]
    [(/ (apply + (take 10 weights)) total)
     (/ (apply + (take 50 weights)) total)]),
   :result [0.4872029118611535 0.965554804333789]}
  _
  {:eval
   (binding
    [gen/*rnd* (java.util.Random. 3)]
    (doall (interleave-uniform [:a :b :c :d] [1 2 3 4 5]))),
   :result (1 2 3 :a :b 4 :c :d 5)}
  _
  {:eval
   (t/with-sqlite
    [conn
     {:skip
      [{:xt/id "skip1",
        :skip/reclist-id "reclist1",
        :skip/item-id "item1"}
       {:xt/id "skip2",
        :skip/reclist-id "reclist1",
        :skip/item-id "item2"}
       {:xt/id "skip3",
        :skip/reclist-id "reclist2",
        :skip/item-id "item4"}],
      :reclist
      [{:xt/id "reclist1",
        :reclist/user-id "user1",
        :reclist/created-at (t/zdt 2000)}
       {:xt/id "reclist2",
        :reclist/user-id "user1",
        :reclist/created-at (t/zdt 2002)}],
      :user-item
      [{:xt/id "usit1",
        :user-item/item-id "item3",
        :user-item/user-id "user1",
        :user-item/favorited-at (t/zdt 2001)}
       {:xt/id "usit2",
        :user-item/item-id "item5",
        :user-item/user-id "user1",
        :user-item/viewed-at (t/zdt 2003)}]}]
    (sub-affinity*
     {:biff/conn* conn}
     [{:sub/id "sub1",
       :sub/title "my sub",
       :sub/user {:xt/id "user1"},
       :sub/items [{:xt/id "item1"} {:xt/id "item2"} {:xt/id "item3"}]}
      {:sub/id "sub2",
       :sub/title "my other sub",
       :sub/user {:xt/id "user1"},
       :sub/items [{:xt/id "item4"} {:xt/id "item5"}]}])),
   :ex #error {
 :cause "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
 :data {:attr :feed/moderation, :value :approved}
 :via
 [{:type clojure.lang.ExceptionInfo
   :message "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
   :data {:attr :feed/moderation, :value :approved}
   :at [com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]}]
 :trace
 [[com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]
  [clojure.core$map$fn__5954 invoke "core.clj" 2772]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$fn__5577 invoke "core.clj" 727]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$cat__5579$fn__5580 invoke "core.clj" 736]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core.protocols$seq_reduce invokeStatic "protocols.clj" 24]
  [clojure.core.protocols$fn__8262 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8262 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$reduce invokeStatic "core.clj" 6965]
  [clojure.core$cat$fn__8893 invoke "core.clj" 7817]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.core.protocols$iterator_reduce_BANG_ invokeStatic "protocols.clj" 42]
  [clojure.core.protocols$iter_reduce invokeStatic "protocols.clj" 52]
  [clojure.core.protocols$fn__8256 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8256 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$transduce invokeStatic "core.clj" 7026]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.biffweb.sqlite$build_enum_val__GT_int invokeStatic "sqlite.clj" 249]
  [com.biffweb.sqlite$build_enum_val__GT_int invoke "sqlite.clj" 244]
  [com.biffweb.sqlite$fn__35046 invokeStatic "sqlite.clj" 466]
  [com.biffweb.sqlite$fn__35046 invoke "sqlite.clj" 463]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$memoize$fn__6969 doInvoke "core.clj" 6424]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 482]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 851]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 840]
  [com.yakread.model.recommend$sub_affinity_STAR___63936 invokeStatic "recommend.clj" 106]
  [com.yakread.model.recommend$sub_affinity_STAR___63936 invoke "recommend.clj" 87]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp249420$eval95595 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp249420$eval95595 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:eval
   (binding
    [gen/*rnd* (java.util.Random. 0)]
    (for-you-sub-recs
     {:user/selected-subs
      [{:item/rec-type :item.rec-type/subscription,
        :sub/title "sub1",
        :sub/unread-items
        [{:item/id "item1",
          :item/ingested-at (t/instant 2000),
          :item/n-skipped 10}
         {:item/id "item2",
          :item/ingested-at (t/instant 2001),
          :item/n-skipped 1}]}
       {:item/rec-type :item.rec-type/subscription,
        :sub/title "sub2",
        :sub/unread-items []}]})),
   :result
   {:user/for-you-sub-recs
    [{:item/id "item1",
      :item/ingested-at #time/instant "2000-01-01T00:00:00Z",
      :item/n-skipped 10,
      :item/rec-type :item.rec-type/subscription}]}}
  _
  {:eval
   (binding
    [gen/*rnd* (java.util.Random. 0)]
    (icymi-sub-recs
     {:user/selected-subs
      [{:item/rec-type :item.rec-type/subscription,
        :sub/title "sub1",
        :sub/unread-items
        [{:item/id "item1",
          :item/ingested-at (t/instant 2000),
          :item/n-skipped 10}
         {:item/id "item2",
          :item/ingested-at (t/instant 2001),
          :item/n-skipped 1}]}
       {:item/rec-type :item.rec-type/subscription,
        :sub/title "sub2",
        :sub/unread-items []}],
      :user/digest-sub-items [{:xt/id "item1"}]})),
   :result
   {:user/icymi-sub-recs
    [{:item/id "item2",
      :item/ingested-at #time/instant "2001-01-01T00:00:00Z",
      :item/n-skipped 1,
      :item/rec-type :item.rec-type/subscription}]}}
  _
  {:eval
   (binding
    [gen/*rnd* (java.util.Random. 0)]
    (icymi-bookmark-recs
     {:user/digest-bookmarks [{:xt/id "item1"} {:xt/id "item2"}],
      :user/unread-bookmarks
      [{:item/id "item1",
        :item/ingested-at (t/instant 2000),
        :item/n-skipped-with-digests 0}
       {:item/id "item2",
        :item/ingested-at (t/instant 2000),
        :item/n-skipped-with-digests 0}
       {:item/id "item3",
        :item/ingested-at (t/instant 2000),
        :item/n-skipped-with-digests 0,
        :item/url "https://example.com/article1"}
       {:item/id "item4",
        :item/ingested-at (t/instant 2000),
        :item/n-skipped-with-digests 0,
        :item/url "https://example.com/article2"}]})),
   :result
   {:user/icymi-bookmark-recs
    [{:item/id "item4",
      :item/ingested-at #time/instant "2000-01-01T00:00:00Z",
      :item/n-skipped-with-digests 0,
      :item/url "https://example.com/article2",
      :item/rec-type :item.rec-type/bookmark}]}}
  _
  {:eval
   (let
    [item
     (fn
      [i]
      {:item/id (str "item" i),
       :item/ingested-at (t/instant (+ 2000 i)),
       :item/n-skipped i})]
    (binding
     [gen/*rnd* (java.util.Random. 0)]
     (icymi-recs
      {:user/icymi-sub-recs (mapv item (range 1 4)),
       :user/icymi-bookmark-recs (mapv item (range 4 7))}))),
   :result
   {:user/icymi-recs
    [{:item/id "item4",
      :item/ingested-at #time/instant "2004-01-01T00:00:00Z",
      :item/n-skipped 4}
     {:item/id "item2",
      :item/ingested-at #time/instant "2002-01-01T00:00:00Z",
      :item/n-skipped 2}
     {:item/id "item3",
      :item/ingested-at #time/instant "2003-01-01T00:00:00Z",
      :item/n-skipped 3}
     {:item/id "item5",
      :item/ingested-at #time/instant "2005-01-01T00:00:00Z",
      :item/n-skipped 5}
     {:item/id "item1",
      :item/ingested-at #time/instant "2001-01-01T00:00:00Z",
      :item/n-skipped 1}]}}
  _
  {:doc "read-urls",
   :eval
   (t/with-sqlite
    [conn
     {:item
      [{:xt/id "item1", :item/url "url1"}
       {:xt/id "item2", :item/url "url2"}],
      :user-item
      [{:xt/id "user-item1",
        :user-item/user-id "user1",
        :user-item/item-id "item1"}
       {:xt/id "user-item2",
        :user-item/user-id "user1",
        :user-item/item-id "item2",
        :user-item/viewed-at (t/zdt 2000)}]}]
    (read-urls {:biff/conn* conn} {:user/id "user1"})),
   :ex #error {
 :cause "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
 :data {:attr :feed/moderation, :value :approved}
 :via
 [{:type clojure.lang.ExceptionInfo
   :message "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
   :data {:attr :feed/moderation, :value :approved}
   :at [com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]}]
 :trace
 [[com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]
  [clojure.core$map$fn__5954 invoke "core.clj" 2772]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$fn__5577 invoke "core.clj" 727]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$cat__5579$fn__5580 invoke "core.clj" 736]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core.protocols$seq_reduce invokeStatic "protocols.clj" 24]
  [clojure.core.protocols$fn__8262 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8262 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$reduce invokeStatic "core.clj" 6965]
  [clojure.core$cat$fn__8893 invoke "core.clj" 7817]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.core.protocols$iterator_reduce_BANG_ invokeStatic "protocols.clj" 42]
  [clojure.core.protocols$iter_reduce invokeStatic "protocols.clj" 52]
  [clojure.core.protocols$fn__8256 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8256 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$transduce invokeStatic "core.clj" 7026]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.biffweb.sqlite$build_enum_val__GT_int invokeStatic "sqlite.clj" 249]
  [com.biffweb.sqlite$build_enum_val__GT_int invoke "sqlite.clj" 244]
  [com.biffweb.sqlite$fn__35046 invokeStatic "sqlite.clj" 466]
  [com.biffweb.sqlite$fn__35046 invoke "sqlite.clj" 463]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$memoize$fn__6969 doInvoke "core.clj" 6424]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 482]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 851]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 840]
  [com.yakread.model.recommend$read_urls__64165 invokeStatic "recommend.clj" 393]
  [com.yakread.model.recommend$read_urls__64165 invoke "recommend.clj" 390]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp249420$eval95615 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp249420$eval95615 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "clicked-ads",
   :eval
   (t/with-sqlite
    [conn
     {:ad-click
      [{:xt/id "ad-click1",
        :ad-click/ad-id "ad1",
        :ad-click/user-id "user1"}
       {:xt/id "ad-click2",
        :ad-click/ad-id "ad2",
        :ad-click/user-id "user2"}]}]
    (clicked-ads {:biff/conn* conn} {:user/id "user1"})),
   :ex #error {
 :cause "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
 :data {:attr :feed/moderation, :value :approved}
 :via
 [{:type clojure.lang.ExceptionInfo
   :message "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
   :data {:attr :feed/moderation, :value :approved}
   :at [com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]}]
 :trace
 [[com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]
  [clojure.core$map$fn__5954 invoke "core.clj" 2772]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$fn__5577 invoke "core.clj" 727]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$cat__5579$fn__5580 invoke "core.clj" 736]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core.protocols$seq_reduce invokeStatic "protocols.clj" 24]
  [clojure.core.protocols$fn__8262 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8262 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$reduce invokeStatic "core.clj" 6965]
  [clojure.core$cat$fn__8893 invoke "core.clj" 7817]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.core.protocols$iterator_reduce_BANG_ invokeStatic "protocols.clj" 42]
  [clojure.core.protocols$iter_reduce invokeStatic "protocols.clj" 52]
  [clojure.core.protocols$fn__8256 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8256 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$transduce invokeStatic "core.clj" 7026]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.biffweb.sqlite$build_enum_val__GT_int invokeStatic "sqlite.clj" 249]
  [com.biffweb.sqlite$build_enum_val__GT_int invoke "sqlite.clj" 244]
  [com.biffweb.sqlite$fn__35046 invokeStatic "sqlite.clj" 466]
  [com.biffweb.sqlite$fn__35046 invoke "sqlite.clj" 463]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$memoize$fn__6969 doInvoke "core.clj" 6424]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 482]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 851]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 840]
  [com.yakread.model.recommend$clicked_ads__64198 invokeStatic "recommend.clj" 470]
  [com.yakread.model.recommend$clicked_ads__64198 invoke "recommend.clj" 467]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp249420$eval95617 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp249420$eval95617 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
