{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.subscription :refer :all]],
 :tests
 [{:doc "user-subs",
   :eval
   (t/with-sqlite
    [ctx
     {:user [{:user/id (t/uuid 1)}],
      :sub
      [{:sub/id (t/uuid 10),
        :sub/user-id (t/uuid 1),
        :sub/created-at (t/instant 2000),
        :sub/record-type [:lift :sub.record-type/feed]}
       {:sub/id (t/uuid 20),
        :sub/user-id (t/uuid 1),
        :sub/created-at (t/instant 2000),
        :sub/record-type [:lift :sub.record-type/email],
        :sub/email-unsubscribed-at (t/instant 2000)}]}]
    (user-subs ctx {:user/id (t/uuid 1)})),
   :result
   {:user/subscriptions
    [{:sub/id #uuid "00100000-0000-0000-0000-000000000010"}],
    :user/unsubscribed
    [{:sub/id #uuid "00200000-0000-0000-0000-000000000020"}]}}
  _
  {:doc "latest-email-item",
   :eval
   (t/with-sqlite
    [ctx
     {:item
      [{:item/id (t/uuid 1),
        :item/email-sub-id (t/uuid 100),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/email]}
       {:item/id (t/uuid 2),
        :item/email-sub-id (t/uuid 100),
        :item/ingested-at (t/instant 2001),
        :item/record-type [:lift :item.record-type/email]}
       {:item/id (t/uuid 3),
        :item/email-sub-id (t/uuid 200),
        :item/ingested-at (t/instant 2002),
        :item/record-type [:lift :item.record-type/email]}]}]
    {:email
     (latest-email-item
      ctx
      {:sub/record-type :sub.record-type/email, :sub/id (t/uuid 100)}),
     :feed
     (latest-email-item
      ctx
      {:sub/record-type :sub.record-type/feed, :sub/id (t/uuid 100)}),
     :no-items
     (latest-email-item
      ctx
      {:sub/record-type :sub.record-type/email,
       :sub/id (t/uuid 300)})}),
   :result
   {:email
    {:sub/latest-item
     {:item/id #uuid "00020000-0000-0000-0000-000000000002"}},
    :feed nil,
    :no-items nil}}
  _
  {:doc "total",
   :eval
   (t/with-sqlite
    [ctx
     {:feed [{:feed/id (t/uuid 100)} {:feed/id (t/uuid 200)}],
      :item
      [{:item/id (t/uuid 1),
        :item/email-sub-id (t/uuid 10),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/email]}
       {:item/id (t/uuid 2),
        :item/email-sub-id (t/uuid 10),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/email]}
       {:item/id (t/uuid 3),
        :item/feed-id (t/uuid 100),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/feed]}]}]
    (total
     ctx
     [{:sub/id (t/uuid 10), :sub/record-type :sub.record-type/email}
      {:sub/id (t/uuid 20),
       :sub/record-type :sub.record-type/feed,
       :sub/feed-id (t/uuid 100)}
      {:sub/id (t/uuid 30),
       :sub/record-type :sub.record-type/feed,
       :sub/feed-id (t/uuid 200)}])),
   :result
   [{:sub/id #uuid "00100000-0000-0000-0000-000000000010",
     :sub/total 2}
    {:sub/id #uuid "00200000-0000-0000-0000-000000000020",
     :sub/total 1}
    {:sub/id #uuid "00300000-0000-0000-0000-000000000030",
     :sub/total 0}]}
  _
  {:doc "items-read",
   :eval
   (t/with-sqlite
    [ctx
     {:user [{:user/id (t/uuid 1)}],
      :feed [{:feed/id (t/uuid 100)}],
      :sub
      [{:sub/id (t/uuid 10),
        :sub/user-id (t/uuid 1),
        :sub/created-at (t/instant 2000),
        :sub/record-type [:lift :sub.record-type/email]}
       {:sub/id (t/uuid 20),
        :sub/user-id (t/uuid 1),
        :sub/feed-id (t/uuid 100),
        :sub/created-at (t/instant 2000),
        :sub/record-type [:lift :sub.record-type/feed]}],
      :item
      [{:item/id (t/uuid 1),
        :item/email-sub-id (t/uuid 10),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/email]}
       {:item/id (t/uuid 2),
        :item/email-sub-id (t/uuid 10),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/email]}
       {:item/id (t/uuid 3),
        :item/feed-id (t/uuid 100),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/feed]}],
      :user-item
      [{:user-item/id (t/uuid 50),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 1),
        :user-item/viewed-at (t/instant 2000)}]}]
    (items-read
     ctx
     [{:sub/id (t/uuid 10),
       :sub/user-id (t/uuid 1),
       :sub/record-type :sub.record-type/email}
      {:sub/id (t/uuid 20),
       :sub/user-id (t/uuid 1),
       :sub/record-type :sub.record-type/feed,
       :sub/feed-id (t/uuid 100)}])),
   :result
   [{:sub/id #uuid "00100000-0000-0000-0000-000000000010",
     :sub/items-read 1}
    {:sub/id #uuid "00200000-0000-0000-0000-000000000020",
     :sub/items-read 0}]}
  _
  {:doc "items-unread",
   :eval (items-unread {:sub/total 5, :sub/items-read 2}),
   :result {:sub/items-unread 3, :sub/unread 3}}
  _
  {:doc "published-at",
   :eval
   (t/with-sqlite
    [ctx
     {:feed [{:feed/id (t/uuid 100)} {:feed/id (t/uuid 200)}],
      :item
      [{:item/id (t/uuid 1),
        :item/email-sub-id (t/uuid 10),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/email]}
       {:item/id (t/uuid 2),
        :item/email-sub-id (t/uuid 10),
        :item/published-at (t/instant 2001),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/email]}
       {:item/id (t/uuid 3),
        :item/feed-id (t/uuid 100),
        :item/ingested-at (t/instant 2002),
        :item/record-type [:lift :item.record-type/feed]}]}]
    (published-at
     ctx
     [{:sub/id (t/uuid 10),
       :sub/record-type :sub.record-type/email,
       :sub/created-at (t/instant 2003)}
      {:sub/id (t/uuid 20),
       :sub/record-type :sub.record-type/feed,
       :sub/feed-id (t/uuid 100),
       :sub/created-at (t/instant 2004)}
      {:sub/id (t/uuid 30),
       :sub/record-type :sub.record-type/feed,
       :sub/feed-id (t/uuid 200),
       :sub/created-at (t/instant 2005)}])),
   :result
   [{:sub/id #uuid "00100000-0000-0000-0000-000000000010",
     :sub/published-at #time/instant "2003-01-01T00:00:00Z"}
    {:sub/id #uuid "00200000-0000-0000-0000-000000000020",
     :sub/published-at #time/instant "2004-01-01T00:00:00Z"}
    {:sub/id #uuid "00300000-0000-0000-0000-000000000030",
     :sub/published-at #time/instant "2005-01-01T00:00:00Z"}]}
  _
  {:doc "items",
   :eval
   (t/with-sqlite
    [ctx
     {:feed [{:feed/id (t/uuid 100)} {:feed/id (t/uuid 200)}],
      :item
      [{:item/id (t/uuid 1),
        :item/email-sub-id (t/uuid 10),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/email]}
       {:item/id (t/uuid 2),
        :item/email-sub-id (t/uuid 10),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/email]}
       {:item/id (t/uuid 3),
        :item/feed-id (t/uuid 100),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/feed]}]}]
    (items
     ctx
     [{:sub/id (t/uuid 10), :sub/record-type :sub.record-type/email}
      {:sub/id (t/uuid 20),
       :sub/record-type :sub.record-type/feed,
       :sub/feed-id (t/uuid 100)}
      {:sub/id (t/uuid 30),
       :sub/record-type :sub.record-type/feed,
       :sub/feed-id (t/uuid 200)}])),
   :result
   [{:sub/id #uuid "00100000-0000-0000-0000-000000000010",
     :sub/items []}
    {:sub/id #uuid "00200000-0000-0000-0000-000000000020",
     :sub/items []}
    {:sub/id #uuid "00300000-0000-0000-0000-000000000030",
     :sub/items []}]}
  _
  {:doc "from-params",
   :eval
   (t/with-sqlite
    [ctx
     {:user [{:user/id (t/uuid 1)}],
      :sub
      [{:sub/id (t/uuid 10),
        :sub/user-id (t/uuid 1),
        :sub/created-at (t/instant 2000),
        :sub/record-type [:lift :sub.record-type/feed]}
       {:sub/id (t/uuid 20),
        :sub/user-id (t/uuid 1),
        :sub/created-at (t/instant 2000),
        :sub/record-type [:lift :sub.record-type/email],
        :sub/email-unsubscribed-at (t/instant 2000)}]}]
    (doall
     (for
      [user-id [(t/uuid 1) (t/uuid 2)]]
      (from-params
       (merge
        ctx
        {:session {:uid user-id}, :params {:sub/id (t/uuid 10)}})
       {})))),
   :result
   ({:params/sub
     {:sub/id #uuid "00100000-0000-0000-0000-000000000010",
      :sub/user-id #uuid "00010000-0000-0000-0000-000000000001"}}
    nil)}
  _
  {:doc "params-checked",
   :eval
   (t/with-sqlite
    [ctx
     {:user [{:user/id (t/uuid 1)} {:user/id (t/uuid 2)}],
      :sub
      [{:sub/id (t/uuid 10),
        :sub/user-id (t/uuid 1),
        :sub/created-at (t/instant 2000),
        :sub/record-type [:lift :sub.record-type/feed]}
       {:sub/id (t/uuid 20),
        :sub/user-id (t/uuid 1),
        :sub/created-at (t/instant 2000),
        :sub/record-type [:lift :sub.record-type/email],
        :sub/email-unsubscribed-at (t/instant 2000)}
       {:sub/id (t/uuid 30),
        :sub/user-id (t/uuid 2),
        :sub/created-at (t/instant 2000),
        :sub/record-type [:lift :sub.record-type/feed]}]}]
    {:valid
     (params-checked
      (merge
       ctx
       {:session {:uid (t/uuid 1)},
        :params
        {:subs {(str (t/uuid 10)) nil, (str (t/uuid 20)) nil}}})
      {}),
     :unauthorized
     (params-checked
      (merge
       ctx
       {:session {:uid (t/uuid 1)},
        :params
        {:subs {(str (t/uuid 10)) nil, (str (t/uuid 30)) nil}}})
      {}),
     :missing
     (params-checked
      (merge
       ctx
       {:session {:uid (t/uuid 1)},
        :params
        {:subs {(str (t/uuid 10)) nil, (str (t/uuid 40)) nil}}})
      {})}),
   :result
   {:valid
    {:params.checked/subscriptions
     [{:sub/id #uuid "00100000-0000-0000-0000-000000000010"}
      {:sub/id #uuid "00200000-0000-0000-0000-000000000020"}]},
    :unauthorized nil,
    :missing nil}}
  _
  {:doc "unread-items",
   :eval
   (t/with-sqlite
    [ctx
     {:user [{:user/id (t/uuid 1)}],
      :feed [{:feed/id (t/uuid 100)}],
      :sub
      [{:sub/id (t/uuid 10),
        :sub/user-id (t/uuid 1),
        :sub/created-at (t/instant 2000),
        :sub/record-type [:lift :sub.record-type/email]}],
      :item
      [{:item/id (t/uuid 1),
        :item/email-sub-id (t/uuid 10),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/email]}
       {:item/id (t/uuid 2),
        :item/email-sub-id (t/uuid 10),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/email]}
       {:item/id (t/uuid 3),
        :item/feed-id (t/uuid 100),
        :item/ingested-at (t/instant 2000),
        :item/record-type [:lift :item.record-type/feed]}],
      :user-item
      [{:user-item/id (t/uuid 50),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 1),
        :user-item/viewed-at (t/instant 2000)}]}]
    (unread-items
     ctx
     [{:sub/user-id (t/uuid 1),
       :sub/items [{:item/id (t/uuid 1)} {:item/id (t/uuid 2)}]}
      {:sub/user-id (t/uuid 1), :sub/items [{:item/id (t/uuid 3)}]}])),
   :result
   [{:sub/unread-items
     [{:item/id #uuid "00020000-0000-0000-0000-000000000002"}]}
    {:sub/unread-items
     [{:item/id #uuid "00030000-0000-0000-0000-000000000003"}]}]}
  _
  {:doc :mv,
   :eval
   (t/with-sqlite
    [ctx
     {:user [{:user/id (t/uuid 1)}],
      :sub
      [{:sub/id (t/uuid 10),
        :sub/user-id (t/uuid 1),
        :sub/created-at (t/instant 2000),
        :sub/record-type [:lift :sub.record-type/feed]}],
      :mv-sub [{:mv-sub/id (t/uuid 60), :mv-sub/sub-id (t/uuid 10)}]}]
    (mv ctx [{:sub/id (t/uuid 10)}])),
   :result [{}]}
  _]}
