{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.user :refer :all]],
 :tests
 [{:eval
   (t/with-sqlite
    [conn
     {:mv-user [{:xt/id (t/uuid 1), :mv-user/user-id (t/uuid 10)}]}]
    {:exists (mv {:biff/conn* conn} {:user/id (t/uuid 10)}),
     :not-exists (mv {:biff/conn* conn} {:user/id (t/uuid 20)})}),
   :ex #error {
 :cause "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
 :via
 [{:type java.lang.ClassCastException
   :message "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
   :at [clojure.core$name invokeStatic "core.clj" 1610]}]
 :trace
 [[clojure.core$name invokeStatic "core.clj" 1610]
  [clojure.core$name invoke "core.clj" 1604]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$transduce invokeStatic "core.clj" 7025]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.yakread.util.biff_staging$unqualify_aliases invokeStatic "biff_staging.clj" 947]
  [com.yakread.util.biff_staging$unqualify_aliases invoke "biff_staging.clj" 940]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 976]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 958]
  [com.yakread.model.user$mv__64760 invokeStatic "user.clj" 76]
  [com.yakread.model.user$mv__64760 invoke "user.clj" 73]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp158573$eval95596 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp158573$eval95596 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
