{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.user :refer :all]],
 :tests
 [{:eval
   (t/with-sqlite
    [ctx
     {:user [{:user/id (t/uuid 1)}],
      :mv-user
      [{:mv-user/id (t/uuid 10), :mv-user/user-id (t/uuid 1)}]}]
    {:exists (t/resolve-resolver mv ctx {:user/id (t/uuid 1)}),
     :not-exists (t/resolve-resolver mv ctx {:user/id (t/uuid 2)})}),
   :result
   {:exists
    {:user/mv
     {:mv-user/id #uuid "00100000-0000-0000-0000-000000000010"}},
    :not-exists nil}}
  _]}
