{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.app.subscriptions.add :refer :all]],
 :tests
 [{:doc "set-username already has a username",
   :eval
   (t/test-route
    set-username
    :post
    {:session {:uid "user1"},
     :params {:username "123"},
     :db {:user [{:xt/id "user1", :user/email-username "abc"}]}}),
   :ex #error {
 :cause "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
 :via
 [{:type java.lang.IllegalArgumentException
   :message "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
   :at [clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]}]
 :trace
 [[clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]
  [clojure.core$_cache_protocol_fn invoke "core_deftype.clj" 577]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.app.subscriptions.add$eval59921$fn__59929 invoke "add.clj" 27]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$apply invoke "core.clj" 662]
  [com.yakread.lib.fx$wrap_hiccup$fn__52979 doInvoke "fx.clj" 125]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.yakread.lib.fx$machine$run__52953 invoke "fx.clj" 76]
  [com.yakread.lib.test$test_route invokeStatic "test.clj" 144]
  [com.yakread.lib.test$test_route doInvoke "test.clj" 124]
  [clojure.lang.RestFn invoke "RestFn.java" 445]
  [tmp144149$eval94648 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp144149$eval94648 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "set-username invalid username",
   :eval
   (t/test-route
    set-username
    :post
    {:db {}, :session {:uid 1}, :params {:username "admin"}}),
   :ex #error {
 :cause "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
 :via
 [{:type java.lang.IllegalArgumentException
   :message "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
   :at [clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]}]
 :trace
 [[clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]
  [clojure.core$_cache_protocol_fn invoke "core_deftype.clj" 577]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.app.subscriptions.add$eval59921$fn__59929 invoke "add.clj" 27]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$apply invoke "core.clj" 662]
  [com.yakread.lib.fx$wrap_hiccup$fn__52979 doInvoke "fx.clj" 125]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.yakread.lib.fx$machine$run__52953 invoke "fx.clj" 76]
  [com.yakread.lib.test$test_route invokeStatic "test.clj" 144]
  [com.yakread.lib.test$test_route doInvoke "test.clj" 124]
  [clojure.lang.RestFn invoke "RestFn.java" 445]
  [tmp144149$eval94666 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp144149$eval94666 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "set-username username taken",
   :eval
   (t/test-route
    set-username
    :post
    {:db {:user [{:xt/id 2, :user/email-username "abc"}]},
     :session {:uid 1},
     :params {:username "abc"}}),
   :ex #error {
 :cause "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
 :via
 [{:type java.lang.IllegalArgumentException
   :message "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
   :at [clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]}]
 :trace
 [[clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]
  [clojure.core$_cache_protocol_fn invoke "core_deftype.clj" 577]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.app.subscriptions.add$eval59921$fn__59929 invoke "add.clj" 27]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$apply invoke "core.clj" 662]
  [com.yakread.lib.fx$wrap_hiccup$fn__52979 doInvoke "fx.clj" 125]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.yakread.lib.fx$machine$run__52953 invoke "fx.clj" 76]
  [com.yakread.lib.test$test_route invokeStatic "test.clj" 144]
  [com.yakread.lib.test$test_route doInvoke "test.clj" 124]
  [clojure.lang.RestFn invoke "RestFn.java" 445]
  [tmp144149$eval94684 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp144149$eval94684 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "set-username success",
   :eval
   (t/test-route
    set-username
    :post
    {:db {}, :session {:uid 1}, :params {:username "abc"}}),
   :ex #error {
 :cause "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
 :via
 [{:type java.lang.IllegalArgumentException
   :message "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
   :at [clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]}]
 :trace
 [[clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]
  [clojure.core$_cache_protocol_fn invoke "core_deftype.clj" 577]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.app.subscriptions.add$eval59921$fn__59929 invoke "add.clj" 27]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$apply invoke "core.clj" 662]
  [com.yakread.lib.fx$wrap_hiccup$fn__52979 doInvoke "fx.clj" 125]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.yakread.lib.fx$machine$run__52953 invoke "fx.clj" 76]
  [com.yakread.lib.test$test_route invokeStatic "test.clj" 144]
  [com.yakread.lib.test$test_route doInvoke "test.clj" 124]
  [clojure.lang.RestFn invoke "RestFn.java" 445]
  [tmp144149$eval94702 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp144149$eval94702 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "add-rss fix the url",
   :eval
   (t/test-route
    add-rss
    :post
    {:params {:url "example.com"},
     :biff/base-url "https://yakread.com"}),
   :result
   {:biff.fx/http
    {:url "https://example.com",
     :method :get,
     :headers {"User-Agent" "https://yakread.com"},
     :throw-exceptions false},
    :biff.fx/next :add-urls}}
  _
  {:doc "add-rss invalid url",
   :eval
   (t/test-route
    add-rss
    :post
    :add-urls
    {:params {:session {:uid 1}},
     :db {},
     :biff.fx/http
     {:url "https://example.com",
      :body "<html><body>hey</body></html>"}}),
   :result
   {:status 303,
    :headers
    {"Location"
     ["/subscriptions/add"
      {:error "invalid-rss-feed", :url "https://example.com"}]}}}
  _
  {:doc "add-rss auto-discovery",
   :eval
   (t/test-route
    add-rss
    :post
    :add-urls
    {:session {:uid #uuid "12340000-0000-0000-0000-000000000000"},
     :db {},
     :biff/now (t/zdt 2000),
     :biff.fx/http
     {:url "https://obryant.dev",
      :body
      "<html><head><link href=\"/feed.xml\" title=\"Feed for Jacob O'Bryant\" type=\"application/atom+xml\" rel=\"alternate\" /></head><body>hey</body></html>"}}),
   :ex #error {
 :cause "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
 :via
 [{:type java.lang.IllegalArgumentException
   :message "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
   :at [clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]}]
 :trace
 [[clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]
  [clojure.core$_cache_protocol_fn invoke "core_deftype.clj" 577]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.app.subscriptions.add$subscribe_feeds_tx invokeStatic "add.clj" 57]
  [com.yakread.app.subscriptions.add$subscribe_feeds_tx invoke "add.clj" 55]
  [com.yakread.app.subscriptions.add$fn__59989$fn__59996 invoke "add.clj" 130]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$apply invoke "core.clj" 662]
  [com.yakread.lib.fx$wrap_hiccup$fn__52979 doInvoke "fx.clj" 125]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.yakread.lib.fx$machine$run__52953 invoke "fx.clj" 76]
  [com.yakread.lib.test$test_route invokeStatic "test.clj" 144]
  [com.yakread.lib.test$test_route doInvoke "test.clj" 124]
  [clojure.lang.RestFn invoke "RestFn.java" 467]
  [tmp144149$eval94740 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp144149$eval94740 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "add-rss direct url",
   :eval
   (t/test-route
    add-rss
    :post
    :add-urls
    {:session {:uid #uuid "12340000-0000-0000-0000-000000000000"},
     :db {},
     :biff/now (t/zdt 2000),
     :biff.fx/http
     {:url "https://obryant.dev/feed.xml",
      :body
      "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<feed xmlns=\"http://www.w3.org/2005/Atom\"><title>Jacob O'Bryant</title><id>https://obryant.dev/feed.xml</id><updated>2024-08-31T13:00:00.000Z</updated><link rel=\"self\" href=\"https://obryant.dev/feed.xml\" type=\"application/atom+xml\" /><link href=\"https://obryant.dev\" /><entry><title type=\"html\">Impressions on Sudbury Schooling</title><id>https://obryant.dev/p/impressions-sudbury/</id><updated>2024-08-31T13:00:00.000Z</updated><content type=\"html\">lorem ipsum dolor sit amet...</content><link href=\"https://obryant.dev/p/impressions-sudbury/\" /><author><name>Jacob O'Bryant</name><uri>https://obryant.dev</uri></author></entry></feed>"}}),
   :ex #error {
 :cause "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
 :via
 [{:type java.lang.IllegalArgumentException
   :message "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
   :at [clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]}]
 :trace
 [[clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]
  [clojure.core$_cache_protocol_fn invoke "core_deftype.clj" 577]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.app.subscriptions.add$subscribe_feeds_tx invokeStatic "add.clj" 57]
  [com.yakread.app.subscriptions.add$subscribe_feeds_tx invoke "add.clj" 55]
  [com.yakread.app.subscriptions.add$fn__59989$fn__59996 invoke "add.clj" 130]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$apply invoke "core.clj" 662]
  [com.yakread.lib.fx$wrap_hiccup$fn__52979 doInvoke "fx.clj" 125]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.yakread.lib.fx$machine$run__52953 invoke "fx.clj" 76]
  [com.yakread.lib.test$test_route invokeStatic "test.clj" 144]
  [com.yakread.lib.test$test_route doInvoke "test.clj" 124]
  [clojure.lang.RestFn invoke "RestFn.java" 467]
  [tmp144149$eval94758 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp144149$eval94758 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "add-rss don't create feed doc if someone already subscribes",
   :eval
   (t/test-route
    add-rss
    :post
    :add-urls
    {:session {:uid #uuid "12340000-0000-0000-0000-000000000000"},
     :db
     {:feed
      [{:xt/id "feed1", :feed/url "https://obryant.dev/feed.xml"}]},
     :biff/now (t/zdt 2000),
     :biff.fx/http
     {:url "https://obryant.dev",
      :body
      "<html><head><link href=\"/feed.xml\" title=\"Feed for Jacob O'Bryant\" type=\"application/atom+xml\" rel=\"alternate\" /></head><body>hey</body></html>"}}),
   :ex #error {
 :cause "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
 :via
 [{:type java.lang.IllegalArgumentException
   :message "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
   :at [clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]}]
 :trace
 [[clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]
  [clojure.core$_cache_protocol_fn invoke "core_deftype.clj" 577]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.app.subscriptions.add$subscribe_feeds_tx invokeStatic "add.clj" 57]
  [com.yakread.app.subscriptions.add$subscribe_feeds_tx invoke "add.clj" 55]
  [com.yakread.app.subscriptions.add$fn__59989$fn__59996 invoke "add.clj" 130]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$apply invoke "core.clj" 662]
  [com.yakread.lib.fx$wrap_hiccup$fn__52979 doInvoke "fx.clj" 125]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.yakread.lib.fx$machine$run__52953 invoke "fx.clj" 76]
  [com.yakread.lib.test$test_route invokeStatic "test.clj" 144]
  [com.yakread.lib.test$test_route doInvoke "test.clj" 124]
  [clojure.lang.RestFn invoke "RestFn.java" 467]
  [tmp144149$eval94776 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp144149$eval94776 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "add-opml slurp the uploaded file",
   :eval
   (t/test-route
    add-opml
    :post
    {:params {:opml {:tempfile "/tmp/some-file"}}}),
   :result {:biff.fx/slurp "/tmp/some-file", :biff.fx/next :end}}
  _
  {:doc "add-opml extract and save the opml urls",
   :eval
   (t/test-route
    add-opml
    :post
    :end
    {:session {:uid #uuid "12340000-0000-0000-0000-000000000000"},
     :db {},
     :biff/now (t/zdt 2000),
     :biff.fx/slurp
     (slurp
      "test/com/yakread/app/subscriptions/add_test/sample.opml")}),
   :ex #error {
 :cause "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
 :via
 [{:type java.lang.IllegalArgumentException
   :message "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
   :at [clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]}]
 :trace
 [[clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]
  [clojure.core$_cache_protocol_fn invoke "core_deftype.clj" 577]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.app.subscriptions.add$subscribe_feeds_tx invokeStatic "add.clj" 57]
  [com.yakread.app.subscriptions.add$subscribe_feeds_tx invoke "add.clj" 55]
  [com.yakread.app.subscriptions.add$fn__60011$fn__60019 invoke "add.clj" 146]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$apply invoke "core.clj" 662]
  [com.yakread.lib.fx$wrap_hiccup$fn__52979 doInvoke "fx.clj" 125]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.yakread.lib.fx$machine$run__52953 invoke "fx.clj" 76]
  [com.yakread.lib.test$test_route invokeStatic "test.clj" 144]
  [com.yakread.lib.test$test_route doInvoke "test.clj" 124]
  [clojure.lang.RestFn invoke "RestFn.java" 467]
  [tmp144149$eval94796 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp144149$eval94796 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "add-opml no urls found, show an error",
   :eval
   (t/test-route
    add-opml
    :post
    :end
    {:session {:uid #uuid "12340000-0000-0000-0000-000000000000"},
     :biff/now (t/zdt 2000),
     :biff.fx/slurp ""}),
   :result
   {:status 303,
    :headers
    {"Location" ["/subscriptions/add" {:error "invalid-opml-file"}]}}}
  _]}
