{:paths ["src" "resources" "target/resources" "target/classes"]
 :deps {com.biffweb/biff                    {:git/url "https://github.com/jacobobryant/biff"
                                             :git/sha "0e1e207df27acb1758ec3604eb56af50b7bb47ea"
                                             ;:local/root "/home/jacob/dev/biff"
                                             :exclusions [com.xtdb/xtdb-core
                                                          com.xtdb/xtdb-jdbc
                                                          com.xtdb/xtdb-rocksdb
                                                          org.postgresql/postgresql]}
        com.biffweb/sqlite                  {:local/root "lib/sqlite"}
        com.xtdb/xtdb-api                   {:mvn/version "2.x-20260126.180359-1"}
        com.xtdb/xtdb-core                  {:mvn/version "2.x-20260126.180359-1"}
        com.xtdb/xtdb-aws                   {:mvn/version "2.x-20260126.180359-1"}
        com.xtdb/xtdb-kafka                 {:mvn/version "2.x-20260126.180359-1"}
        com.zaxxer/HikariCP                 {:mvn/version "7.0.2"}

        vouch-opensource/fugato             {:git/url "https://github.com/vouch-opensource/fugato"
                                             :git/sha "4c1f687bca84f1f7777f347acdaafd49c182eae0"}
        com.stuartsierra/dependency         {:mvn/version "1.0.0"}
        com.wsscode/pathom3                 {;:mvn/version "2025.01.16-alpha"
                                             ;; Includes https://github.com/wilkerlucio/pathom3/pull/234
                                             :git/url "https://github.com/jacobobryant/pathom3"
                                             :git/sha "9ca960a70e05643e1985c1c22b5b487307989307"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.clojure/core.memoize            {:mvn/version "1.0.257"}
        org.clj-commons/claypoole           {:mvn/version "1.2.2"}
        com.github.kyleburton/clj-xpath     {:mvn/version "1.4.12"}
        com.widdindustries/time-literals    {:mvn/version "0.1.10"}
        org.clojure/data.generators         {:mvn/version "1.1.0"}
        hickory/hickory                     {:mvn/version "0.7.1"
                                             :exclusions [org.clojure/clojurescript]}
        throttler/throttler                 {:mvn/version "1.0.1"}
        metosin/malli                       {:mvn/version "0.16.3"}
        org.clojure/clojure                 {:mvn/version "1.12.0"}
        org.subethamail/subethasmtp         {:mvn/version "3.1.7"}
        remus/remus                         {:mvn/version "0.2.2"}
        com.taoensso/nippy                  {:mvn/version "3.2.0"}
        com.taoensso/tufte                  {:mvn/version "2.6.3"}
        babashka/process                    {:mvn/version "0.1.8"}
        org.clojure/data.csv                {:mvn/version "1.0.0"}
        org.jsoup/jsoup                     {:mvn/version "1.11.3"}
        com.stripe/stripe-java              {:mvn/version "22.10.0"}
        cld/cld                             {:mvn/version "0.1.0"}

        ;; org.bouncycastle/bcprov-jdk15on conflicts with the jdk18on version pulled in by Biff (via
        ;; Buddy)
        oauth/oauth.one                     {:mvn/version "0.7.0"
                                             :exclusions [org.bouncycastle/bcprov-jdk15on]}
        com.novemberain/pantomime           {:mvn/version "2.11.0"
                                             :exclusions [org.bouncycastle/bcprov-jdk15on]}

        org.apache.spark/spark-core_2.13    {:mvn/version "4.1.0"}
        org.apache.spark/spark-mllib_2.13   {:mvn/version "4.1.0"}
        potemkin/potemkin                   {:mvn/version "0.4.6"}
        io.github.tonsky/fast-edn           {:mvn/version "1.1.3"}
        org.clojure/java.classpath          {:mvn/version "1.0.0"}
        org.clojure/data.priority-map       {:mvn/version "1.1.0"}
        com.rpl/specter                     {:mvn/version "1.1.4"}
        com.vdurmont/emoji-java             {:mvn/version "5.1.1"}

        com.taoensso/telemere               {:mvn/version "1.0.1"}
        com.taoensso/telemere-slf4j         {:mvn/version "1.0.1"}
        org.slf4j/slf4j-api                 {:mvn/version "2.0.17"}
        org.slf4j/log4j-over-slf4j          {:mvn/version "1.7.36"}
        org.slf4j/jul-to-slf4j              {:mvn/version "1.7.36"}
        org.slf4j/jcl-over-slf4j            {:mvn/version "1.7.36"}

        ;;io.github.biffweb/migrate           {:git/tag "v1.0" :git/sha "c490275" :deps/root "xtdb1"}

        ;; sqlite
        org.xerial/sqlite-jdbc              {:mvn/version "3.50.3.0"}
        com.github.seancorfield/next.jdbc   {:mvn/version "1.3.1070"}
        com.github.seancorfield/honeysql    {:mvn/version "2.7.1295"}}
 :aliases
 {:run {:extra-deps {com.biffweb/tasks {:git/url "https://github.com/jacobobryant/biff",
                                        :git/sha "c53c273c7e1a1773a57f9df6750a7c4448e47052"
                                        :deps/root "libs/tasks"}}
        :extra-paths ["dev" "test"]
        :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                   "-Dio.netty.tryReflectionSetAccessible=true"
                   "-Djdk.attach.allowAttachSelf"
                   "--add-exports=java.base/sun.nio.ch=ALL-UNNAMED"
                   "--add-exports=java.base/sun.security.action=ALL-UNNAMED"
                   "-XX:-OmitStackTraceInFastThrow"
                   "-XX:+CrashOnOutOfMemoryError"
                   "-Dbiff.env.BIFF_PROFILE=dev"]
        :main-opts ["-m" "com.biffweb.task-runner" "tasks/tasks"]}
  :dev-server {:extra-paths ["dev" "test"]
               :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                          "-Dio.netty.tryReflectionSetAccessible=true"
                          "-Djdk.attach.allowAttachSelf"
                          "--add-exports=java.base/sun.nio.ch=ALL-UNNAMED"
                          "--add-exports=java.base/sun.security.action=ALL-UNNAMED"
                          "-XX:-OmitStackTraceInFastThrow"
                          "-XX:+CrashOnOutOfMemoryError"
                          "-Dbiff.env.BIFF_PROFILE=dev"]
               :main-opts ["-m" "com.yakread"]}
  :prod {:jvm-opts ["-Xmx32g" ; TODO move this out of source control somehow
                    "--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "-Dio.netty.tryReflectionSetAccessible=true"
                    "-Djdk.attach.allowAttachSelf"
                    "--add-exports=java.base/sun.nio.ch=ALL-UNNAMED"
                    "--add-exports=java.base/sun.security.action=ALL-UNNAMED"
                    "-XX:-OmitStackTraceInFastThrow"
                    "-XX:+CrashOnOutOfMemoryError"
                    "-Dbiff.env.BIFF_PROFILE=prod"]
         :main-opts ["-m" "com.yakread"]}
  :import {:deps {io.github.biffweb/config  {:git/tag "v1.0" :git/sha "cc7ba13"}
                  io.github.biffweb/migrate {:git/tag "v1.0" :git/sha "ab1b7f3" :deps/root "xtdb2"}}
           :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                      "-Dio.netty.tryReflectionSetAccessible=true"
                      "-Dbiff.env.BIFF_PROFILE=prod"]
           :main-opts ["-m" "tasks.migrate-xt"]}}
 :mvn/repos
 {"central"         {:url "https://repo1.maven.org/maven2/"}
  "clojars"         {:url "https://clojars.org/repo"}
  "sonatype-snapshots" {:url "https://central.sonatype.com/repository/maven-snapshots/"}}}
