{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.work.materialized-views :refer :all]],
 :tests
 [{:eval (update-views {:biff/job {:view :sub-affinity}} :start),
   :result {:biff.fx/next :sub-affinity}}
  _
  {:eval (update-views {:biff/job {:sub/id "abc123"}} :sub-affinity),
   :result
   {:biff.fx/pathom
    {:entity {:sub/id "abc123"},
     :query
     [:sub/id
      :sub/affinity-low*
      :sub/affinity-high*
      {(:sub/mv
        {:com.wsscode.pathom3.connect.operation/optional? true})
       [(:mv.sub/affinity-low
         {:com.wsscode.pathom3.connect.operation/optional? true})
        (:mv.sub/affinity-high
         {:com.wsscode.pathom3.connect.operation/optional? true})]}]},
    :biff.fx/next :sub-affinity-update}}
  _
  {:eval
   (update-views
    {:biff.fx/pathom
     {:sub/id "abc123",
      :sub/affinity-low* 0.2,
      :sub/affinity-high* 0.5,
      :sub/mv {:mv.sub/affinity-low 0.2, :mv.sub/affinity-high 0.5}}}
    :sub-affinity-update),
   :result nil}
  _
  {:eval
   (update-views
    {:biff.fx/pathom
     {:sub/id "abc123",
      :sub/affinity-low* 0.2,
      :sub/affinity-high* 0.5,
      :sub/mv {:mv.sub/affinity-low 0.2, :mv.sub/affinity-high 0.6}}}
    :sub-affinity-update),
   :result
   {:biff.fx/tx
    [[:biff/upsert
      :mv-sub
      [:mv.sub/sub]
      {:xt/id #uuid "abc1b45f-d4d9-5138-3d93-cb799b3970be",
       :mv.sub/sub "abc123",
       :mv.sub/affinity-low 0.2,
       :mv.sub/affinity-high 0.5}]]}}
  _
  {:doc "start with current-item view",
   :eval (update-views {:biff/job {:view :current-item}} :start),
   :result {:biff.fx/next :current-item}}
  _
  {:doc
   "current-item: set new current item when no previous item exists",
   :eval
   (t/with-sqlite
    [conn {:user [{:xt/id (t/uuid 1)}]}]
    (update-views
     {:biff/conn* conn,
      :biff/job
      {:user-item/user (t/uuid 1),
       :user-item/item (t/uuid 10),
       :user-item/viewed-at (t/zdt 2000)}}
     :current-item)),
   :ex #error {
 :cause "[SQLITE_ERROR] SQL error or missing database (no such column: user_item.item)"
 :via
 [{:type org.sqlite.SQLiteException
   :message "[SQLITE_ERROR] SQL error or missing database (no such column: user_item.item)"
   :at [org.sqlite.core.DB newSQLException "DB.java" 1179]}]
 :trace
 [[org.sqlite.core.DB newSQLException "DB.java" 1179]
  [org.sqlite.core.DB newSQLException "DB.java" 1190]
  [org.sqlite.core.DB throwex "DB.java" 1150]
  [org.sqlite.core.NativeDB prepare_utf8 "NativeDB.java" -2]
  [org.sqlite.core.NativeDB prepare "NativeDB.java" 135]
  [org.sqlite.core.DB prepare "DB.java" 264]
  [org.sqlite.core.CorePreparedStatement <init> "CorePreparedStatement.java" 46]
  [org.sqlite.jdbc3.JDBC3PreparedStatement <init> "JDBC3PreparedStatement.java" 32]
  [org.sqlite.jdbc4.JDBC4PreparedStatement <init> "JDBC4PreparedStatement.java" 28]
  [org.sqlite.jdbc4.JDBC4Connection prepareStatement "JDBC4Connection.java" 34]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 225]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 205]
  [next.jdbc.prepare$create invokeStatic "prepare.clj" 134]
  [next.jdbc.prepare$create invoke "prepare.clj" 84]
  [next.jdbc.result_set$eval14846$fn__14854 invoke "result_set.clj" 895]
  [next.jdbc.protocols$eval13884$fn__13900$G__13875__13909 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.work.materialized_views$fn__103565 invokeStatic "materialized_views.clj" 42]
  [com.yakread.work.materialized_views$fn__103565 invoke "materialized_views.clj" 36]
  [com.yakread.lib.fx$machine$run__100819 invoke "fx.clj" 76]
  [tmp891877$eval113838 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp891877$eval113838 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc
   "current-item: update current item when new item is more recent",
   :eval
   (t/with-sqlite
    [conn
     {:mv-user
      [{:xt/id (t/uuid 100),
        :mv-user/user-id (t/uuid 1),
        :mv-user/current-item-id (t/uuid 10)}],
      :user-item
      [{:xt/id (t/uuid 200),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at (t/zdt 2000)}]}]
    (update-views
     {:biff/conn* conn,
      :biff/job
      {:user-item/user (t/uuid 1),
       :user-item/item (t/uuid 11),
       :user-item/viewed-at (t/zdt 2001)}}
     :current-item)),
   :ex #error {
 :cause "[SQLITE_ERROR] SQL error or missing database (no such column: user_item.item)"
 :via
 [{:type org.sqlite.SQLiteException
   :message "[SQLITE_ERROR] SQL error or missing database (no such column: user_item.item)"
   :at [org.sqlite.core.DB newSQLException "DB.java" 1179]}]
 :trace
 [[org.sqlite.core.DB newSQLException "DB.java" 1179]
  [org.sqlite.core.DB newSQLException "DB.java" 1190]
  [org.sqlite.core.DB throwex "DB.java" 1150]
  [org.sqlite.core.NativeDB prepare_utf8 "NativeDB.java" -2]
  [org.sqlite.core.NativeDB prepare "NativeDB.java" 135]
  [org.sqlite.core.DB prepare "DB.java" 264]
  [org.sqlite.core.CorePreparedStatement <init> "CorePreparedStatement.java" 46]
  [org.sqlite.jdbc3.JDBC3PreparedStatement <init> "JDBC3PreparedStatement.java" 32]
  [org.sqlite.jdbc4.JDBC4PreparedStatement <init> "JDBC4PreparedStatement.java" 28]
  [org.sqlite.jdbc4.JDBC4Connection prepareStatement "JDBC4Connection.java" 34]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 225]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 205]
  [next.jdbc.prepare$create invokeStatic "prepare.clj" 134]
  [next.jdbc.prepare$create invoke "prepare.clj" 84]
  [next.jdbc.result_set$eval14846$fn__14854 invoke "result_set.clj" 895]
  [next.jdbc.protocols$eval13884$fn__13900$G__13875__13909 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.work.materialized_views$fn__103565 invokeStatic "materialized_views.clj" 42]
  [com.yakread.work.materialized_views$fn__103565 invoke "materialized_views.clj" 36]
  [com.yakread.lib.fx$machine$run__100819 invoke "fx.clj" 76]
  [tmp891877$eval113840 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp891877$eval113840 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "current-item: do not update when new item is older",
   :eval
   (t/with-sqlite
    [conn
     {:mv-user
      [{:xt/id (t/uuid 100),
        :mv-user/user-id (t/uuid 1),
        :mv-user/current-item-id (t/uuid 10)}],
      :user-item
      [{:xt/id (t/uuid 200),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at (t/zdt 2001)}]}]
    (update-views
     {:biff/conn* conn,
      :biff/job
      {:user-item/user (t/uuid 1),
       :user-item/item (t/uuid 11),
       :user-item/viewed-at (t/zdt 2000)}}
     :current-item)),
   :ex #error {
 :cause "[SQLITE_ERROR] SQL error or missing database (no such column: user_item.item)"
 :via
 [{:type org.sqlite.SQLiteException
   :message "[SQLITE_ERROR] SQL error or missing database (no such column: user_item.item)"
   :at [org.sqlite.core.DB newSQLException "DB.java" 1179]}]
 :trace
 [[org.sqlite.core.DB newSQLException "DB.java" 1179]
  [org.sqlite.core.DB newSQLException "DB.java" 1190]
  [org.sqlite.core.DB throwex "DB.java" 1150]
  [org.sqlite.core.NativeDB prepare_utf8 "NativeDB.java" -2]
  [org.sqlite.core.NativeDB prepare "NativeDB.java" 135]
  [org.sqlite.core.DB prepare "DB.java" 264]
  [org.sqlite.core.CorePreparedStatement <init> "CorePreparedStatement.java" 46]
  [org.sqlite.jdbc3.JDBC3PreparedStatement <init> "JDBC3PreparedStatement.java" 32]
  [org.sqlite.jdbc4.JDBC4PreparedStatement <init> "JDBC4PreparedStatement.java" 28]
  [org.sqlite.jdbc4.JDBC4Connection prepareStatement "JDBC4Connection.java" 34]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 225]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 205]
  [next.jdbc.prepare$create invokeStatic "prepare.clj" 134]
  [next.jdbc.prepare$create invoke "prepare.clj" 84]
  [next.jdbc.result_set$eval14846$fn__14854 invoke "result_set.clj" 895]
  [next.jdbc.protocols$eval13884$fn__13900$G__13875__13909 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.work.materialized_views$fn__103565 invokeStatic "materialized_views.clj" 42]
  [com.yakread.work.materialized_views$fn__103565 invoke "materialized_views.clj" 36]
  [com.yakread.lib.fx$machine$run__100819 invoke "fx.clj" 76]
  [tmp891877$eval113842 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp891877$eval113842 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc
   "current-item: remove current item when viewed-at is nil and item matches",
   :eval
   (t/with-sqlite
    [conn
     {:mv-user
      [{:xt/id (t/uuid 100),
        :mv-user/user-id (t/uuid 1),
        :mv-user/current-item-id (t/uuid 10)}],
      :user-item
      [{:xt/id (t/uuid 200),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at (t/zdt 2000)}]}]
    (update-views
     {:biff/conn* conn,
      :biff/job
      {:user-item/user (t/uuid 1),
       :user-item/item (t/uuid 10),
       :user-item/viewed-at nil}}
     :current-item)),
   :ex #error {
 :cause "[SQLITE_ERROR] SQL error or missing database (no such column: user_item.item)"
 :via
 [{:type org.sqlite.SQLiteException
   :message "[SQLITE_ERROR] SQL error or missing database (no such column: user_item.item)"
   :at [org.sqlite.core.DB newSQLException "DB.java" 1179]}]
 :trace
 [[org.sqlite.core.DB newSQLException "DB.java" 1179]
  [org.sqlite.core.DB newSQLException "DB.java" 1190]
  [org.sqlite.core.DB throwex "DB.java" 1150]
  [org.sqlite.core.NativeDB prepare_utf8 "NativeDB.java" -2]
  [org.sqlite.core.NativeDB prepare "NativeDB.java" 135]
  [org.sqlite.core.DB prepare "DB.java" 264]
  [org.sqlite.core.CorePreparedStatement <init> "CorePreparedStatement.java" 46]
  [org.sqlite.jdbc3.JDBC3PreparedStatement <init> "JDBC3PreparedStatement.java" 32]
  [org.sqlite.jdbc4.JDBC4PreparedStatement <init> "JDBC4PreparedStatement.java" 28]
  [org.sqlite.jdbc4.JDBC4Connection prepareStatement "JDBC4Connection.java" 34]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 225]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 205]
  [next.jdbc.prepare$create invokeStatic "prepare.clj" 134]
  [next.jdbc.prepare$create invoke "prepare.clj" 84]
  [next.jdbc.result_set$eval14846$fn__14854 invoke "result_set.clj" 895]
  [next.jdbc.protocols$eval13884$fn__13900$G__13875__13909 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.work.materialized_views$fn__103565 invokeStatic "materialized_views.clj" 42]
  [com.yakread.work.materialized_views$fn__103565 invoke "materialized_views.clj" 36]
  [com.yakread.lib.fx$machine$run__100819 invoke "fx.clj" 76]
  [tmp891877$eval113844 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp891877$eval113844 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc
   "current-item: do not remove when viewed-at is nil but item doesn't match",
   :eval
   (t/with-sqlite
    [conn
     {:mv-user
      [{:xt/id (t/uuid 100),
        :mv-user/user-id (t/uuid 1),
        :mv-user/current-item-id (t/uuid 10)}],
      :user-item
      [{:xt/id (t/uuid 200),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at (t/zdt 2000)}]}]
    (update-views
     {:biff/conn* conn,
      :biff/job
      {:user-item/user (t/uuid 1),
       :user-item/item (t/uuid 11),
       :user-item/viewed-at nil}}
     :current-item)),
   :ex #error {
 :cause "[SQLITE_ERROR] SQL error or missing database (no such column: user_item.item)"
 :via
 [{:type org.sqlite.SQLiteException
   :message "[SQLITE_ERROR] SQL error or missing database (no such column: user_item.item)"
   :at [org.sqlite.core.DB newSQLException "DB.java" 1179]}]
 :trace
 [[org.sqlite.core.DB newSQLException "DB.java" 1179]
  [org.sqlite.core.DB newSQLException "DB.java" 1190]
  [org.sqlite.core.DB throwex "DB.java" 1150]
  [org.sqlite.core.NativeDB prepare_utf8 "NativeDB.java" -2]
  [org.sqlite.core.NativeDB prepare "NativeDB.java" 135]
  [org.sqlite.core.DB prepare "DB.java" 264]
  [org.sqlite.core.CorePreparedStatement <init> "CorePreparedStatement.java" 46]
  [org.sqlite.jdbc3.JDBC3PreparedStatement <init> "JDBC3PreparedStatement.java" 32]
  [org.sqlite.jdbc4.JDBC4PreparedStatement <init> "JDBC4PreparedStatement.java" 28]
  [org.sqlite.jdbc4.JDBC4Connection prepareStatement "JDBC4Connection.java" 34]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 225]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 205]
  [next.jdbc.prepare$create invokeStatic "prepare.clj" 134]
  [next.jdbc.prepare$create invoke "prepare.clj" 84]
  [next.jdbc.result_set$eval14846$fn__14854 invoke "result_set.clj" 895]
  [next.jdbc.protocols$eval13884$fn__13900$G__13875__13909 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.work.materialized_views$fn__103565 invokeStatic "materialized_views.clj" 42]
  [com.yakread.work.materialized_views$fn__103565 invoke "materialized_views.clj" 36]
  [com.yakread.lib.fx$machine$run__100819 invoke "fx.clj" 76]
  [tmp891877$eval113846 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp891877$eval113846 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc
   "on-tx: user-item record with email sub queues sub-affinity and current-item",
   :eval
   (t/with-sqlite
    [conn
     {:item [{:xt/id (t/uuid 1), :item/email-sub-id (t/uuid 100)}]}]
    (on-tx
     {:biff/conn* conn,
      :record
      {:user-item/user (t/uuid 10),
       :user-item/item (t/uuid 1),
       :user-item/viewed-at (t/zdt 2000)}}
     :start)),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.materialized-views/update
       {:view :sub-affinity,
        :sub/id #uuid "01000000-0000-0000-0000-000000000100"}]
      [:work.materialized-views/update
       {:user-item/user #uuid "00100000-0000-0000-0000-000000000010",
        :user-item/item #uuid "00010000-0000-0000-0000-000000000001",
        :user-item/viewed-at
        #time/zoned-date-time "2000-01-01T00:00Z[UTC]",
        :view :current-item}])}}}
  _
  {:doc
   "on-tx: user-item record with feed sub queues sub-affinity and current-item",
   :eval
   (t/with-sqlite
    [conn
     {:item [{:xt/id (t/uuid 1), :item/feed-id (t/uuid 50)}],
      :sub
      [{:xt/id (t/uuid 100),
        :sub/user-id (t/uuid 10),
        :sub/feed-id (t/uuid 50)}]}]
    (on-tx
     {:biff/conn* conn,
      :record
      {:user-item/user (t/uuid 10),
       :user-item/item (t/uuid 1),
       :user-item/viewed-at (t/zdt 2000)}}
     :start)),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.materialized-views/update
       {:view :sub-affinity,
        :sub/id #uuid "01000000-0000-0000-0000-000000000100"}]
      [:work.materialized-views/update
       {:user-item/user #uuid "00100000-0000-0000-0000-000000000010",
        :user-item/item #uuid "00010000-0000-0000-0000-000000000001",
        :user-item/viewed-at
        #time/zoned-date-time "2000-01-01T00:00Z[UTC]",
        :view :current-item}])}}}
  _
  {:doc
   "on-tx: user-item record without sub still queues current-item",
   :eval
   (t/with-sqlite
    [conn {:item [{:xt/id (t/uuid 1)}]}]
    (on-tx
     {:biff/conn* conn,
      :record
      {:user-item/user (t/uuid 10),
       :user-item/item (t/uuid 1),
       :user-item/viewed-at (t/zdt 2000)}}
     :start)),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.materialized-views/update
       {:user-item/user #uuid "00100000-0000-0000-0000-000000000010",
        :user-item/item #uuid "00010000-0000-0000-0000-000000000001",
        :user-item/viewed-at
        #time/zoned-date-time "2000-01-01T00:00Z[UTC]",
        :view :current-item}])}}}
  _
  {:doc "on-tx: skip record with email sub queues sub-affinity",
   :eval
   (t/with-sqlite
    [conn
     {:reclist [{:xt/id (t/uuid 1), :reclist/user-id (t/uuid 10)}],
      :item [{:xt/id (t/uuid 2), :item/email-sub-id (t/uuid 100)}]}]
    (on-tx
     {:biff/conn* conn,
      :record {:skip/item (t/uuid 2), :skip/reclist (t/uuid 1)}}
     :start)),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.materialized-views/update
       {:view :sub-affinity,
        :sub/id #uuid "01000000-0000-0000-0000-000000000100"}])}}}
  _
  {:doc "on-tx: skip record with feed sub queues sub-affinity",
   :eval
   (t/with-sqlite
    [conn
     {:reclist [{:xt/id (t/uuid 1), :reclist/user-id (t/uuid 10)}],
      :item [{:xt/id (t/uuid 2), :item/feed-id (t/uuid 50)}],
      :sub
      [{:xt/id (t/uuid 100),
        :sub/user-id (t/uuid 10),
        :sub/feed-id (t/uuid 50)}]}]
    (on-tx
     {:biff/conn* conn,
      :record {:skip/item (t/uuid 2), :skip/reclist (t/uuid 1)}}
     :start)),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.materialized-views/update
       {:view :sub-affinity,
        :sub/id #uuid "01000000-0000-0000-0000-000000000100"}])}}}
  _
  {:doc "on-tx: skip record without matching sub returns nil jobs",
   :eval
   (t/with-sqlite
    [conn
     {:reclist [{:xt/id (t/uuid 1), :reclist/user-id (t/uuid 10)}],
      :item [{:xt/id (t/uuid 2)}]}]
    (on-tx
     {:biff/conn* conn,
      :record {:skip/item (t/uuid 2), :skip/reclist (t/uuid 1)}}
     :start)),
   :result {:biff.fx/queue {:jobs ()}}}
  _]}
