{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.work.materialized-views :refer :all]],
 :tests
 [{:eval (update-views {:biff/job {:view :sub-affinity}} :start),
   :result {:biff.fx/next :sub-affinity}}
  _
  {:eval (update-views {:biff/job {:sub/id "abc123"}} :sub-affinity),
   :result
   {:biff.fx/pathom
    {:entity {:sub/id "abc123"},
     :query
     [:sub/id
      :sub/affinity-low*
      :sub/affinity-high*
      {(:sub/mv
        {:com.wsscode.pathom3.connect.operation/optional? true})
       [(:mv-sub/affinity-low
         {:com.wsscode.pathom3.connect.operation/optional? true})
        (:mv-sub/affinity-high
         {:com.wsscode.pathom3.connect.operation/optional? true})]}]},
    :biff.fx/next :sub-affinity-update}}
  _
  {:eval
   (update-views
    {:biff.fx/pathom
     {:sub/id "abc123",
      :sub/affinity-low* 0.2,
      :sub/affinity-high* 0.5,
      :sub/mv {:mv-sub/affinity-low 0.2, :mv-sub/affinity-high 0.5}}}
    :sub-affinity-update),
   :result nil}
  _
  {:eval
   (update-views
    {:biff.fx/pathom
     {:sub/id "abc123",
      :sub/affinity-low* 0.2,
      :sub/affinity-high* 0.5,
      :sub/mv {:mv-sub/affinity-low 0.2, :mv-sub/affinity-high 0.6}}}
    :sub-affinity-update),
   :result
   {:biff.fx/sqlite
    [{:insert-into :mv-sub,
      :values
      [{:mv-sub/id #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be",
        :mv-sub/sub-id "abc123",
        :mv-sub/affinity-low 0.2,
        :mv-sub/affinity-high 0.5}],
      :on-conflict [:mv-sub/sub-id],
      :do-update-set {:fields [:affinity-low :affinity-high]}}]}}
  _
  {:doc "start with current-item view",
   :eval (update-views {:biff/job {:view :current-item}} :start),
   :result {:biff.fx/next :current-item}}
  _
  {:doc
   "current-item: set new current item when no previous item exists",
   :eval
   (t/with-sqlite
    [ctx {:user [{:user/id (t/uuid 1)}]}]
    (update-views
     (merge
      ctx
      {:biff/job
       {:user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at (t/instant 2000)}})
     :current-item)),
   :result
   {:biff.fx/sqlite
    [{:insert-into :mv-user,
      :values
      [{:mv-user/id #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be",
        :mv-user/user-id #uuid "00010000-0000-0000-0000-000000000001",
        :mv-user/current-item-id
        #uuid "00100000-0000-0000-0000-000000000010"}],
      :on-conflict [:mv-user/user-id],
      :do-update-set {:fields [:current-item-id]}}]}}
  _
  {:doc
   "current-item: update current item when new item is more recent",
   :eval
   (t/with-sqlite
    [ctx
     {:mv-user
      [{:mv-user/id (t/uuid 100),
        :mv-user/user-id (t/uuid 1),
        :mv-user/current-item-id (t/uuid 10)}],
      :user-item
      [{:user-item/id (t/uuid 200),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at (t/instant 2000)}]}]
    (update-views
     (merge
      ctx
      {:biff/job
       {:user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 11),
        :user-item/viewed-at (t/instant 2001)}})
     :current-item)),
   :result
   {:biff.fx/sqlite
    [{:insert-into :mv-user,
      :values
      [{:mv-user/id #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be",
        :mv-user/user-id #uuid "00010000-0000-0000-0000-000000000001",
        :mv-user/current-item-id
        #uuid "00110000-0000-0000-0000-000000000011"}],
      :on-conflict [:mv-user/user-id],
      :do-update-set {:fields [:current-item-id]}}]}}
  _
  {:doc "current-item: do not update when new item is older",
   :eval
   (t/with-sqlite
    [ctx
     {:mv-user
      [{:mv-user/id (t/uuid 100),
        :mv-user/user-id (t/uuid 1),
        :mv-user/current-item-id (t/uuid 10)}],
      :user-item
      [{:user-item/id (t/uuid 200),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at (t/instant 2001)}]}]
    (update-views
     (merge
      ctx
      {:biff/job
       {:user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 11),
        :user-item/viewed-at (t/instant 2000)}})
     :current-item)),
   :result nil}
  _
  {:doc
   "current-item: remove current item when viewed-at is nil and item matches",
   :eval
   (t/with-sqlite
    [ctx
     {:mv-user
      [{:mv-user/id (t/uuid 100),
        :mv-user/user-id (t/uuid 1),
        :mv-user/current-item-id (t/uuid 10)}],
      :user-item
      [{:user-item/id (t/uuid 200),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at (t/instant 2000)}]}]
    (update-views
     (merge
      ctx
      {:biff/job
       {:user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at nil}})
     :current-item)),
   :result
   {:biff.fx/sqlite
    [{:insert-into :mv-user,
      :values
      [{:mv-user/id #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be",
        :mv-user/user-id #uuid "00010000-0000-0000-0000-000000000001",
        :mv-user/current-item-id nil}],
      :on-conflict [:mv-user/user-id],
      :do-update-set {:fields [:current-item-id]}}]}}
  _
  {:doc
   "current-item: do not remove when viewed-at is nil but item doesn't match",
   :eval
   (t/with-sqlite
    [ctx
     {:mv-user
      [{:mv-user/id (t/uuid 100),
        :mv-user/user-id (t/uuid 1),
        :mv-user/current-item-id (t/uuid 10)}],
      :user-item
      [{:user-item/id (t/uuid 200),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at (t/instant 2000)}]}]
    (update-views
     (merge
      ctx
      {:biff/job
       {:user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 11),
        :user-item/viewed-at nil}})
     :current-item)),
   :result nil}
  _
  {:doc
   "on-tx: user-item record with email sub queues sub-affinity and current-item",
   :eval
   (t/with-sqlite
    [ctx
     {:item [{:item/id (t/uuid 1), :item/email-sub-id (t/uuid 100)}]}]
    (on-tx
     (merge
      ctx
      {:record
       {:user-item/user-id (t/uuid 10),
        :user-item/item-id (t/uuid 1),
        :user-item/viewed-at (t/instant 2000)}})
     :start)),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.materialized-views/update
       {:view :sub-affinity,
        :sub/id #uuid "01000000-0000-0000-0000-000000000100"}]
      [:work.materialized-views/update
       {:user-item/user-id
        #uuid "00100000-0000-0000-0000-000000000010",
        :user-item/item-id
        #uuid "00010000-0000-0000-0000-000000000001",
        :user-item/viewed-at #time/instant "2000-01-01T00:00:00Z",
        :view :current-item}])}}}
  _
  {:doc
   "on-tx: user-item record with feed sub queues sub-affinity and current-item",
   :eval
   (t/with-sqlite
    [ctx
     {:item [{:item/id (t/uuid 1), :item/feed-id (t/uuid 50)}],
      :sub
      [{:sub/id (t/uuid 100),
        :sub/user-id (t/uuid 10),
        :sub/feed-id (t/uuid 50)}]}]
    (on-tx
     (merge
      ctx
      {:record
       {:user-item/user-id (t/uuid 10),
        :user-item/item-id (t/uuid 1),
        :user-item/viewed-at (t/instant 2000)}})
     :start)),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.materialized-views/update
       {:view :sub-affinity,
        :sub/id #uuid "01000000-0000-0000-0000-000000000100"}]
      [:work.materialized-views/update
       {:user-item/user-id
        #uuid "00100000-0000-0000-0000-000000000010",
        :user-item/item-id
        #uuid "00010000-0000-0000-0000-000000000001",
        :user-item/viewed-at #time/instant "2000-01-01T00:00:00Z",
        :view :current-item}])}}}
  _
  {:doc
   "on-tx: user-item record without sub still queues current-item",
   :eval
   (t/with-sqlite
    [ctx {:item [{:item/id (t/uuid 1)}]}]
    (on-tx
     (merge
      ctx
      {:record
       {:user-item/user-id (t/uuid 10),
        :user-item/item-id (t/uuid 1),
        :user-item/viewed-at (t/instant 2000)}})
     :start)),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.materialized-views/update
       {:user-item/user-id
        #uuid "00100000-0000-0000-0000-000000000010",
        :user-item/item-id
        #uuid "00010000-0000-0000-0000-000000000001",
        :user-item/viewed-at #time/instant "2000-01-01T00:00:00Z",
        :view :current-item}])}}}
  _
  {:doc "on-tx: skip record with email sub queues sub-affinity",
   :eval
   (t/with-sqlite
    [ctx
     {:reclist
      [{:reclist/id (t/uuid 1), :reclist/user-id (t/uuid 10)}],
      :item [{:item/id (t/uuid 2), :item/email-sub-id (t/uuid 100)}]}]
    (on-tx
     (merge
      ctx
      {:record
       {:skip/item-id (t/uuid 2), :skip/reclist-id (t/uuid 1)}})
     :start)),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.materialized-views/update
       {:view :sub-affinity,
        :sub/id #uuid "01000000-0000-0000-0000-000000000100"}])}}}
  _
  {:doc "on-tx: skip record with feed sub queues sub-affinity",
   :eval
   (t/with-sqlite
    [ctx
     {:reclist
      [{:reclist/id (t/uuid 1), :reclist/user-id (t/uuid 10)}],
      :item [{:item/id (t/uuid 2), :item/feed-id (t/uuid 50)}],
      :sub
      [{:sub/id (t/uuid 100),
        :sub/user-id (t/uuid 10),
        :sub/feed-id (t/uuid 50)}]}]
    (on-tx
     (merge
      ctx
      {:record
       {:skip/item-id (t/uuid 2), :skip/reclist-id (t/uuid 1)}})
     :start)),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.materialized-views/update
       {:view :sub-affinity,
        :sub/id #uuid "01000000-0000-0000-0000-000000000100"}])}}}
  _
  {:doc "on-tx: skip record without matching sub returns nil jobs",
   :eval
   (t/with-sqlite
    [ctx
     {:reclist
      [{:reclist/id (t/uuid 1), :reclist/user-id (t/uuid 10)}],
      :item [{:item/id (t/uuid 2)}]}]
    (on-tx
     (merge
      ctx
      {:record
       {:skip/item-id (t/uuid 2), :skip/reclist-id (t/uuid 1)}})
     :start)),
   :result {:biff.fx/queue {:jobs ()}}}
  _]}
