{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread :as main]
  [com.yakread.work.materialized-views :refer :all]],
 :tests
 [{:eval (update-views {:biff/job {:view :sub-affinity}} :start),
   :result {:biff.fx/next :sub-affinity}}
  _
  {:eval (update-views {:biff/job {:sub/id "abc123"}} :sub-affinity),
   :result
   {:biff.fx/pathom
    {:entity {:sub/id "abc123"},
     :query
     [:sub/id
      :sub/affinity-low*
      :sub/affinity-high*
      {(:sub/mv
        {:com.wsscode.pathom3.connect.operation/optional? true})
       [(:mv-sub/affinity-low
         {:com.wsscode.pathom3.connect.operation/optional? true})
        (:mv-sub/affinity-high
         {:com.wsscode.pathom3.connect.operation/optional? true})]}]},
    :biff.fx/next :sub-affinity-update}}
  _
  {:eval
   (update-views
    {:biff.fx/pathom
     {:sub/id "abc123",
      :sub/affinity-low* 0.2,
      :sub/affinity-high* 0.5,
      :sub/mv {:mv-sub/affinity-low 0.2, :mv-sub/affinity-high 0.5}}}
    :sub-affinity-update),
   :result nil}
  _
  {:eval
   (update-views
    {:biff.fx/pathom
     {:sub/id "abc123",
      :sub/affinity-low* 0.2,
      :sub/affinity-high* 0.5,
      :sub/mv {:mv-sub/affinity-low 0.2, :mv-sub/affinity-high 0.6}}}
    :sub-affinity-update),
   :result
   {:biff.fx/tx
    [[:put-docs
      :mv-sub
      {:mv-sub/id #uuid "abc1b45f-d4d9-5138-3d93-cb799b3970be",
       :mv-sub/sub-id "abc123",
       :mv-sub/affinity-low 0.2,
       :mv-sub/affinity-high 0.5}]]}}
  _
  {:doc "start with current-item view",
   :eval (update-views {:biff/job {:view :current-item}} :start),
   :result {:biff.fx/next :current-item}}
  _
  {:doc
   "current-item: set new current item when no previous item exists",
   :eval
   (t/with-node
    [node
     {:user [{:user/id (t/uuid 1), :user/email "test@example.com"}]}]
    (update-views
     {:biff/conn node,
      :biff/malli-opts main/malli-opts,
      :biff/job
      {:user-item/user-id (t/uuid 1),
       :user-item/item-id (t/uuid 10),
       :user-item/viewed-at (t/zdt 2000)}}
     :current-item)),
   :result
   {:biff.fx/tx
    [[:put-docs
      :mv-user
      {:mv-user/id #uuid "0001b45f-d4d9-5138-3d93-cb799b3970be",
       :mv-user/user-id #uuid "00010000-0000-0000-0000-000000000001",
       :mv-user/current-item-id
       #uuid "00100000-0000-0000-0000-000000000010"}]]}}
  _
  {:doc
   "current-item: update current item when new item is more recent",
   :eval
   (t/with-node
    [node
     {:mv-user
      [{:mv-user/id (t/uuid 100),
        :mv-user/user-id (t/uuid 1),
        :mv-user/current-item-id (t/uuid 10)}],
      :user-item
      [{:user-item/id (t/uuid 200),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at (t/zdt 2000)}]}]
    (update-views
     {:biff/conn node,
      :biff/malli-opts main/malli-opts,
      :biff/job
      {:user-item/user-id (t/uuid 1),
       :user-item/item-id (t/uuid 11),
       :user-item/viewed-at (t/zdt 2001)}}
     :current-item)),
   :result
   {:biff.fx/tx
    [[:put-docs
      :mv-user
      {:mv-user/id #uuid "0001b45f-d4d9-5138-3d93-cb799b3970be",
       :mv-user/user-id #uuid "00010000-0000-0000-0000-000000000001",
       :mv-user/current-item-id
       #uuid "00110000-0000-0000-0000-000000000011"}]]}}
  _
  {:doc "current-item: do not update when new item is older",
   :eval
   (t/with-node
    [node
     {:mv-user
      [{:mv-user/id (t/uuid 100),
        :mv-user/user-id (t/uuid 1),
        :mv-user/current-item-id (t/uuid 10)}],
      :user-item
      [{:user-item/id (t/uuid 200),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at (t/zdt 2001)}]}]
    (update-views
     {:biff/conn node,
      :biff/malli-opts main/malli-opts,
      :biff/job
      {:user-item/user-id (t/uuid 1),
       :user-item/item-id (t/uuid 11),
       :user-item/viewed-at (t/zdt 2000)}}
     :current-item)),
   :result
   {:biff.fx/tx
    [[:put-docs
      :mv-user
      {:mv-user/id #uuid "0001b45f-d4d9-5138-3d93-cb799b3970be",
       :mv-user/user-id #uuid "00010000-0000-0000-0000-000000000001",
       :mv-user/current-item-id
       #uuid "00110000-0000-0000-0000-000000000011"}]]}}
  _
  {:doc
   "current-item: remove current item when viewed-at is nil and item matches",
   :eval
   (t/with-node
    [node
     {:mv-user
      [{:mv-user/id (t/uuid 100),
        :mv-user/user-id (t/uuid 1),
        :mv-user/current-item-id (t/uuid 10)}],
      :user-item
      [{:user-item/id (t/uuid 200),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at (t/zdt 2000)}]}]
    (update-views
     {:biff/conn node,
      :biff/malli-opts main/malli-opts,
      :biff/job
      {:user-item/user-id (t/uuid 1),
       :user-item/item-id (t/uuid 10),
       :user-item/viewed-at nil}}
     :current-item)),
   :result nil}
  _
  {:doc
   "current-item: do not remove when viewed-at is nil but item doesn't match",
   :eval
   (t/with-node
    [node
     {:mv-user
      [{:mv-user/id (t/uuid 100),
        :mv-user/user-id (t/uuid 1),
        :mv-user/current-item-id (t/uuid 10)}],
      :user-item
      [{:user-item/id (t/uuid 200),
        :user-item/user-id (t/uuid 1),
        :user-item/item-id (t/uuid 10),
        :user-item/viewed-at (t/zdt 2000)}]}]
    (update-views
     {:biff/conn node,
      :biff/malli-opts main/malli-opts,
      :biff/job
      {:user-item/user-id (t/uuid 1),
       :user-item/item-id (t/uuid 11),
       :user-item/viewed-at nil}}
     :current-item)),
   :result nil}
  _
  {:doc
   "on-tx: user-item record with email sub queues sub-affinity and current-item",
   :eval
   (t/with-node
    [node
     {:item
      [{:item/id (t/uuid 1),
        :item/email-sub-id (t/uuid 100),
        :item/ingested-at (t/instant 2000),
        :item/record-type :email}]}]
    (on-tx
     {:biff/conn node,
      :biff/malli-opts main/malli-opts,
      :record
      {:user-item/user-id (t/uuid 10),
       :user-item/item-id (t/uuid 1),
       :user-item/viewed-at (t/zdt 2000)}}
     :start)),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.materialized-views/update
       {:user-item/user-id
        #uuid "00100000-0000-0000-0000-000000000010",
        :user-item/item-id
        #uuid "00010000-0000-0000-0000-000000000001",
        :user-item/viewed-at
        #time/zoned-date-time "2000-01-01T00:00Z[UTC]",
        :view :current-item}])}}}
  _
  {:doc
   "on-tx: user-item record with feed sub queues sub-affinity and current-item",
   :eval
   (t/with-node
    [node
     {:item
      [{:item/id (t/uuid 1),
        :item/feed-id (t/uuid 50),
        :item/ingested-at (t/instant 2000),
        :item/record-type :feed}],
      :sub
      [{:sub/id (t/uuid 100),
        :sub/user-id (t/uuid 10),
        :sub/feed-id (t/uuid 50),
        :sub/created-at (t/instant 2000),
        :sub/record-type :feed}]}]
    (on-tx
     {:biff/conn node,
      :biff/malli-opts main/malli-opts,
      :record
      {:user-item/user-id (t/uuid 10),
       :user-item/item-id (t/uuid 1),
       :user-item/viewed-at (t/zdt 2000)}}
     :start)),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.materialized-views/update
       {:user-item/user-id
        #uuid "00100000-0000-0000-0000-000000000010",
        :user-item/item-id
        #uuid "00010000-0000-0000-0000-000000000001",
        :user-item/viewed-at
        #time/zoned-date-time "2000-01-01T00:00Z[UTC]",
        :view :current-item}])}}}
  _
  {:doc
   "on-tx: user-item record without sub still queues current-item",
   :eval
   (t/with-node
    [node
     {:item
      [{:item/id (t/uuid 1),
        :item/ingested-at (t/instant 2000),
        :item/record-type :direct}]}]
    (on-tx
     {:biff/conn node,
      :biff/malli-opts main/malli-opts,
      :record
      {:user-item/user-id (t/uuid 10),
       :user-item/item-id (t/uuid 1),
       :user-item/viewed-at (t/zdt 2000)}}
     :start)),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.materialized-views/update
       {:user-item/user-id
        #uuid "00100000-0000-0000-0000-000000000010",
        :user-item/item-id
        #uuid "00010000-0000-0000-0000-000000000001",
        :user-item/viewed-at
        #time/zoned-date-time "2000-01-01T00:00Z[UTC]",
        :view :current-item}])}}}
  _
  {:doc "on-tx: skip record with email sub queues sub-affinity",
   :eval
   (t/with-node
    [node
     {:reclist
      [{:reclist/id (t/uuid 1),
        :reclist/user-id (t/uuid 10),
        :reclist/created-at (t/instant 2000),
        :reclist/clicked #{}}],
      :item
      [{:item/id (t/uuid 2),
        :item/email-sub-id (t/uuid 100),
        :item/ingested-at (t/instant 2000),
        :item/record-type :email}]}]
    (on-tx
     {:biff/conn node,
      :biff/malli-opts main/malli-opts,
      :record {:skip/item-id (t/uuid 2), :skip/reclist-id (t/uuid 1)}}
     :start)),
   :result {:biff.fx/queue {:jobs ()}}}
  _
  {:doc "on-tx: skip record with feed sub queues sub-affinity",
   :eval
   (t/with-node
    [node
     {:reclist
      [{:reclist/id (t/uuid 1),
        :reclist/user-id (t/uuid 10),
        :reclist/created-at (t/instant 2000),
        :reclist/clicked #{}}],
      :item
      [{:item/id (t/uuid 2),
        :item/feed-id (t/uuid 50),
        :item/ingested-at (t/instant 2000),
        :item/record-type :feed}],
      :sub
      [{:sub/id (t/uuid 100),
        :sub/user-id (t/uuid 10),
        :sub/feed-id (t/uuid 50),
        :sub/created-at (t/instant 2000),
        :sub/record-type :feed}]}]
    (on-tx
     {:biff/conn node,
      :biff/malli-opts main/malli-opts,
      :record {:skip/item-id (t/uuid 2), :skip/reclist-id (t/uuid 1)}}
     :start)),
   :result {:biff.fx/queue {:jobs ()}}}
  _
  {:doc "on-tx: skip record without matching sub returns nil jobs",
   :eval
   (t/with-node
    [node
     {:reclist
      [{:reclist/id (t/uuid 1),
        :reclist/user-id (t/uuid 10),
        :reclist/created-at (t/instant 2000),
        :reclist/clicked #{}}],
      :item
      [{:item/id (t/uuid 2),
        :item/ingested-at (t/instant 2000),
        :item/record-type :direct}]}]
    (on-tx
     {:biff/conn node,
      :biff/malli-opts main/malli-opts,
      :record {:skip/item-id (t/uuid 2), :skip/reclist-id (t/uuid 1)}}
     :start)),
   :result {:biff.fx/queue {:jobs ()}}}
  _]}
