{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [clojure.java.io :as io]
  [com.yakread.work.subscription :refer :all]
  [clj-http.client :as http]
  [clojure.string :as str]],
 :fixtures
 {biffweb-com-feed
  (->
   (http/get "https://biffweb.com/feed.xml")
   (dissoc :http-client)
   (update :headers update-keys str/lower-case))},
 :tests
 [{:doc "active-users",
   :eval
   (t/with-sqlite
    [conn
     {:user
      [{:xt/id (t/uuid 15), :user/joined-at (t/zdt 2000)}
       {:xt/id (t/uuid 16), :user/joined-at (t/zdt 2001)}],
      :user-item
      [{:xt/id (t/uuid 13),
        :user-item/viewed-at (t/zdt 2000),
        :user-item/user-id (t/uuid 17)}
       {:xt/id (t/uuid 14),
        :user-item/viewed-at (t/zdt 2001),
        :user-item/user-id (t/uuid 18)}],
      :ad
      [{:xt/id (t/uuid 3),
        :ad/updated-at (t/zdt 2000),
        :ad/user-id (t/uuid 19)}
       {:xt/id (t/uuid 4),
        :ad/updated-at (t/zdt 2001),
        :ad/user-id (t/uuid 20)}],
      :ad-click
      [{:xt/id (t/uuid 1),
        :ad-click/created-at (t/zdt 2000),
        :ad-click/user-id (t/uuid 21)}
       {:xt/id (t/uuid 2),
        :ad-click/created-at (t/zdt 2001),
        :ad-click/user-id (t/uuid 22)}]}]
    (active-user-ids conn (t/zdt 2001 3))),
   :result [nil]}
  _
  {:doc "sync-all-feeds! skip feeds synced in the past 12 hours",
   :eval
   (t/with-sqlite
    [conn
     {:user [{:xt/id (t/uuid 15), :user/joined-at (t/zdt 2020)}],
      :sub
      [{:xt/id (t/uuid 10),
        :sub/user-id (t/uuid 15),
        :sub/feed-id (t/uuid 5)}
       {:xt/id (t/uuid 11),
        :sub/user-id (t/uuid 15),
        :sub/feed-id (t/uuid 6)}
       {:xt/id (t/uuid 12),
        :sub/user-id (t/uuid 15),
        :sub/feed-id (t/uuid 7)}],
      :feed
      [{:xt/id (t/uuid 5), :feed/url "url1"}
       {:xt/id (t/uuid 6),
        :feed/url "url2",
        :feed/synced-at (t/zdt 2020)}
       {:xt/id (t/uuid 7),
        :feed/url "url3",
        :feed/synced-at (t/zdt 2019 12 31)}]}]
    (sync-all-feeds!
     {:biff/conn* conn,
      :biff/now (t/zdt 2020),
      :yakread.work.sync-all-feeds/enabled true,
      :biff/queues
      {:work.subscription/sync-feed
       (java.util.concurrent.ConcurrentLinkedQueue.)}}
     :start)),
   :result
   {:biff.fx/queue
    {:jobs ([:work.subscription/sync-feed {:feed/id nil}])}}}
  _
  {:doc "sync-feed! start without metadata",
   :eval
   (t/with-sqlite
    [conn
     {:feed
      [{:xt/id (t/uuid 5), :feed/url "url1"}
       {:xt/id (t/uuid 6),
        :feed/url "url2",
        :feed/etag "abc123",
        :feed/last-modified "2000",
        :feed/failed-syncs 2}]}]
    (let
     [start
      (fn
       [feed-id]
       (sync-feed!
        {:biff/conn* conn,
         :biff/base-url "https://example.com",
         :biff/job {:feed/id feed-id}}
        :start))]
     {:without-metadata (start (t/uuid 5)),
      :with-metadata (start (t/uuid 6))})),
   :ex #error {
 :cause "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
 :via
 [{:type java.lang.ClassCastException
   :message "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
   :at [clojure.core$name invokeStatic "core.clj" 1610]}]
 :trace
 [[clojure.core$name invokeStatic "core.clj" 1610]
  [clojure.core$name invoke "core.clj" 1604]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$transduce invokeStatic "core.clj" 7025]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.yakread.util.biff_staging$unqualify_aliases invokeStatic "biff_staging.clj" 947]
  [com.yakread.util.biff_staging$unqualify_aliases invoke "biff_staging.clj" 940]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 976]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 958]
  [com.yakread.work.subscription$fn__65683 invokeStatic "subscription.clj" 72]
  [com.yakread.work.subscription$fn__65683 invoke "subscription.clj" 70]
  [com.yakread.lib.fx$machine$run__53651 invoke "fx.clj" 76]
  [tmp621828$eval71912$start__71913 invoke "NO_SOURCE_FILE" 0]
  [tmp621828$eval71912 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp621828$eval71912 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "sync-feed! :parse",
   :eval
   (t/with-sqlite
    [conn
     {:item
      [{:xt/id (t/uuid 8),
        :item/feed-id (t/uuid 5),
        :item/title "Speeding up page loads with secondary indexes"}
       {:xt/id (t/uuid 9),
        :item/feed-id (t/uuid 5),
        :item/feed-guid "https://biffweb.com/p/removing-effects/"}]}]
    (t/truncate
     (sync-feed!
      {:biff/conn* conn,
       :biff/job {:feed/id (t/uuid 5)},
       :biff.fx/http
       (update
        biffweb-com-feed
        :body
        (fn [body] (io/input-stream (.getBytes body)))),
       :biff/now (t/zdt 2000),
       :feed/failed-syncs 2}
      :parse))),
   :ex #error {
 :cause "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
 :via
 [{:type java.lang.ClassCastException
   :message "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
   :at [clojure.core$name invokeStatic "core.clj" 1610]}]
 :trace
 [[clojure.core$name invokeStatic "core.clj" 1610]
  [clojure.core$name invoke "core.clj" 1604]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$transduce invokeStatic "core.clj" 7025]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.yakread.util.biff_staging$unqualify_aliases invokeStatic "biff_staging.clj" 947]
  [com.yakread.util.biff_staging$unqualify_aliases invoke "biff_staging.clj" 940]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 976]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 958]
  [com.yakread.work.subscription$fn__65692 invokeStatic "subscription.clj" 162]
  [com.yakread.work.subscription$fn__65692 invoke "subscription.clj" 93]
  [com.yakread.lib.fx$machine$run__53651 invoke "fx.clj" 76]
  [tmp621828$eval71916 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp621828$eval71916 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
