{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [clojure.java.io :as io]
  [com.yakread.work.subscription :refer :all]
  [clj-http.client :as http]
  [clojure.string :as str]],
 :fixtures
 {biffweb-com-feed
  (->
   (http/get "https://biffweb.com/feed.xml")
   (dissoc :http-client)
   (update :headers update-keys str/lower-case))},
 :tests
 [{:doc "active-users",
   :eval
   (t/with-sqlite
    [conn
     {:user
      [{:xt/id "user1", :user/joined-at (t/zdt 2000)}
       {:xt/id "user2", :user/joined-at (t/zdt 2001)}],
      :user-item
      [{:xt/id "user-item1",
        :user-item/viewed-at (t/zdt 2000),
        :user-item/user-id "user3"}
       {:xt/id "user-item2",
        :user-item/viewed-at (t/zdt 2001),
        :user-item/user-id "user4"}],
      :ad
      [{:xt/id "ad1", :ad/updated-at (t/zdt 2000), :ad/user-id "user5"}
       {:xt/id "ad2",
        :ad/updated-at (t/zdt 2001),
        :ad/user-id "user6"}],
      :ad-click
      [{:xt/id "ad-click1",
        :ad-click/created-at (t/zdt 2000),
        :ad-click/user-id "user7"}
       {:xt/id "ad-click2",
        :ad-click/created-at (t/zdt 2001),
        :ad-click/user-id "user8"}]}]
    (active-user-ids conn (t/zdt 2001 3))),
   :ex #error {
 :cause "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
 :data {:attr :feed/moderation, :value :approved}
 :via
 [{:type clojure.lang.ExceptionInfo
   :message "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
   :data {:attr :feed/moderation, :value :approved}
   :at [com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]}]
 :trace
 [[com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]
  [clojure.core$map$fn__5954 invoke "core.clj" 2772]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$fn__5577 invoke "core.clj" 727]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$cat__5579$fn__5580 invoke "core.clj" 736]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core.protocols$seq_reduce invokeStatic "protocols.clj" 24]
  [clojure.core.protocols$fn__8262 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8262 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$reduce invokeStatic "core.clj" 6965]
  [clojure.core$cat$fn__8893 invoke "core.clj" 7817]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.core.protocols$iterator_reduce_BANG_ invokeStatic "protocols.clj" 42]
  [clojure.core.protocols$iter_reduce invokeStatic "protocols.clj" 52]
  [clojure.core.protocols$fn__8256 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8256 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$transduce invokeStatic "core.clj" 7026]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.biffweb.sqlite$build_enum_val__GT_int invokeStatic "sqlite.clj" 249]
  [com.biffweb.sqlite$build_enum_val__GT_int invoke "sqlite.clj" 244]
  [com.biffweb.sqlite$fn__35046 invokeStatic "sqlite.clj" 466]
  [com.biffweb.sqlite$fn__35046 invoke "sqlite.clj" 463]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$memoize$fn__6969 doInvoke "core.clj" 6424]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 482]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 851]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 840]
  [com.yakread.work.subscription$active_user_ids invokeStatic "subscription.clj" 19]
  [com.yakread.work.subscription$active_user_ids invoke "subscription.clj" 17]
  [tmp110200$eval71819 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp110200$eval71819 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "sync-all-feeds! skip feeds synced in the past 12 hours",
   :eval
   (t/with-sqlite
    [conn
     {:user [{:xt/id "user1", :user/joined-at (t/zdt 2020)}],
      :sub
      [{:xt/id "sub1", :sub/user-id "user1", :sub/feed-id "feed1"}
       {:xt/id "sub2", :sub/user-id "user1", :sub/feed-id "feed2"}
       {:xt/id "sub3", :sub/user-id "user1", :sub/feed-id "feed3"}],
      :feed
      [{:xt/id "feed1", :feed/url "url1"}
       {:xt/id "feed2", :feed/url "url2", :feed/synced-at (t/zdt 2020)}
       {:xt/id "feed3",
        :feed/url "url3",
        :feed/synced-at (t/zdt 2019 12 31)}]}]
    (sync-all-feeds!
     {:biff/conn* conn,
      :biff/now (t/zdt 2020),
      :yakread.work.sync-all-feeds/enabled true,
      :biff/queues
      {:work.subscription/sync-feed
       (java.util.concurrent.ConcurrentLinkedQueue.)}}
     :start)),
   :ex #error {
 :cause "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
 :data {:attr :feed/moderation, :value :approved}
 :via
 [{:type clojure.lang.ExceptionInfo
   :message "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
   :data {:attr :feed/moderation, :value :approved}
   :at [com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]}]
 :trace
 [[com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]
  [clojure.core$map$fn__5954 invoke "core.clj" 2772]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$fn__5577 invoke "core.clj" 727]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$cat__5579$fn__5580 invoke "core.clj" 736]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core.protocols$seq_reduce invokeStatic "protocols.clj" 24]
  [clojure.core.protocols$fn__8262 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8262 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$reduce invokeStatic "core.clj" 6965]
  [clojure.core$cat$fn__8893 invoke "core.clj" 7817]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.core.protocols$iterator_reduce_BANG_ invokeStatic "protocols.clj" 42]
  [clojure.core.protocols$iter_reduce invokeStatic "protocols.clj" 52]
  [clojure.core.protocols$fn__8256 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8256 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$transduce invokeStatic "core.clj" 7026]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.biffweb.sqlite$build_enum_val__GT_int invokeStatic "sqlite.clj" 249]
  [com.biffweb.sqlite$build_enum_val__GT_int invoke "sqlite.clj" 244]
  [com.biffweb.sqlite$fn__35046 invokeStatic "sqlite.clj" 466]
  [com.biffweb.sqlite$fn__35046 invoke "sqlite.clj" 463]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$memoize$fn__6969 doInvoke "core.clj" 6424]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 482]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 851]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 840]
  [com.yakread.work.subscription$active_user_ids invokeStatic "subscription.clj" 19]
  [com.yakread.work.subscription$active_user_ids invoke "subscription.clj" 17]
  [com.yakread.work.subscription$fn__65562 invokeStatic "subscription.clj" 39]
  [com.yakread.work.subscription$fn__65562 invoke "subscription.clj" 37]
  [com.yakread.lib.fx$machine$run__53562 invoke "fx.clj" 76]
  [tmp110200$eval71821 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp110200$eval71821 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "sync-feed! start without metadata",
   :eval
   (t/with-sqlite
    [conn
     {:feed
      [{:xt/id "feed1", :feed/url "url1"}
       {:xt/id "feed2",
        :feed/url "url2",
        :feed/etag "abc123",
        :feed/last-modified "2000",
        :feed/failed-syncs 2}]}]
    (let
     [start
      (fn
       [feed-id]
       (sync-feed!
        {:biff/conn* conn,
         :biff/base-url "https://example.com",
         :biff/job {:feed/id feed-id}}
        :start))]
     {:without-metadata (start "feed1"),
      :with-metadata (start "feed2")})),
   :ex #error {
 :cause "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
 :data {:attr :feed/moderation, :value :approved}
 :via
 [{:type clojure.lang.ExceptionInfo
   :message "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
   :data {:attr :feed/moderation, :value :approved}
   :at [com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]}]
 :trace
 [[com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]
  [clojure.core$map$fn__5954 invoke "core.clj" 2772]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$fn__5577 invoke "core.clj" 727]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$cat__5579$fn__5580 invoke "core.clj" 736]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core.protocols$seq_reduce invokeStatic "protocols.clj" 24]
  [clojure.core.protocols$fn__8262 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8262 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$reduce invokeStatic "core.clj" 6965]
  [clojure.core$cat$fn__8893 invoke "core.clj" 7817]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.core.protocols$iterator_reduce_BANG_ invokeStatic "protocols.clj" 42]
  [clojure.core.protocols$iter_reduce invokeStatic "protocols.clj" 52]
  [clojure.core.protocols$fn__8256 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8256 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$transduce invokeStatic "core.clj" 7026]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.biffweb.sqlite$build_enum_val__GT_int invokeStatic "sqlite.clj" 249]
  [com.biffweb.sqlite$build_enum_val__GT_int invoke "sqlite.clj" 244]
  [com.biffweb.sqlite$fn__35046 invokeStatic "sqlite.clj" 466]
  [com.biffweb.sqlite$fn__35046 invoke "sqlite.clj" 463]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$memoize$fn__6969 doInvoke "core.clj" 6424]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 482]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 851]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 840]
  [com.yakread.work.subscription$fn__65594 invokeStatic "subscription.clj" 72]
  [com.yakread.work.subscription$fn__65594 invoke "subscription.clj" 70]
  [com.yakread.lib.fx$machine$run__53562 invoke "fx.clj" 76]
  [tmp110200$eval71823$start__71824 invoke "NO_SOURCE_FILE" 0]
  [tmp110200$eval71823 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp110200$eval71823 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "sync-feed! :parse",
   :eval
   (t/with-sqlite
    [conn
     {:item
      [{:xt/id "item1",
        :item/feed-id "feed1",
        :item/title "Speeding up page loads with secondary indexes"}
       {:xt/id "item2",
        :item/feed-id "feed1",
        :item/feed-guid "https://biffweb.com/p/removing-effects/"}]}]
    (t/truncate
     (sync-feed!
      {:biff/conn* conn,
       :biff/job {:feed/id "feed1"},
       :biff.fx/http
       (update
        biffweb-com-feed
        :body
        (fn [body] (io/input-stream (.getBytes body)))),
       :biff/now (t/zdt 2000),
       :feed/failed-syncs 2}
      :parse))),
   :ex #error {
 :cause "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
 :data {:attr :feed/moderation, :value :approved}
 :via
 [{:type clojure.lang.ExceptionInfo
   :message "Enum values must be namespaced keywords with namespace matching the column. Expected namespace: feed.moderation, got: :approved"
   :data {:attr :feed/moderation, :value :approved}
   :at [com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]}]
 :trace
 [[com.biffweb.sqlite$build_enum_val__GT_int$fn__34943$fn__34948$fn__34953 invoke "sqlite.clj" 257]
  [clojure.core$map$fn__5954 invoke "core.clj" 2772]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$fn__5577 invoke "core.clj" 727]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$concat$cat__5579$fn__5580 invoke "core.clj" 736]
  [clojure.lang.LazySeq force "LazySeq.java" 50]
  [clojure.lang.LazySeq realize "LazySeq.java" 89]
  [clojure.lang.LazySeq seq "LazySeq.java" 106]
  [clojure.lang.RT seq "RT.java" 555]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core.protocols$seq_reduce invokeStatic "protocols.clj" 24]
  [clojure.core.protocols$fn__8262 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8262 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$reduce invokeStatic "core.clj" 6965]
  [clojure.core$cat$fn__8893 invoke "core.clj" 7817]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.core.protocols$iterator_reduce_BANG_ invokeStatic "protocols.clj" 42]
  [clojure.core.protocols$iter_reduce invokeStatic "protocols.clj" 52]
  [clojure.core.protocols$fn__8256 invokeStatic "protocols.clj" 74]
  [clojure.core.protocols$fn__8256 invoke "protocols.clj" 74]
  [clojure.core.protocols$fn__8203$G__8198__8216 invoke "protocols.clj" 13]
  [clojure.core$transduce invokeStatic "core.clj" 7026]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.biffweb.sqlite$build_enum_val__GT_int invokeStatic "sqlite.clj" 249]
  [com.biffweb.sqlite$build_enum_val__GT_int invoke "sqlite.clj" 244]
  [com.biffweb.sqlite$fn__35046 invokeStatic "sqlite.clj" 466]
  [com.biffweb.sqlite$fn__35046 invoke "sqlite.clj" 463]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$memoize$fn__6969 doInvoke "core.clj" 6424]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 482]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 851]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 840]
  [com.yakread.work.subscription$fn__65603 invokeStatic "subscription.clj" 162]
  [com.yakread.work.subscription$fn__65603 invoke "subscription.clj" 93]
  [com.yakread.lib.fx$machine$run__53562 invoke "fx.clj" 76]
  [tmp110200$eval71827 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp110200$eval71827 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
