{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.work.train :refer :all]],
 :tests
 [{:eval
   (t/with-sqlite
    [conn
     {:item
      [{:xt/id (t/uuid 1), :item/url "https://example.com/1"}
       {:xt/id (t/uuid 2), :item/url "https://example.com/2"}
       {:xt/id (t/uuid 3),
        :item/url "https://example.com/2",
        :item/doc-type :item/direct}
       {:xt/id (t/uuid 4), :item/url "https://example.com/4"}],
      :user-item
      [{:xt/id (t/uuid 5),
        :user-item/item-id (t/uuid 1),
        :user-item/favorited-at (t/zdt 2000)}
       {:xt/id (t/uuid 6),
        :user-item/item-id (t/uuid 2),
        :user-item/favorited-at (t/zdt 2000)}]}]
    (queue-add-candidate
     {:biff/conn* conn,
      :biff/queues
      {:work.train/add-candidate
       (java.util.concurrent.ConcurrentLinkedQueue.)},
      :yakread.work.queue-add-candidate/enabled true})),
   :result
   {:biff.fx/queue
    {:jobs
     ([:work.train/add-candidate {:item/url "https://example.com/1"}]
      [:work.train/add-candidate
       {:item/url "https://example.com/2"}])}}}
  _]}
