{:require
 [[com.yakread.lib.test :as t]
  [com.yakread.lib.smtp :as lib.smtp]
  [clojure.java.io :as io]
  [clojure.data.generators :as gen]
  [com.yakread.smtp :refer :all]],
 :fixtures
 {message
  (lib.smtp/deliver-opts
   "bob@example.com"
   (slurp (io/resource "com/yakread/smtp/raw-email.txt"))),
  html
  "<!DOCTYPE html><html><head><title></title></head><body><div>the quick brown fox jumps over the lazy dog</div></body></html>"},
 :tests
 [{:doc "deliver* invalid domain",
   :eval
   (t/with-sqlite
    [conn {:user [{:xt/id (t/uuid 1), :user/email-username "hello"}]}]
    (let
     [f
      (fn
       [message-overrides]
       (deliver*
        {:biff/conn* conn,
         :yakread/domain "example.com",
         :biff.smtp/message (merge message message-overrides)}
        :start))]
     {:invalid-domain (f {:domain "1.example.com", :username "hello"}),
      :invalid-username (f {:domain "example.com", :username "hi"}),
      :valid (f {:username "hello"})})),
   :ex #error {
 :cause "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
 :via
 [{:type java.lang.ClassCastException
   :message "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
   :at [clojure.core$name invokeStatic "core.clj" 1610]}]
 :trace
 [[clojure.core$name invokeStatic "core.clj" 1610]
  [clojure.core$name invoke "core.clj" 1604]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$transduce invokeStatic "core.clj" 7025]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.yakread.util.biff_staging$unqualify_aliases invokeStatic "biff_staging.clj" 947]
  [com.yakread.util.biff_staging$unqualify_aliases invoke "biff_staging.clj" 940]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 976]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 958]
  [com.yakread.smtp$fn__65839 invokeStatic "smtp.clj" 39]
  [com.yakread.smtp$fn__65839 invoke "smtp.clj" 36]
  [com.yakread.lib.fx$machine$run__53651 invoke "fx.clj" 76]
  [tmp622559$eval71238$f__71239 invoke "NO_SOURCE_FILE" 0]
  [tmp622559$eval71238 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp622559$eval71238 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "deliver* :end parse failed",
   :eval
   (deliver*
    {:biff.smtp/message {:username "hello"}, :biff/now (t/zdt 2000)}
    :end),
   :result
   {:biff.fx/spit
    {:file "storage/juice-failed/946684800000.edn",
     :content "{:username \"hello\"}"}}}
  _
  {:doc "deliver* :end existing sub",
   :eval
   (t/with-sqlite
    [conn
     {:user [{:xt/id (t/uuid 0), :user/email-username "bob"}],
      :sub
      [{:xt/id (t/uuid 1),
        :sub/email-from "alice@example.com",
        :sub/user-id (t/uuid 0)}]}]
    (deliver*
     {:biff.smtp/message message,
      :biff/conn* conn,
      :biff/now (t/zdt 2000),
      :com.yakread.smtp/url "https://example.com/p/example-post",
      :com.yakread.fx/js {:html html}}
     :end)),
   :ex #error {
 :cause "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
 :via
 [{:type java.lang.ClassCastException
   :message "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
   :at [clojure.core$name invokeStatic "core.clj" 1610]}]
 :trace
 [[clojure.core$name invokeStatic "core.clj" 1610]
  [clojure.core$name invoke "core.clj" 1604]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$transduce invokeStatic "core.clj" 7025]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.yakread.util.biff_staging$unqualify_aliases invokeStatic "biff_staging.clj" 947]
  [com.yakread.util.biff_staging$unqualify_aliases invoke "biff_staging.clj" 940]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 976]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 958]
  [com.yakread.smtp$fn__65847 invokeStatic "smtp.clj" 83]
  [com.yakread.smtp$fn__65847 invoke "smtp.clj" 57]
  [com.yakread.lib.fx$machine$run__53651 invoke "fx.clj" 76]
  [tmp622559$eval71244 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp622559$eval71244 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "deliver* :end new sub",
   :eval
   (t/with-sqlite
    [conn {:user [{:xt/id (t/uuid 0), :user/email-username "bob"}]}]
    (deliver*
     {:biff.smtp/message message,
      :biff/conn* conn,
      :biff/now (t/zdt 2000),
      :com.yakread.smtp/url "https://example.com/p/example-post",
      :com.yakread.fx/js {:html html}}
     :end)),
   :ex #error {
 :cause "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
 :via
 [{:type java.lang.ClassCastException
   :message "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
   :at [clojure.core$name invokeStatic "core.clj" 1610]}]
 :trace
 [[clojure.core$name invokeStatic "core.clj" 1610]
  [clojure.core$name invoke "core.clj" 1604]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$transduce invokeStatic "core.clj" 7025]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.yakread.util.biff_staging$unqualify_aliases invokeStatic "biff_staging.clj" 947]
  [com.yakread.util.biff_staging$unqualify_aliases invoke "biff_staging.clj" 940]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 976]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 958]
  [com.yakread.smtp$fn__65847 invokeStatic "smtp.clj" 83]
  [com.yakread.smtp$fn__65847 invoke "smtp.clj" 57]
  [com.yakread.lib.fx$machine$run__53651 invoke "fx.clj" 76]
  [tmp622559$eval71246 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp622559$eval71246 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
