{:require
 [[com.yakread.lib.test :as t]
  [com.yakread.lib.smtp :as lib.smtp]
  [clojure.java.io :as io]
  [clojure.data.generators :as gen]
  [com.yakread.smtp :refer :all]],
 :fixtures
 {message
  (lib.smtp/deliver-opts
   "bob@example.com"
   (slurp (io/resource "com/yakread/smtp/raw-email.txt"))),
  html
  "<!DOCTYPE html><html><head><title></title></head><body><div>the quick brown fox jumps over the lazy dog</div></body></html>"},
 :tests
 [{:doc "deliver* invalid domain",
   :eval
   (t/with-sqlite
    [conn {:user [{:xt/id (t/uuid 1), :user/email-username "hello"}]}]
    (let
     [f
      (fn
       [message-overrides]
       (deliver*
        {:biff/conn* conn,
         :yakread/domain "example.com",
         :biff.smtp/message (merge message message-overrides)}
        :start))]
     {:invalid-domain (f {:domain "1.example.com", :username "hello"}),
      :invalid-username (f {:domain "example.com", :username "hi"}),
      :valid (f {:username "hello"})})),
   :result
   {:invalid-domain nil,
    :invalid-username nil,
    :valid
    {:com.yakread.fx/js
     {:fn-name "juice",
      :input
      {:html
       "<!DOCTYPE html><html><head><title></title></head><body><div>the quick brown fox jumps over the lazy dog</div></body></html>"}},
     :biff.fx/next :end,
     :com.yakread.smtp/url "https://example.com/p/example-post"}}}
  _
  {:doc "deliver* :end parse failed",
   :eval
   (deliver*
    {:biff.smtp/message {:username "hello"}, :biff/now (t/zdt 2000)}
    :end),
   :result
   {:biff.fx/spit
    {:file "storage/juice-failed/946684800000.edn",
     :content "{:username \"hello\"}"}}}
  _
  {:doc "deliver* :end existing sub",
   :eval
   (t/with-sqlite
    [conn
     {:user [{:xt/id (t/uuid 0), :user/email-username "bob"}],
      :sub
      [{:xt/id (t/uuid 1),
        :sub/email-from "alice@example.com",
        :sub/user-id (t/uuid 0)}]}]
    (deliver*
     {:biff.smtp/message message,
      :biff/conn* conn,
      :biff/now (t/zdt 2000),
      :com.yakread.smtp/url "https://example.com/p/example-post",
      :com.yakread.fx/js {:html html}}
     :end)),
   :ex #error {
 :cause "Range [0, 4) out of bounds for length 0"
 :via
 [{:type java.lang.StringIndexOutOfBoundsException
   :message "Range [0, 4) out of bounds for length 0"
   :at [jdk.internal.util.Preconditions$1 apply "Preconditions.java" 55]}]
 :trace
 [[jdk.internal.util.Preconditions$1 apply "Preconditions.java" 55]
  [jdk.internal.util.Preconditions$1 apply "Preconditions.java" 52]
  [jdk.internal.util.Preconditions$4 apply "Preconditions.java" 213]
  [jdk.internal.util.Preconditions$4 apply "Preconditions.java" 210]
  [jdk.internal.util.Preconditions outOfBounds "Preconditions.java" 98]
  [jdk.internal.util.Preconditions outOfBoundsCheckFromToIndex "Preconditions.java" 112]
  [jdk.internal.util.Preconditions checkFromToIndex "Preconditions.java" 349]
  [java.lang.String checkBoundsBeginEnd "String.java" 4855]
  [java.lang.String substring "String.java" 2823]
  [clojure.core$subs invokeStatic "core.clj" 5040]
  [clojure.core$subs invoke "core.clj" 5034]
  [com.biffweb.impl.xtdb2$prefix_uuid invokeStatic "xtdb2.clj" 183]
  [com.biffweb.impl.xtdb2$prefix_uuid invoke "xtdb2.clj" 182]
  [com.biffweb.experimental$prefix_uuid invokeStatic "experimental.clj" 95]
  [com.biffweb.experimental$prefix_uuid invoke "experimental.clj" 88]
  [com.yakread.util.biff_staging$gen_uuid invokeStatic "biff_staging.clj" 835]
  [com.yakread.util.biff_staging$gen_uuid invoke "biff_staging.clj" 831]
  [com.yakread.smtp$fn__65758 invokeStatic "smtp.clj" 93]
  [com.yakread.smtp$fn__65758 invoke "smtp.clj" 57]
  [com.yakread.lib.fx$machine$run__53562 invoke "fx.clj" 76]
  [tmp851203$eval71155 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp851203$eval71155 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "deliver* :end new sub",
   :eval
   (t/with-sqlite
    [conn {:user [{:xt/id (t/uuid 0), :user/email-username "bob"}]}]
    (deliver*
     {:biff.smtp/message message,
      :biff/conn* conn,
      :biff/now (t/zdt 2000),
      :com.yakread.smtp/url "https://example.com/p/example-post",
      :com.yakread.fx/js {:html html}}
     :end)),
   :ex #error {
 :cause "Range [0, 4) out of bounds for length 0"
 :via
 [{:type java.lang.StringIndexOutOfBoundsException
   :message "Range [0, 4) out of bounds for length 0"
   :at [jdk.internal.util.Preconditions$1 apply "Preconditions.java" 55]}]
 :trace
 [[jdk.internal.util.Preconditions$1 apply "Preconditions.java" 55]
  [jdk.internal.util.Preconditions$1 apply "Preconditions.java" 52]
  [jdk.internal.util.Preconditions$4 apply "Preconditions.java" 213]
  [jdk.internal.util.Preconditions$4 apply "Preconditions.java" 210]
  [jdk.internal.util.Preconditions outOfBounds "Preconditions.java" 98]
  [jdk.internal.util.Preconditions outOfBoundsCheckFromToIndex "Preconditions.java" 112]
  [jdk.internal.util.Preconditions checkFromToIndex "Preconditions.java" 349]
  [java.lang.String checkBoundsBeginEnd "String.java" 4855]
  [java.lang.String substring "String.java" 2823]
  [clojure.core$subs invokeStatic "core.clj" 5040]
  [clojure.core$subs invoke "core.clj" 5034]
  [com.biffweb.impl.xtdb2$prefix_uuid invokeStatic "xtdb2.clj" 183]
  [com.biffweb.impl.xtdb2$prefix_uuid invoke "xtdb2.clj" 182]
  [com.biffweb.experimental$prefix_uuid invokeStatic "experimental.clj" 95]
  [com.biffweb.experimental$prefix_uuid invoke "experimental.clj" 88]
  [com.yakread.util.biff_staging$gen_uuid invokeStatic "biff_staging.clj" 835]
  [com.yakread.util.biff_staging$gen_uuid invoke "biff_staging.clj" 831]
  [com.yakread.smtp$fn__65758 invokeStatic "smtp.clj" 93]
  [com.yakread.smtp$fn__65758 invoke "smtp.clj" 57]
  [com.yakread.lib.fx$machine$run__53562 invoke "fx.clj" 76]
  [tmp851203$eval71157 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp851203$eval71157 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
