{:require
 [[com.yakread.lib.test :as t]
  [com.yakread.lib.smtp :as lib.smtp]
  [clojure.java.io :as io]
  [clojure.data.generators :as gen]
  [com.yakread.smtp :refer :all]],
 :fixtures
 {message
  (lib.smtp/deliver-opts
   "bob@example.com"
   (slurp (io/resource "com/yakread/smtp/raw-email.txt"))),
  html
  "<!DOCTYPE html><html><head><title></title></head><body><div>the quick brown fox jumps over the lazy dog</div></body></html>"},
 :tests
 [{:doc "deliver* invalid domain",
   :eval
   (t/with-sqlite
    [conn {:user [{:xt/id "user1", :user/email-username "hello"}]}]
    (let
     [f
      (fn
       [message-overrides]
       (deliver*
        {:biff/conn* conn,
         :yakread/domain "example.com",
         :biff.smtp/message (merge message message-overrides)}
        :start))]
     {:invalid-domain (f {:domain "1.example.com", :username "hello"}),
      :invalid-username (f {:domain "example.com", :username "hi"}),
      :valid (f {:username "hello"})})),
   :result
   {:invalid-domain nil,
    :invalid-username nil,
    :valid
    {:com.yakread.fx/js
     {:fn-name "juice",
      :input
      {:html
       "<!DOCTYPE html><html><head><title></title></head><body><div>the quick brown fox jumps over the lazy dog</div></body></html>"}},
     :biff.fx/next :end,
     :com.yakread.smtp/url "https://example.com/p/example-post"}}}
  _
  {:doc "deliver* :end parse failed",
   :eval
   (deliver*
    {:biff.smtp/message {:username "hello"}, :biff/now (t/zdt 2000)}
    :end),
   :result
   {:biff.fx/spit
    {:file "storage/juice-failed/946684800000.edn",
     :content "{:username \"hello\"}"}}}
  _
  {:doc "deliver* :end existing sub",
   :eval
   (t/with-sqlite
    [conn
     {:user [{:xt/id (t/uuid 0), :user/email-username "bob"}],
      :sub
      [{:xt/id (t/uuid 1),
        :sub/email-from "alice@example.com",
        :sub/user-id (t/uuid 0)}]}]
    (deliver*
     {:biff.smtp/message message,
      :biff/conn* conn,
      :biff/now (t/zdt 2000),
      :com.yakread.smtp/url "https://example.com/p/example-post",
      :com.yakread.fx/js {:html html}}
     :end)),
   :ex #error {
 :cause "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
 :via
 [{:type org.sqlite.SQLiteException
   :message "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
   :at [org.sqlite.core.DB newSQLException "DB.java" 1179]}]
 :trace
 [[org.sqlite.core.DB newSQLException "DB.java" 1179]
  [org.sqlite.core.DB newSQLException "DB.java" 1190]
  [org.sqlite.core.DB throwex "DB.java" 1150]
  [org.sqlite.core.NativeDB prepare_utf8 "NativeDB.java" -2]
  [org.sqlite.core.NativeDB prepare "NativeDB.java" 135]
  [org.sqlite.core.DB prepare "DB.java" 264]
  [org.sqlite.core.CorePreparedStatement <init> "CorePreparedStatement.java" 46]
  [org.sqlite.jdbc3.JDBC3PreparedStatement <init> "JDBC3PreparedStatement.java" 32]
  [org.sqlite.jdbc4.JDBC4PreparedStatement <init> "JDBC4PreparedStatement.java" 28]
  [org.sqlite.jdbc4.JDBC4Connection prepareStatement "JDBC4Connection.java" 34]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 225]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 205]
  [next.jdbc.prepare$create invokeStatic "prepare.clj" 134]
  [next.jdbc.prepare$create invoke "prepare.clj" 84]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 895]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 893]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 874]
  [com.yakread.smtp$fn__65093 invokeStatic "smtp.clj" 83]
  [com.yakread.smtp$fn__65093 invoke "smtp.clj" 57]
  [com.yakread.lib.fx$machine$run__52951 invoke "fx.clj" 76]
  [tmp787592$eval70490 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp787592$eval70490 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "deliver* :end new sub",
   :eval
   (t/with-sqlite
    [conn {:user [{:xt/id (t/uuid 0), :user/email-username "bob"}]}]
    (deliver*
     {:biff.smtp/message message,
      :biff/conn* conn,
      :biff/now (t/zdt 2000),
      :com.yakread.smtp/url "https://example.com/p/example-post",
      :com.yakread.fx/js {:html html}}
     :end)),
   :ex #error {
 :cause "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
 :via
 [{:type org.sqlite.SQLiteException
   :message "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
   :at [org.sqlite.core.DB newSQLException "DB.java" 1179]}]
 :trace
 [[org.sqlite.core.DB newSQLException "DB.java" 1179]
  [org.sqlite.core.DB newSQLException "DB.java" 1190]
  [org.sqlite.core.DB throwex "DB.java" 1150]
  [org.sqlite.core.NativeDB prepare_utf8 "NativeDB.java" -2]
  [org.sqlite.core.NativeDB prepare "NativeDB.java" 135]
  [org.sqlite.core.DB prepare "DB.java" 264]
  [org.sqlite.core.CorePreparedStatement <init> "CorePreparedStatement.java" 46]
  [org.sqlite.jdbc3.JDBC3PreparedStatement <init> "JDBC3PreparedStatement.java" 32]
  [org.sqlite.jdbc4.JDBC4PreparedStatement <init> "JDBC4PreparedStatement.java" 28]
  [org.sqlite.jdbc4.JDBC4Connection prepareStatement "JDBC4Connection.java" 34]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 225]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 205]
  [next.jdbc.prepare$create invokeStatic "prepare.clj" 134]
  [next.jdbc.prepare$create invoke "prepare.clj" 84]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 895]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 893]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 874]
  [com.yakread.smtp$fn__65093 invokeStatic "smtp.clj" 83]
  [com.yakread.smtp$fn__65093 invoke "smtp.clj" 57]
  [com.yakread.lib.fx$machine$run__52951 invoke "fx.clj" 76]
  [tmp787592$eval70492 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp787592$eval70492 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
