{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.biffweb.experimental :as biffx]
  [com.yakread.util.biff-staging :refer :all]
  [xtdb.api :as xt]],
 :tests
 [{:doc ":biff/assert-query expansion",
   :eval
   (biff-tx-op
    {}
    [:biff/assert-query
     {:select :xt/id, :from :stuff}
     [{:xt/id 1, :x 1}]]),
   :result []}
  _
  {:doc ":biff/assert-query expansion empty results",
   :eval
   (biff-tx-op
    {}
    [:biff/assert-query {:select :xt/id, :from :stuff} []]),
   :result []}
  _
  {:doc ":biff/assert-query execution",
   :eval
   (t/with-node
    [node
     {:stuff
      [{:xt/id (t/uuid 1), :x 1}
       {:xt/id (t/uuid 3), :x 2}
       {:xt/id (t/uuid 5), :x 3}]}]
    (let
     [query
      {:select :*,
       :from :stuff,
       :where [:in :xt/id [(t/uuid 1) (t/uuid 3)]]}
      results
      (biffx/q node query)]
     (t/submit-tx node [[:biff/assert-query query results]])
     (t/submit-tx
      node
      [[:biff/assert-query query (conj results {:xt/id 4, :x 4})]])
     (xt/q node "select _id, committed from xt.txs"))),
   :result
   [{:xt/id 2, :committed true}
    {:xt/id 1, :committed true}
    {:xt/id 0, :committed true}]}
  _
  {:doc ":biff/upsert expansion",
   :eval
   (t/with-node
    [node {:stuff [{:xt/id (t/uuid 1), :x 1, :y 1}]}]
    (biff-tx-op
     {:biff/conn* node}
     [:biff/upsert
      :stuff
      [:x :y]
      {:xt/id (t/uuid 2), :x 1, :y 1, :z 1}
      {:xt/id (t/uuid 4), :x 2, :y 2, :z 2}
      {:x 3, :y 3, :z 3}])),
   :ex #error {
 :cause "ERROR: Errors parsing SQL statement:\n  - line 1:61 no viable alternative at input '((x=$1)AND(y=$2),'\n  Detail: [\"~#xt/error\",[\"~:incorrect\",\"~:xtdb/sql-error\",\"Errors parsing SQL statement:\\n  - line 1:61 no viable alternative at input '((x=$1)AND(y=$2),'\",[\"^ \",\"~:sql\",\"SELECT stuff.id, x, y FROM stuff WHERE ((x = $1) AND (y = $2), (x = $3) AND (y = $4), (x = $5) AND (y = $6))\"]]]"
 :via
 [{:type org.postgresql.util.PSQLException
   :message "ERROR: Errors parsing SQL statement:\n  - line 1:61 no viable alternative at input '((x=$1)AND(y=$2),'\n  Detail: [\"~#xt/error\",[\"~:incorrect\",\"~:xtdb/sql-error\",\"Errors parsing SQL statement:\\n  - line 1:61 no viable alternative at input '((x=$1)AND(y=$2),'\",[\"^ \",\"~:sql\",\"SELECT stuff.id, x, y FROM stuff WHERE ((x = $1) AND (y = $2), (x = $3) AND (y = $4), (x = $5) AND (y = $6))\"]]]"
   :at [org.postgresql.core.v3.QueryExecutorImpl receiveErrorResponse "QueryExecutorImpl.java" 2736]}]
 :trace
 [[org.postgresql.core.v3.QueryExecutorImpl receiveErrorResponse "QueryExecutorImpl.java" 2736]
  [org.postgresql.core.v3.QueryExecutorImpl processResults "QueryExecutorImpl.java" 2421]
  [org.postgresql.core.v3.QueryExecutorImpl execute "QueryExecutorImpl.java" 372]
  [org.postgresql.jdbc.PgStatement executeInternal "PgStatement.java" 525]
  [org.postgresql.jdbc.PgStatement execute "PgStatement.java" 435]
  [org.postgresql.jdbc.PgPreparedStatement executeWithFlags "PgPreparedStatement.java" 196]
  [org.postgresql.jdbc.PgPreparedStatement execute "PgPreparedStatement.java" 182]
  [xtdb.jdbc.XtConnection$XtPreparedStatement execute "XtConnection.kt" -1]
  [next.jdbc.result_set$stmt__GT_result_set invokeStatic "result_set.clj" 675]
  [next.jdbc.result_set$stmt__GT_result_set invoke "result_set.clj" 670]
  [next.jdbc.result_set$eval15676$fn__15684 invoke "result_set.clj" 952]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.biffweb.sqlite$execute$run__35051 invoke "sqlite.clj" 492]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 495]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 882]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 869]
  [com.yakread.util.biff_staging$eval46912$fn__46915 invoke "biff_staging.clj" 513]
  [clojure.lang.MultiFn invoke "MultiFn.java" 234]
  [tmp451535$eval95519 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp451535$eval95519 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc ":biff/upsert :on-insert / :on-delete",
   :eval
   (t/with-node
    [node {:stuff [{:xt/id (t/uuid 1), :x 1, :y 1}]}]
    (biff-tx-op
     {:biff/conn* node}
     [:biff/upsert
      :stuff
      [:x :y]
      {:xt/id (t/uuid 2),
       :x 1,
       :y 1,
       :biff/on-insert {:z 1},
       :biff/on-update {:z [:+ :z 1]}}
      {:xt/id (t/uuid 4),
       :x 2,
       :y 2,
       :biff/on-insert {:z 1},
       :biff/on-update {:z [:+ :z 1]}}])),
   :ex #error {
 :cause "ERROR: Errors parsing SQL statement:\n  - line 1:61 no viable alternative at input '((x=$1)AND(y=$2),'\n  Detail: [\"~#xt/error\",[\"~:incorrect\",\"~:xtdb/sql-error\",\"Errors parsing SQL statement:\\n  - line 1:61 no viable alternative at input '((x=$1)AND(y=$2),'\",[\"^ \",\"~:sql\",\"SELECT stuff.id, x, y FROM stuff WHERE ((x = $1) AND (y = $2), (x = $3) AND (y = $4))\"]]]"
 :via
 [{:type org.postgresql.util.PSQLException
   :message "ERROR: Errors parsing SQL statement:\n  - line 1:61 no viable alternative at input '((x=$1)AND(y=$2),'\n  Detail: [\"~#xt/error\",[\"~:incorrect\",\"~:xtdb/sql-error\",\"Errors parsing SQL statement:\\n  - line 1:61 no viable alternative at input '((x=$1)AND(y=$2),'\",[\"^ \",\"~:sql\",\"SELECT stuff.id, x, y FROM stuff WHERE ((x = $1) AND (y = $2), (x = $3) AND (y = $4))\"]]]"
   :at [org.postgresql.core.v3.QueryExecutorImpl receiveErrorResponse "QueryExecutorImpl.java" 2736]}]
 :trace
 [[org.postgresql.core.v3.QueryExecutorImpl receiveErrorResponse "QueryExecutorImpl.java" 2736]
  [org.postgresql.core.v3.QueryExecutorImpl processResults "QueryExecutorImpl.java" 2421]
  [org.postgresql.core.v3.QueryExecutorImpl execute "QueryExecutorImpl.java" 372]
  [org.postgresql.jdbc.PgStatement executeInternal "PgStatement.java" 525]
  [org.postgresql.jdbc.PgStatement execute "PgStatement.java" 435]
  [org.postgresql.jdbc.PgPreparedStatement executeWithFlags "PgPreparedStatement.java" 196]
  [org.postgresql.jdbc.PgPreparedStatement execute "PgPreparedStatement.java" 182]
  [xtdb.jdbc.XtConnection$XtPreparedStatement execute "XtConnection.kt" -1]
  [next.jdbc.result_set$stmt__GT_result_set invokeStatic "result_set.clj" 675]
  [next.jdbc.result_set$stmt__GT_result_set invoke "result_set.clj" 670]
  [next.jdbc.result_set$eval15676$fn__15684 invoke "result_set.clj" 952]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.biffweb.sqlite$execute$run__35051 invoke "sqlite.clj" 492]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 495]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 882]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 869]
  [com.yakread.util.biff_staging$eval46912$fn__46915 invoke "biff_staging.clj" 513]
  [clojure.lang.MultiFn invoke "MultiFn.java" 234]
  [tmp451535$eval95537 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp451535$eval95537 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
