{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.biffweb.experimental :as biffx]
  [com.yakread.util.biff-staging :refer :all]
  [xtdb.api :as xt]],
 :tests
 [{:doc ":biff/assert-query expansion",
   :eval
   (biff-tx-op
    {}
    [:biff/assert-query
     {:select :xt/id, :from :stuff}
     [{:xt/id 1, :x 1}]]),
   :result
   [{:xt
     {:assert
      [:=
       {:select [[[:nest_many {:select :xt/id, :from :stuff}]]]}
       {:select [[[:array ([:lift {:xt/id 1, :x 1}])]]]}]},
     :sqlite nil}]}
  _
  {:doc ":biff/assert-query expansion empty results",
   :eval
   (biff-tx-op
    {}
    [:biff/assert-query {:select :xt/id, :from :stuff} []]),
   :result
   [{:xt {:assert [:not-exists {:select :xt/id, :from :stuff}]},
     :sqlite nil}]}
  _
  {:doc ":biff/assert-query execution",
   :eval
   (t/with-node
    [node
     {:stuff
      [{:xt/id "stuff1", :x 1}
       {:xt/id "stuff2", :x 2}
       {:xt/id "stuff3", :x 3}]}]
    (let
     [query
      {:select :*,
       :from :stuff,
       :where [:in :xt/id ["stuff1" "stuff2"]]}
      results
      (biffx/q node query)]
     (t/submit-tx node [[:biff/assert-query query results]])
     (t/submit-tx
      node
      [[:biff/assert-query query (conj results {:xt/id 4, :x 4})]])
     (xt/q node "select _id, committed from xt.txs"))),
   :result
   [{:xt/id 2, :committed false}
    {:xt/id 1, :committed true}
    {:xt/id 0, :committed true}]}
  _
  {:doc ":biff/upsert expansion",
   :eval
   (t/with-node
    [node {:stuff [{:xt/id "stuff1", :x 1, :y 1}]}]
    (biff-tx-op
     {:biff/conn* node}
     [:biff/upsert
      :stuff
      [:x :y]
      {:xt/id "stuff1-new-id", :x 1, :y 1, :z 1}
      {:xt/id "stuff2-new-id", :x 2, :y 2, :z 2}
      {:x 3, :y 3, :z 3}])),
   :ex #error {
 :cause "No implementation of method: :get-connection of protocol: #'next.jdbc.protocols/Connectable found for class: nil"
 :via
 [{:type java.lang.IllegalArgumentException
   :message "No implementation of method: :get-connection of protocol: #'next.jdbc.protocols/Connectable found for class: nil"
   :at [clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]}]
 :trace
 [[clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]
  [clojure.core$_cache_protocol_fn invoke "core_deftype.clj" 577]
  [next.jdbc.protocols$eval14669$fn__14670$G__14660__14677 invoke "protocols.clj" 25]
  [next.jdbc$get_connection invokeStatic "jdbc.clj" 169]
  [next.jdbc$get_connection invoke "jdbc.clj" 148]
  [xtdb.api$with_conn invokeStatic "api.clj" 55]
  [xtdb.api$with_conn invoke "api.clj" 40]
  [xtdb.api$plan_q$reify__17800 reduce "api.clj" 116]
  [clojure.core$reduce invokeStatic "core.clj" 6964]
  [clojure.core$into invokeStatic "core.clj" 7038]
  [clojure.core$into invoke "core.clj" 7029]
  [xtdb.api$q invokeStatic "api.clj" 172]
  [xtdb.api$q invoke "api.clj" 128]
  [xtdb.api$q invokeStatic "api.clj" 169]
  [xtdb.api$q invoke "api.clj" 128]
  [clojure.lang.AFn applyToHelper "AFn.java" 156]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.lang.Var applyTo "Var.java" 707]
  [clojure.core$apply invokeStatic "core.clj" 671]
  [clojure.core$apply invoke "core.clj" 662]
  [com.biffweb.impl.xtdb2$q invokeStatic "xtdb2.clj" 37]
  [com.biffweb.impl.xtdb2$q doInvoke "xtdb2.clj" 36]
  [clojure.lang.RestFn invoke "RestFn.java" 428]
  [clojure.lang.AFn applyToHelper "AFn.java" 156]
  [clojure.lang.RestFn applyTo "RestFn.java" 135]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$apply invoke "core.clj" 662]
  [com.biffweb.experimental$q invokeStatic "experimental.clj" 74]
  [com.biffweb.experimental$q doInvoke "experimental.clj" 71]
  [clojure.lang.RestFn invoke "RestFn.java" 424]
  [com.yakread.util.biff_staging$eval52736$fn__52739 invoke "biff_staging.clj" 502]
  [clojure.lang.MultiFn invoke "MultiFn.java" 234]
  [tmp861283$eval95051 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp861283$eval95051 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc ":biff/upsert :on-insert / :on-delete",
   :eval
   (t/with-node
    [node {:stuff [{:xt/id "stuff1", :x 1, :y 1}]}]
    (biff-tx-op
     {:biff/conn* node}
     [:biff/upsert
      :stuff
      [:x :y]
      {:xt/id "stuff1-new-id",
       :x 1,
       :y 1,
       :biff/on-insert {:z 1},
       :biff/on-update {:z [:+ :z 1]}}
      {:xt/id "stuff2-new-id",
       :x 2,
       :y 2,
       :biff/on-insert {:z 1},
       :biff/on-update {:z [:+ :z 1]}}])),
   :ex #error {
 :cause "No implementation of method: :get-connection of protocol: #'next.jdbc.protocols/Connectable found for class: nil"
 :via
 [{:type java.lang.IllegalArgumentException
   :message "No implementation of method: :get-connection of protocol: #'next.jdbc.protocols/Connectable found for class: nil"
   :at [clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]}]
 :trace
 [[clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]
  [clojure.core$_cache_protocol_fn invoke "core_deftype.clj" 577]
  [next.jdbc.protocols$eval14669$fn__14670$G__14660__14677 invoke "protocols.clj" 25]
  [next.jdbc$get_connection invokeStatic "jdbc.clj" 169]
  [next.jdbc$get_connection invoke "jdbc.clj" 148]
  [xtdb.api$with_conn invokeStatic "api.clj" 55]
  [xtdb.api$with_conn invoke "api.clj" 40]
  [xtdb.api$plan_q$reify__17800 reduce "api.clj" 116]
  [clojure.core$reduce invokeStatic "core.clj" 6964]
  [clojure.core$into invokeStatic "core.clj" 7038]
  [clojure.core$into invoke "core.clj" 7029]
  [xtdb.api$q invokeStatic "api.clj" 172]
  [xtdb.api$q invoke "api.clj" 128]
  [xtdb.api$q invokeStatic "api.clj" 169]
  [xtdb.api$q invoke "api.clj" 128]
  [clojure.lang.AFn applyToHelper "AFn.java" 156]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.lang.Var applyTo "Var.java" 707]
  [clojure.core$apply invokeStatic "core.clj" 671]
  [clojure.core$apply invoke "core.clj" 662]
  [com.biffweb.impl.xtdb2$q invokeStatic "xtdb2.clj" 37]
  [com.biffweb.impl.xtdb2$q doInvoke "xtdb2.clj" 36]
  [clojure.lang.RestFn invoke "RestFn.java" 428]
  [clojure.lang.AFn applyToHelper "AFn.java" 156]
  [clojure.lang.RestFn applyTo "RestFn.java" 135]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$apply invoke "core.clj" 662]
  [com.biffweb.experimental$q invokeStatic "experimental.clj" 74]
  [com.biffweb.experimental$q doInvoke "experimental.clj" 71]
  [clojure.lang.RestFn invoke "RestFn.java" 424]
  [com.yakread.util.biff_staging$eval52736$fn__52739 invoke "biff_staging.clj" 502]
  [clojure.lang.MultiFn invoke "MultiFn.java" 234]
  [tmp861283$eval95069 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp861283$eval95069 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
