{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.lib.spark :refer :all]],
 :tests
 [{:doc "item-candidates",
   :eval
   (t/with-sqlite
    [ctx
     {:item
      [{:item/id (t/uuid 1), :item/url "url1"}
       {:item/id (t/uuid 2),
        :item/url "url2",
        :item/direct-candidate-status
        [:lift :item.direct-candidate-status/approved]}]}]
    (t/resolve-resolver item-candidates ctx {})),
   :result
   {:com.yakread.lib.spark/item-candidates
    [{:item/id #uuid "00020000-0000-0000-0000-000000000002",
      :item/url "url2"}]}}
  _
  {:doc "ads - empty database",
   :eval
   (t/with-sqlite
    [ctx {}]
    (t/resolve-resolver ads (merge ctx {:biff/now (t/instant 2000)}) {})),
   :result
   {:com.yakread.lib.spark/all-ads [],
    :com.yakread.lib.spark/ad-candidates []}}
  _
  {:doc "ads",
   :eval
   (t/with-sqlite
    [ctx
     {:ad
      [{:ad/id (t/uuid 1),
        :ad/approve-state [:lift :ad.approve-state/approved],
        :ad/payment-method "some-payment-method",
        :ad/budget 2000}
       {:ad/id (t/uuid 2)}
       {:ad/id (t/uuid 3)}],
      :ad-click
      [{:ad-click/id (t/uuid 10),
        :ad-click/ad-id (t/uuid 2),
        :ad-click/user-id (t/uuid 20),
        :ad-click/created-at (t/instant 2000),
        :ad-click/cost 100,
        :ad-click/source [:lift :ad-click.source/web]}
       {:ad-click/id (t/uuid 11),
        :ad-click/ad-id (t/uuid 2),
        :ad-click/user-id (t/uuid 21),
        :ad-click/created-at (t/instant 2000),
        :ad-click/cost 200,
        :ad-click/source [:lift :ad-click.source/web]}
       {:ad-click/id (t/uuid 12),
        :ad-click/ad-id (t/uuid 2),
        :ad-click/user-id (t/uuid 22),
        :ad-click/created-at (t/instant 1999),
        :ad-click/cost 200,
        :ad-click/source [:lift :ad-click.source/web]}
       {:ad-click/id (t/uuid 13),
        :ad-click/ad-id (t/uuid 3),
        :ad-click/user-id (t/uuid 20),
        :ad-click/created-at (t/instant 1999),
        :ad-click/cost 200,
        :ad-click/source [:lift :ad-click.source/web]}]}]
    (t/resolve-resolver ads (merge ctx {:biff/now (t/instant 2000)}) {})),
   :result
   {:com.yakread.lib.spark/all-ads
    [{:ad/id #uuid "00010000-0000-0000-0000-000000000001",
      :ad/approve-state :ad.approve-state/approved,
      :ad/paused nil,
      :ad/payment-failed nil,
      :ad/payment-method "some-payment-method",
      :ad/budget 2000,
      :ad/recent-cost 0}
     {:ad/id #uuid "00020000-0000-0000-0000-000000000002",
      :ad/approve-state nil,
      :ad/paused nil,
      :ad/payment-failed nil,
      :ad/payment-method nil,
      :ad/budget nil,
      :ad/recent-cost 300}
     {:ad/id #uuid "00030000-0000-0000-0000-000000000003",
      :ad/approve-state nil,
      :ad/paused nil,
      :ad/payment-failed nil,
      :ad/payment-method nil,
      :ad/budget nil,
      :ad/recent-cost 0}],
    :com.yakread.lib.spark/ad-candidates
    [{:ad/id #uuid "00010000-0000-0000-0000-000000000001",
      :ad/approve-state :ad.approve-state/approved,
      :ad/paused nil,
      :ad/payment-failed nil,
      :ad/payment-method "some-payment-method",
      :ad/budget 2000,
      :ad/recent-cost 0}]}}
  _
  {:doc "ad-ratings - empty database",
   :eval
   (t/with-sqlite
    [ctx {}]
    {:input (ad-interaction-info (:biff/query ctx)),
     :ratings (t/resolve-resolver ad-ratings ctx {})}),
   :result
   {:input [], :ratings {:com.yakread.lib.spark/ad-ratings []}}}
  _
  {:doc "ad-ratings",
   :eval
   (t/with-sqlite
    [ctx
     {:ad [{:ad/id (t/uuid 1)} {:ad/id (t/uuid 2)}],
      :reclist
      [{:reclist/id (t/uuid 10),
        :reclist/user-id (t/uuid 30),
        :reclist/created-at (t/instant 2000)}
       {:reclist/id (t/uuid 11),
        :reclist/user-id (t/uuid 31),
        :reclist/created-at (t/instant 2001)}
       {:reclist/id (t/uuid 12),
        :reclist/user-id (t/uuid 31),
        :reclist/created-at (t/instant 2003)}],
      :skip
      [{:skip/id (t/uuid 20),
        :skip/ad-id (t/uuid 1),
        :skip/reclist-id (t/uuid 10)}
       {:skip/id (t/uuid 21),
        :skip/ad-id (t/uuid 1),
        :skip/reclist-id (t/uuid 11)}
       {:skip/id (t/uuid 22),
        :skip/ad-id (t/uuid 1),
        :skip/reclist-id (t/uuid 12)}],
      :ad-click
      [{:ad-click/id (t/uuid 40),
        :ad-click/user-id (t/uuid 30),
        :ad-click/ad-id (t/uuid 1),
        :ad-click/created-at (t/instant 2000),
        :ad-click/cost 0,
        :ad-click/source [:lift :ad-click.source/web]}
       {:ad-click/id (t/uuid 41),
        :ad-click/user-id (t/uuid 32),
        :ad-click/ad-id (t/uuid 1),
        :ad-click/created-at (t/instant 2002),
        :ad-click/cost 0,
        :ad-click/source [:lift :ad-click.source/web]}]}]
    {:input (ad-interaction-info (:biff/query ctx)),
     :ratings (t/resolve-resolver ad-ratings ctx {})}),
   :result
   {:input
    [{:last-clicked #time/instant "2000-01-01T00:00:00Z",
      :ad-id #uuid "00010000-0000-0000-0000-000000000001",
      :user-id #uuid "00300000-0000-0000-0000-000000000030",
      :n-skips 1,
      :last-skipped #time/instant "2000-01-01T00:00:00Z"}
     {:n-skips 2,
      :last-skipped #time/instant "2003-01-01T00:00:00Z",
      :ad-id #uuid "00010000-0000-0000-0000-000000000001",
      :user-id #uuid "00310000-0000-0000-0000-000000000031"}
     {:last-clicked #time/instant "2002-01-01T00:00:00Z",
      :ad-id #uuid "00010000-0000-0000-0000-000000000001",
      :user-id #uuid "00320000-0000-0000-0000-000000000032"}],
    :ratings
    {:com.yakread.lib.spark/ad-ratings
     [{:rating/candidate #uuid "00010000-0000-0000-0000-000000000001",
       :rating/user #uuid "00300000-0000-0000-0000-000000000030",
       :rating/value 0.75,
       :rating/created-at #time/instant "2000-01-01T00:00:00Z"}
      {:rating/candidate #uuid "00010000-0000-0000-0000-000000000001",
       :rating/user #uuid "00310000-0000-0000-0000-000000000031",
       :rating/value 0.3,
       :rating/created-at #time/instant "2003-01-01T00:00:00Z"}
      {:rating/candidate #uuid "00010000-0000-0000-0000-000000000001",
       :rating/user #uuid "00320000-0000-0000-0000-000000000032",
       :rating/value 0.75,
       :rating/created-at #time/instant "2002-01-01T00:00:00Z"}]}}}
  _
  {:doc "dedupe-item-id",
   :eval
   (t/with-sqlite
    [ctx
     {:item
      [{:item/id (t/uuid 1), :item/url "url1"}
       {:item/id (t/uuid 2), :item/url "url1"}
       {:item/id (t/uuid 3), :item/url "url2"}
       {:item/id (t/uuid 4), :item/url "url3"}]}]
    (t/resolve-resolver
     dedupe-item-id
     ctx
     {:com.yakread.lib.spark/item-candidates
      [{:item/id (t/uuid 1), :item/url "url1"}
       {:item/id (t/uuid 3), :item/url "url2"}]})),
   :result
   {:com.yakread.lib.spark/dedupe-item-id
    {#uuid "00010000-0000-0000-0000-000000000001"
     #uuid "00010000-0000-0000-0000-000000000001",
     #uuid "00020000-0000-0000-0000-000000000002"
     #uuid "00010000-0000-0000-0000-000000000001",
     #uuid "00030000-0000-0000-0000-000000000003"
     #uuid "00030000-0000-0000-0000-000000000003"}}}
  _
  {:doc "item-ratings empty input",
   :eval
   (t/with-sqlite
    [ctx {}]
    (t/resolve-resolver
     item-ratings
     ctx
     {:com.yakread.lib.spark/dedupe-item-id {},
      :com.yakread.lib.spark/item-candidates []})),
   :result {:com.yakread.lib.spark/item-ratings []}}
  _
  {:doc "item-ratings non-empty input",
   :eval
   (t/with-sqlite
    [ctx
     {:item
      [{:item/id (t/uuid 1), :item/url "url1"}
       {:item/id (t/uuid 2), :item/url "url2"}
       {:item/id (t/uuid 3), :item/url "url2"}],
      :user-item
      [{:user-item/id (t/uuid 10),
        :user-item/user-id (t/uuid 30),
        :user-item/item-id (t/uuid 1),
        :user-item/favorited-at (t/instant 2000)}],
      :reclist
      [{:reclist/id (t/uuid 20),
        :reclist/user-id (t/uuid 31),
        :reclist/created-at (t/instant 2002)}
       {:reclist/id (t/uuid 21),
        :reclist/user-id (t/uuid 31),
        :reclist/created-at (t/instant 2001)}],
      :skip
      [{:skip/id (t/uuid 40),
        :skip/reclist-id (t/uuid 20),
        :skip/item-id (t/uuid 2)}
       {:skip/id (t/uuid 41),
        :skip/reclist-id (t/uuid 21),
        :skip/item-id (t/uuid 3)}]}]
    (t/resolve-resolver
     item-ratings
     ctx
     {:com.yakread.lib.spark/dedupe-item-id
      {(t/uuid 3) (t/uuid 2),
       (t/uuid 1) (t/uuid 1),
       (t/uuid 2) (t/uuid 2)},
      :com.yakread.lib.spark/item-candidates
      [{:item/id (t/uuid 1), :item/url "url1"}
       {:item/id (t/uuid 2), :item/url "url2"}]})),
   :result
   {:com.yakread.lib.spark/item-ratings
    [{:rating/user #uuid "00300000-0000-0000-0000-000000000030",
      :rating/candidate #uuid "00010000-0000-0000-0000-000000000001",
      :rating/value 1,
      :rating/created-at #time/instant "2000-01-01T00:00:00Z"}
     {:rating/user #uuid "00310000-0000-0000-0000-000000000031",
      :rating/candidate #uuid "00020000-0000-0000-0000-000000000002",
      :rating/value 0.3,
      :rating/created-at #time/instant "2002-01-01T00:00:00Z"}]}}
  _
  {:doc "all-liked-items - empty database",
   :eval (t/with-sqlite [ctx {}] (t/resolve-resolver all-liked-items ctx {})),
   :result {:yakread.model/all-liked-items []}}
  _
  {:doc "all-liked-items",
   :eval
   (t/with-sqlite
    [ctx
     {:user-item
      [{:user-item/id (t/uuid 1),
        :user-item/user-id (t/uuid 10),
        :user-item/item-id (t/uuid 20),
        :user-item/favorited-at (t/instant 2000)}
       {:user-item/id (t/uuid 2),
        :user-item/user-id (t/uuid 11),
        :user-item/item-id (t/uuid 21),
        :user-item/favorited-at (t/instant 2001)}
       {:user-item/id (t/uuid 3),
        :user-item/user-id (t/uuid 12),
        :user-item/item-id (t/uuid 21),
        :user-item/favorited-at (t/instant 2000)}
       {:user-item/id (t/uuid 4),
        :user-item/user-id (t/uuid 13),
        :user-item/item-id (t/uuid 22)}]}]
    (t/resolve-resolver all-liked-items ctx {})),
   :result
   {:yakread.model/all-liked-items
    [{:item/id #uuid "00210000-0000-0000-0000-000000000021",
      :item/n-likes 2}
     {:item/id #uuid "00200000-0000-0000-0000-000000000020",
      :item/n-likes 1}]}}
  _]}
