{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.lib.spark :refer :all]],
 :tests
 [{:doc "item-candidates",
   :eval
   (t/with-sqlite
    [conn
     {:item
      [{:xt/id "item1", :item/url "url1"}
       {:xt/id "item2",
        :item/url "url2",
        :item/direct-candidate-status :approved}]}]
    (item-candidates {:biff/conn* conn} {})),
   :result
   {:com.yakread.lib.spark/item-candidates
    [{:xt/id "item2", :item/url "url2"}]}}
  _
  {:doc "ads - empty database",
   :eval
   (t/with-sqlite
    [conn {}]
    (ads {:biff/conn* conn, :biff/now (t/zdt 2000)} {})),
   :ex #error {
 :cause "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
 :via
 [{:type org.sqlite.SQLiteException
   :message "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
   :at [org.sqlite.core.DB newSQLException "DB.java" 1179]}]
 :trace
 [[org.sqlite.core.DB newSQLException "DB.java" 1179]
  [org.sqlite.core.DB newSQLException "DB.java" 1190]
  [org.sqlite.core.DB throwex "DB.java" 1150]
  [org.sqlite.core.NativeDB prepare_utf8 "NativeDB.java" -2]
  [org.sqlite.core.NativeDB prepare "NativeDB.java" 135]
  [org.sqlite.core.DB prepare "DB.java" 264]
  [org.sqlite.core.CorePreparedStatement <init> "CorePreparedStatement.java" 46]
  [org.sqlite.jdbc3.JDBC3PreparedStatement <init> "JDBC3PreparedStatement.java" 32]
  [org.sqlite.jdbc4.JDBC4PreparedStatement <init> "JDBC4PreparedStatement.java" 28]
  [org.sqlite.jdbc4.JDBC4Connection prepareStatement "JDBC4Connection.java" 34]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 225]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 205]
  [next.jdbc.prepare$create invokeStatic "prepare.clj" 134]
  [next.jdbc.prepare$create invoke "prepare.clj" 84]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 895]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.lib.spark$ads__54868 invokeStatic "spark.clj" 35]
  [com.yakread.lib.spark$ads__54868 invoke "spark.clj" 30]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp796082$eval70510 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp796082$eval70510 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "ads",
   :eval
   (t/with-sqlite
    [conn
     {:ad
      [{:xt/id "ad1",
        :ad/approve-state :approved,
        :ad/payment-method "some-payment-method",
        :ad/budget 2000}
       {:xt/id "ad2"}
       {:xt/id "ad3"}],
      :ad-click
      [{:xt/id "ad-click1",
        :ad-click/ad-id "ad2",
        :ad-click/created-at (t/zdt 2000),
        :ad-click/cost 100}
       {:xt/id "ad-click2",
        :ad-click/ad-id "ad2",
        :ad-click/created-at (t/zdt 2000),
        :ad-click/cost 200}
       {:xt/id "ad-click3",
        :ad-click/ad-id "ad2",
        :ad-click/created-at (t/zdt 1999),
        :ad-click/cost 200}
       {:xt/id "ad-click4",
        :ad-click/ad-id "ad3",
        :ad-click/created-at (t/zdt 1999),
        :ad-click/cost 200}]}]
    (ads {:biff/conn* conn, :biff/now (t/zdt 2000)} {})),
   :ex #error {
 :cause "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
 :via
 [{:type org.sqlite.SQLiteException
   :message "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
   :at [org.sqlite.core.DB newSQLException "DB.java" 1179]}]
 :trace
 [[org.sqlite.core.DB newSQLException "DB.java" 1179]
  [org.sqlite.core.DB newSQLException "DB.java" 1190]
  [org.sqlite.core.DB throwex "DB.java" 1150]
  [org.sqlite.core.NativeDB prepare_utf8 "NativeDB.java" -2]
  [org.sqlite.core.NativeDB prepare "NativeDB.java" 135]
  [org.sqlite.core.DB prepare "DB.java" 264]
  [org.sqlite.core.CorePreparedStatement <init> "CorePreparedStatement.java" 46]
  [org.sqlite.jdbc3.JDBC3PreparedStatement <init> "JDBC3PreparedStatement.java" 32]
  [org.sqlite.jdbc4.JDBC4PreparedStatement <init> "JDBC4PreparedStatement.java" 28]
  [org.sqlite.jdbc4.JDBC4Connection prepareStatement "JDBC4Connection.java" 34]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 225]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 205]
  [next.jdbc.prepare$create invokeStatic "prepare.clj" 134]
  [next.jdbc.prepare$create invoke "prepare.clj" 84]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 895]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.lib.spark$ads__54868 invokeStatic "spark.clj" 35]
  [com.yakread.lib.spark$ads__54868 invoke "spark.clj" 30]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp796082$eval70512 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp796082$eval70512 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "ad-ratings - empty database",
   :eval
   (t/with-sqlite
    [conn {}]
    {:input (ad-interaction-info conn),
     :ratings (ad-ratings {:biff/conn* conn} {})}),
   :result
   {:input [], :ratings {:com.yakread.lib.spark/ad-ratings []}}}
  _
  {:doc "ad-ratings",
   :eval
   (t/with-sqlite
    [conn
     {:ad [{:xt/id "ad1"} {:xt/id "ad2"}],
      :reclist
      [{:xt/id "reclist1",
        :reclist/user-id "user1",
        :reclist/created-at (t/zdt 2000)}
       {:xt/id "reclist2",
        :reclist/user-id "user2",
        :reclist/created-at (t/zdt 2001)}
       {:xt/id "reclist3",
        :reclist/user-id "user2",
        :reclist/created-at (t/zdt 2003)}],
      :skip
      [{:xt/id "skip1",
        :skip/item-id "ad1",
        :skip/reclist-id "reclist1"}
       {:xt/id "skip2",
        :skip/item-id "ad1",
        :skip/reclist-id "reclist2"}
       {:xt/id "skip3",
        :skip/item-id "ad1",
        :skip/reclist-id "reclist3"}],
      :ad-click
      [{:xt/id "ad-click1",
        :ad-click/user-id "user1",
        :ad-click/ad-id "ad1",
        :ad-click/created-at (t/zdt 2000)}
       {:xt/id "ad-click2",
        :ad-click/user-id "user1",
        :ad-click/ad-id "ad1",
        :ad-click/created-at (t/zdt 2002)}]}]
    {:input (ad-interaction-info conn),
     :ratings (ad-ratings {:biff/conn* conn} {})}),
   :result
   {:input
    [{:ad-id "ad1", :user-id "user1", :last-clicked 1009843200000}
     {:ad-id "ad1",
      :user-id "user2",
      :n-skips 3,
      :last-skipped 1041379200000}],
    :ratings
    {:com.yakread.lib.spark/ad-ratings
     [{:rating/candidate "ad1",
       :rating/user "user1",
       :rating/value 0.75,
       :rating/created-at 1009843200000}
      {:rating/candidate "ad1",
       :rating/user "user2",
       :rating/value 0.19999999999999996,
       :rating/created-at 1041379200000}]}}}
  _
  {:doc "dedupe-item-id",
   :eval
   (t/with-sqlite
    [conn
     {:item
      [{:xt/id "item1", :item/url "url1"}
       {:xt/id "item2", :item/url "url1"}
       {:xt/id "item3", :item/url "url2"}
       {:xt/id "item4", :item/url "url3"}]}]
    (dedupe-item-id
     {:biff/conn* conn}
     {:com.yakread.lib.spark/item-candidates
      [{:xt/id "item1", :item/url "url1"}
       {:xt/id "item3", :item/url "url2"}]})),
   :result
   {:com.yakread.lib.spark/dedupe-item-id
    {"item1" "item1", "item2" "item1", "item3" "item3"}}}
  _
  {:doc "item-ratings empty input",
   :eval
   (t/with-sqlite
    [conn {}]
    (item-ratings
     {:biff/conn* conn}
     {:com.yakread.lib.spark/item-candidates [],
      :com.yakread.lib.spark/dedupe-item-id {}})),
   :result {:com.yakread.lib.spark/item-ratings []}}
  _
  {:doc "item-ratings non-empty input",
   :eval
   (t/with-sqlite
    [conn
     {:item
      [{:xt/id "item1", :item/url "url1"}
       {:xt/id "item2", :item/url "url2"}
       {:xt/id "item3", :item/url "url2"}],
      :user-item
      [{:xt/id "usit1",
        :user-item/user-id "user1",
        :user-item/item-id "item1",
        :user-item/favorited-at (t/zdt 2000)}],
      :reclist
      [{:xt/id "reclist1",
        :reclist/user-id "user2",
        :reclist/created-at (t/zdt 2002)}
       {:xt/id "reclist2",
        :reclist/user-id "user2",
        :reclist/created-at (t/zdt 2001)}],
      :skip
      [{:xt/id "skip1",
        :skip/reclist-id "reclist1",
        :skip/item-id "item2"}
       {:xt/id "skip2",
        :skip/reclist-id "reclist2",
        :skip/item-id "item3"}]}]
    (item-ratings
     {:biff/conn* conn}
     {:com.yakread.lib.spark/item-candidates
      [{:xt/id "item1", :item/url "url1"}
       {:xt/id "item2", :item/url "url2"}],
      :com.yakread.lib.spark/dedupe-item-id
      {"item3" "item2", "item1" "item1", "item2" "item2"}})),
   :ex #error {
 :cause "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
 :via
 [{:type org.sqlite.SQLiteException
   :message "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
   :at [org.sqlite.core.DB newSQLException "DB.java" 1179]}]
 :trace
 [[org.sqlite.core.DB newSQLException "DB.java" 1179]
  [org.sqlite.core.DB newSQLException "DB.java" 1190]
  [org.sqlite.core.DB throwex "DB.java" 1150]
  [org.sqlite.core.NativeDB prepare_utf8 "NativeDB.java" -2]
  [org.sqlite.core.NativeDB prepare "NativeDB.java" 135]
  [org.sqlite.core.DB prepare "DB.java" 264]
  [org.sqlite.core.CorePreparedStatement <init> "CorePreparedStatement.java" 46]
  [org.sqlite.jdbc3.JDBC3PreparedStatement <init> "JDBC3PreparedStatement.java" 32]
  [org.sqlite.jdbc4.JDBC4PreparedStatement <init> "JDBC4PreparedStatement.java" 28]
  [org.sqlite.jdbc4.JDBC4Connection prepareStatement "JDBC4Connection.java" 34]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 225]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 205]
  [next.jdbc.prepare$create invokeStatic "prepare.clj" 134]
  [next.jdbc.prepare$create invoke "prepare.clj" 84]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 895]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.lib.spark$item_ratings__54909 invokeStatic "spark.clj" 132]
  [com.yakread.lib.spark$item_ratings__54909 invoke "spark.clj" 110]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp796082$eval70522 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp796082$eval70522 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "all-liked-items - empty database",
   :eval
   (t/with-sqlite [conn {}] (all-liked-items {:biff/conn* conn} {})),
   :ex #error {
 :cause "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
 :via
 [{:type org.sqlite.SQLiteException
   :message "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
   :at [org.sqlite.core.DB newSQLException "DB.java" 1179]}]
 :trace
 [[org.sqlite.core.DB newSQLException "DB.java" 1179]
  [org.sqlite.core.DB newSQLException "DB.java" 1190]
  [org.sqlite.core.DB throwex "DB.java" 1150]
  [org.sqlite.core.NativeDB prepare_utf8 "NativeDB.java" -2]
  [org.sqlite.core.NativeDB prepare "NativeDB.java" 135]
  [org.sqlite.core.DB prepare "DB.java" 264]
  [org.sqlite.core.CorePreparedStatement <init> "CorePreparedStatement.java" 46]
  [org.sqlite.jdbc3.JDBC3PreparedStatement <init> "JDBC3PreparedStatement.java" 32]
  [org.sqlite.jdbc4.JDBC4PreparedStatement <init> "JDBC4PreparedStatement.java" 28]
  [org.sqlite.jdbc4.JDBC4Connection prepareStatement "JDBC4Connection.java" 34]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 225]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 205]
  [next.jdbc.prepare$create invokeStatic "prepare.clj" 134]
  [next.jdbc.prepare$create invoke "prepare.clj" 84]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 895]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.lib.spark$all_liked_items__55093 invokeStatic "spark.clj" 291]
  [com.yakread.lib.spark$all_liked_items__55093 invoke "spark.clj" 285]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp796082$eval70524 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp796082$eval70524 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "all-liked-items",
   :eval
   (t/with-sqlite
    [conn
     {:user-item
      [{:xt/id "usit1",
        :user-item/item-id "item1",
        :user-item/favorited-at (t/zdt 2000)}
       {:xt/id "usit2",
        :user-item/item-id "item2",
        :user-item/favorited-at (t/zdt 2001)}
       {:xt/id "usit3",
        :user-item/item-id "item2",
        :user-item/favorited-at (t/zdt 2000)}
       {:xt/id "usit4", :user-item/item-id "item3"}]}]
    (all-liked-items {:biff/conn* conn} {})),
   :ex #error {
 :cause "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
 :via
 [{:type org.sqlite.SQLiteException
   :message "[SQLITE_ERROR] SQL error or missing database (near \".\": syntax error)"
   :at [org.sqlite.core.DB newSQLException "DB.java" 1179]}]
 :trace
 [[org.sqlite.core.DB newSQLException "DB.java" 1179]
  [org.sqlite.core.DB newSQLException "DB.java" 1190]
  [org.sqlite.core.DB throwex "DB.java" 1150]
  [org.sqlite.core.NativeDB prepare_utf8 "NativeDB.java" -2]
  [org.sqlite.core.NativeDB prepare "NativeDB.java" 135]
  [org.sqlite.core.DB prepare "DB.java" 264]
  [org.sqlite.core.CorePreparedStatement <init> "CorePreparedStatement.java" 46]
  [org.sqlite.jdbc3.JDBC3PreparedStatement <init> "JDBC3PreparedStatement.java" 32]
  [org.sqlite.jdbc4.JDBC4PreparedStatement <init> "JDBC4PreparedStatement.java" 28]
  [org.sqlite.jdbc4.JDBC4Connection prepareStatement "JDBC4Connection.java" 34]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 225]
  [org.sqlite.jdbc3.JDBC3Connection prepareStatement "JDBC3Connection.java" 205]
  [next.jdbc.prepare$create invokeStatic "prepare.clj" 134]
  [next.jdbc.prepare$create invoke "prepare.clj" 84]
  [next.jdbc.result_set$eval15663$fn__15671 invoke "result_set.clj" 895]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 900]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 881]
  [com.yakread.lib.spark$all_liked_items__55093 invokeStatic "spark.clj" 291]
  [com.yakread.lib.spark$all_liked_items__55093 invoke "spark.clj" 285]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp796082$eval70526 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp796082$eval70526 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
