{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.lib.sqlite2 :refer :all]
  [com.wsscode.pathom3.connect.operation :as pco]
  [taoensso.nippy :as nippy]
  [tick.core :as tick]],
 :tests
 [{:doc "bytes->uuid and uuid->bytes roundtrip"
   :eval
   (let [uuid #uuid "f47ac10b-58cc-4372-a567-0e02b2c3d479"
         bytes (uuid->bytes uuid)]
     (bytes->uuid bytes))}
  _
  {:doc "epoch-ms->instant converts milliseconds to Instant"
   :eval (str (epoch-ms->instant 1705320000000))}
  _
  {:doc "epoch-ms->zdt converts milliseconds to ZonedDateTime"
   :eval (str (epoch-ms->zdt 1705320000000))}
  _
  {:doc "int->bool converts 0 to false"
   :eval (int->bool 0)}
  _
  {:doc "int->bool converts 1 to true"
   :eval (int->bool 1)}
  _
  {:doc "int->bool returns nil for nil"
   :eval (int->bool nil)}
  _
  {:doc "str->local-time parses time string"
   :eval (str (str->local-time "08:30:00"))}
  _
  {:doc "thaw-blob thaws nippy-frozen data"
   :eval (thaw-blob (nippy/freeze #{:monday :wednesday}))}
  _
  {:doc "make-enum-reader creates reader that converts int to keyword"
   :eval (let [reader (make-enum-reader {0 :quarter 1 :annual})]
           [(reader 0) (reader 1)])}
  _
  {:doc "schema-info extracts tables from malli schema"
   :eval (let [info (schema-info malli-opts)]
           (sort (keys info)))}
  _
  {:doc "schema-info extracts attributes for user table"
   :eval (let [info (schema-info malli-opts)
               user-attrs (get info :user)]
           (sort (keys user-attrs)))}
  _
  {:doc "generate-schema-sql produces SQL DDL"
   :eval (let [sql (generate-schema-sql)]
           ;; Check that it starts with the expected header
           (clojure.string/starts-with? sql "-- Generated from malli schema"))}
  _
  {:doc "generate-schema-sql includes CREATE TABLE user"
   :eval (let [sql (generate-schema-sql)]
           (clojure.string/includes? sql "CREATE TABLE user"))}
  _
  {:doc "generate-schema-sql includes proper column types"
   :eval (let [sql (generate-schema-sql)]
           (and (clojure.string/includes? sql "email TEXT NOT NULL")
                (clojure.string/includes? sql "id BLOB PRIMARY KEY")))}
  _
  {:doc "sqlite-resolvers returns resolvers for all tables"
   :eval (let [resolvers (sqlite-resolvers)]
           (count resolvers))}
  _
  {:doc "sqlite-resolvers creates resolver with correct name for user table"
   :eval (let [resolvers (sqlite-resolvers)
               user-resolver (first (filter #(= 'com.yakread.lib.sqlite2/user-sqlite-resolver
                                                (-> % :config ::pco/op-name))
                                            resolvers))]
           (some? user-resolver))}
  _
  {:doc "sqlite-resolvers resolver has :xt/id as input"
   :eval (let [resolvers (sqlite-resolvers)
               user-resolver (first (filter #(= 'com.yakread.lib.sqlite2/user-sqlite-resolver
                                                (-> % :config ::pco/op-name))
                                            resolvers))
               input (-> user-resolver :config ::pco/input)]
           input)}
  _
  {:doc "sqlite-resolvers resolver has batch? true"
   :eval (let [resolvers (sqlite-resolvers)
               user-resolver (first (filter #(= 'com.yakread.lib.sqlite2/user-sqlite-resolver
                                                (-> % :config ::pco/op-name))
                                            resolvers))
               batch? (-> user-resolver :config ::pco/batch?)]
           batch?)}
  _
  {:doc "sqlite-resolvers resolver output includes expected user attributes"
   :eval (let [resolvers (sqlite-resolvers)
               user-resolver (first (filter #(= 'com.yakread.lib.sqlite2/user-sqlite-resolver
                                                (-> % :config ::pco/op-name))
                                            resolvers))
               output (-> user-resolver :config ::pco/output)]
           ;; Check that some expected user attributes are in output
           [(some #(= :user/email %) output)
            (some #(= :user/plan %) output)
            (some #(= :user/roles %) output)])}
  _
  ]}
