{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.lib.user :refer :all]
  [com.yakread.lib.core :as lib.core]],
 :tests
 [{:eval
   (t/with-sqlite
    [conn
     {:user
      [{:xt/id (t/uuid 1),
        :user/email "foo@test.com",
        :user/email-username "foo"}],
      :deleted-user
      [{:xt/id (t/uuid 2),
        :deleted-user/email-username-hash
        "fcde2b2edba56bf408601fb721fe9b5c338d10ee429ea04fae5511b68fbf8fb9"}]}]
    {:taken-by-user (email-username-taken? conn "foo"),
     :taken-by-deleted-user (email-username-taken? conn "bar"),
     :not-taken (email-username-taken? conn "baz")}),
   :ex #error {
 :cause "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
 :via
 [{:type java.lang.ClassCastException
   :message "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
   :at [clojure.core$name invokeStatic "core.clj" 1610]}]
 :trace
 [[clojure.core$name invokeStatic "core.clj" 1610]
  [clojure.core$name invoke "core.clj" 1604]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$transduce invokeStatic "core.clj" 7025]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.yakread.util.biff_staging$unqualify_aliases invokeStatic "biff_staging.clj" 947]
  [com.yakread.util.biff_staging$unqualify_aliases invoke "biff_staging.clj" 940]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 976]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 958]
  [com.yakread.lib.user$email_username_taken_QMARK_ invokeStatic "user.clj" 25]
  [com.yakread.lib.user$email_username_taken_QMARK_ invoke "user.clj" 24]
  [tmp138684$eval71880 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp138684$eval71880 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
