{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.app.for-you :refer :all]],
 :tests
 [{:doc "record-item-click no existing skips",
   :eval
   (t/test-route
    record-item-click
    :post
    {:db* {},
     :biff/safe-params
     {:action :action/click-item,
      :t (t/instant 2000),
      :skip-items #{(t/uuid 3) (t/uuid 2)},
      :item/id (t/uuid 1),
      :user/id (t/uuid 0)},
     :biff/now (t/instant 2000)}),
   :result
   {:status 204,
    :biff.fx/sqlite
    [:biff.fx/sqlite
     ({:insert-into :reclist,
       :values
       [{:reclist/id #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be",
         :reclist/user-id #uuid "00000000-0000-0000-0000-000000000000",
         :reclist/created-at #time/instant "2000-01-01T00:00:00Z",
         :reclist/clicked
         #{#uuid "00010000-0000-0000-0000-000000000001"}}],
       :on-conflict [:reclist/user-id :reclist/created-at],
       :do-update-set {:fields [:clicked]}}
      {:insert-into :skip,
       :values
       [{:skip/id #uuid "a32dc9f6-4f1d-f03a-8ce9-70b71df42503",
         :skip/reclist-id #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be",
         :skip/item-id #uuid "00020000-0000-0000-0000-000000000002"}
        {:skip/id #uuid "98f8ba3d-c812-a76d-554d-cd2b40b5f04b",
         :skip/reclist-id #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be",
         :skip/item-id #uuid "00030000-0000-0000-0000-000000000003"}],
       :on-conflict [:skip/reclist-id :skip/item-id :skip/ad-id],
       :do-update-set {:skip/reclist-id :skip/reclist-id}}
      {:insert-into :user-item,
       :values
       [{:user-item/id #uuid "629bc222-9cef-e94d-fc1e-932efb9a0f58",
         :user-item/user-id
         #uuid "00000000-0000-0000-0000-000000000000",
         :user-item/item-id
         #uuid "00010000-0000-0000-0000-000000000001",
         :user-item/viewed-at #time/instant "2000-01-01T00:00:00Z"}],
       :on-conflict [:user-item/user-id :user-item/item-id],
       :do-update-set {:fields [:viewed-at]}})]}}
  _
  {:doc "record-item-click with existing skips",
   :eval
   (t/test-route
    record-item-click
    :post
    {:db*
     {:reclist
      [{:reclist/id (t/uuid 0),
        :reclist/clicked #{(t/uuid 1) (t/uuid 4)},
        :reclist/user-id (t/uuid 5),
        :reclist/created-at (t/instant 2000)}],
      :skip
      [{:skip/id (t/uuid 10),
        :skip/reclist-id (t/uuid 0),
        :skip/item-id (t/uuid 2)}
       {:skip/id (t/uuid 11),
        :skip/reclist-id (t/uuid 0),
        :skip/item-id (t/uuid 3)}]},
     :biff/safe-params
     {:action :action/click-item,
      :t (t/instant 2000),
      :skip-items #{(t/uuid 1) (t/uuid 2)},
      :item/id (t/uuid 3),
      :user/id (t/uuid 5)},
     :biff/now (t/instant 2000)}),
   :result
   {:status 204,
    :biff.fx/sqlite
    [:biff.fx/sqlite
     ({:insert-into :reclist,
       :values
       [{:reclist/id #uuid "00000000-0000-0000-0000-000000000000",
         :reclist/user-id #uuid "00050000-0000-0000-0000-000000000005",
         :reclist/created-at #time/instant "2000-01-01T00:00:00Z",
         :reclist/clicked
         #{#uuid "00010000-0000-0000-0000-000000000001"
           #uuid "00030000-0000-0000-0000-000000000003"
           #uuid "00040000-0000-0000-0000-000000000004"}}],
       :on-conflict [:reclist/user-id :reclist/created-at],
       :do-update-set {:fields [:clicked]}}
      {:delete-from :skip,
       :where
       [:in :skip/id [#uuid "00110000-0000-0000-0000-000000000011"]]}
      {:insert-into :user-item,
       :values
       [{:user-item/id #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be",
         :user-item/user-id
         #uuid "00050000-0000-0000-0000-000000000005",
         :user-item/item-id
         #uuid "00030000-0000-0000-0000-000000000003",
         :user-item/viewed-at #time/instant "2000-01-01T00:00:00Z"}],
       :on-conflict [:user-item/user-id :user-item/item-id],
       :do-update-set {:fields [:viewed-at]}})]}}
  _
  {:doc "record-ad-click",
   :eval
   (t/test-route
    record-ad-click
    :post
    {:db* {},
     :biff/safe-params
     {:action :action/click-ad,
      :t (t/instant 2000),
      :skip-items #{},
      :ad/id (t/uuid 1),
      :ad/click-cost 50,
      :ad.click/source :email,
      :user/id (t/uuid 0)},
     :biff/now (t/instant 2000)}),
   :result
   {:status 204,
    :biff.fx/sqlite
    [:biff.fx/sqlite
     ({:insert-into :ad-click,
       :values
       [{:ad-click/id #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be",
         :ad-click/user-id
         #uuid "00000000-0000-0000-0000-000000000000",
         :ad-click/ad-id #uuid "00010000-0000-0000-0000-000000000001",
         :ad-click/created-at #time/instant "2000-01-01T00:00:00Z",
         :ad-click/cost 50,
         :ad-click/source [:lift :ad-click.source/email]}],
       :on-conflict [:ad-click/user-id :ad-click/ad-id],
       :do-update-set {:fields [:created-at :cost :source]}})]}}
  _
  {:doc "record-ad-click with ad skips",
   :eval
   (t/test-route
    record-ad-click
    :post
    {:db* {},
     :biff/safe-params
     {:action :action/click-ad,
      :t (t/instant 2000),
      :skip-ads #{(t/uuid 2)},
      :ad/id (t/uuid 1),
      :ad/click-cost 50,
      :ad.click/source :email,
      :user/id (t/uuid 0)},
     :biff/now (t/instant 2000)}),
   :result
   {:status 204,
    :biff.fx/sqlite
    [:biff.fx/sqlite
     ({:insert-into :reclist,
       :values
       [{:reclist/id #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be",
         :reclist/user-id #uuid "00000000-0000-0000-0000-000000000000",
         :reclist/created-at #time/instant "2000-01-01T00:00:00Z",
         :reclist/clicked
         #{#uuid "00010000-0000-0000-0000-000000000001"}}],
       :on-conflict [:reclist/user-id :reclist/created-at],
       :do-update-set {:fields [:clicked]}}
      {:insert-into :skip,
       :values
       [{:skip/id #uuid "a32dc9f6-4f1d-f03a-8ce9-70b71df42503",
         :skip/reclist-id #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be",
         :skip/ad-id #uuid "00020000-0000-0000-0000-000000000002"}],
       :on-conflict [:skip/reclist-id :skip/item-id :skip/ad-id],
       :do-update-set {:skip/reclist-id :skip/reclist-id}}
      {:insert-into :ad-click,
       :values
       [{:ad-click/id #uuid "98f8ba3d-c812-a76d-554d-cd2b40b5f04b",
         :ad-click/user-id
         #uuid "00000000-0000-0000-0000-000000000000",
         :ad-click/ad-id #uuid "00010000-0000-0000-0000-000000000001",
         :ad-click/created-at #time/instant "2000-01-01T00:00:00Z",
         :ad-click/cost 50,
         :ad-click/source [:lift :ad-click.source/email]}],
       :on-conflict [:ad-click/user-id :ad-click/ad-id],
       :do-update-set {:fields [:created-at :cost :source]}})]}}
  _]}
