{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.app.for-you :refer :all]],
 :tests
 [{:doc "record-item-click no existing skips",
   :eval
   (t/test-route
    record-item-click
    :post
    {:sqlite-db {},
     :biff/safe-params
     {:action :action/click-item,
      :t (t/zdt 2000),
      :skip #{(t/uuid 3) (t/uuid 2)},
      :item/id (t/uuid 1),
      :user/id (t/uuid 0)},
     :biff/now (t/zdt 2000)}),
   :ex #error {
 :cause "Don't know how to create ISeq from: java.lang.Long"
 :via
 [{:type java.lang.IllegalArgumentException
   :message "Don't know how to create ISeq from: java.lang.Long"
   :at [clojure.lang.RT seqFrom "RT.java" 577]}]
 :trace
 [[clojure.lang.RT seqFrom "RT.java" 577]
  [clojure.lang.RT seq "RT.java" 557]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$some invokeStatic "core.clj" 2709]
  [clojure.core$some invoke "core.clj" 2709]
  [com.yakread.util.biff_staging$bundle_query_QMARK_ invokeStatic "biff_staging.clj" 846]
  [com.yakread.util.biff_staging$bundle_query_QMARK_ invoke "biff_staging.clj" 841]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 878]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 869]
  [com.yakread.app.for_you$fn__59689$fn__59691 invoke "for_you.clj" 76]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$apply invoke "core.clj" 662]
  [com.yakread.lib.fx$wrap_hiccup$fn__53614 doInvoke "fx.clj" 125]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.yakread.lib.fx$machine$run__53588 invoke "fx.clj" 76]
  [com.yakread.lib.test$test_route invokeStatic "test.clj" 140]
  [com.yakread.lib.test$test_route doInvoke "test.clj" 124]
  [clojure.lang.RestFn invoke "RestFn.java" 445]
  [tmp765539$eval71995 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp765539$eval71995 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "record-item-click with existing skips",
   :eval
   (t/test-route
    record-item-click
    :post
    {:db
     {:reclist
      [{:xt/id (t/uuid 0),
        :reclist/clicked #{(t/uuid 1) (t/uuid 4)},
        :reclist/user (t/uuid 5),
        :reclist/created-at (t/zdt 2000)}],
      :skip
      [{:xt/id (t/uuid 1),
        :skip/reclist (t/uuid 0),
        :skip/item (t/uuid 2)}
       {:xt/id (t/uuid 2),
        :skip/reclist (t/uuid 0),
        :skip/item (t/uuid 3)}]},
     :biff/safe-params
     {:action :action/click-item,
      :t (t/zdt 2000),
      :skip #{(t/uuid 1) (t/uuid 2)},
      :item/id (t/uuid 3),
      :user/id (t/uuid 5)},
     :biff/now (t/zdt 2000)}),
   :ex #error {
 :cause "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
 :via
 [{:type java.lang.IllegalArgumentException
   :message "No implementation of method: :-execute-all of protocol: #'next.jdbc.protocols/Executable found for class: nil"
   :at [clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]}]
 :trace
 [[clojure.core$_cache_protocol_fn invokeStatic "core_deftype.clj" 585]
  [clojure.core$_cache_protocol_fn invoke "core_deftype.clj" 577]
  [next.jdbc.protocols$eval14701$fn__14717$G__14692__14726 invoke "protocols.clj" 34]
  [next.jdbc$execute_BANG_ invokeStatic "jdbc.clj" 272]
  [next.jdbc$execute_BANG_ invoke "jdbc.clj" 254]
  [com.biffweb.sqlite$execute$run__35051 invoke "sqlite.clj" 492]
  [com.biffweb.sqlite$execute invokeStatic "sqlite.clj" 495]
  [com.biffweb.sqlite$execute invoke "sqlite.clj" 474]
  [com.yakread.util.biff_staging$execute_bundle$fn__47091 invoke "biff_staging.clj" 862]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$reduce invokeStatic "core.clj" 6964]
  [clojure.core$reduce invoke "core.clj" 6947]
  [com.yakread.util.biff_staging$execute_bundle invokeStatic "biff_staging.clj" 857]
  [com.yakread.util.biff_staging$execute_bundle invoke "biff_staging.clj" 853]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 879]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 869]
  [com.yakread.app.for_you$skip_tx invokeStatic "for_you.clj" 18]
  [com.yakread.app.for_you$skip_tx invoke "for_you.clj" 12]
  [com.yakread.app.for_you$fn__59689$fn__59691 invoke "for_you.clj" 71]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$apply invoke "core.clj" 662]
  [com.yakread.lib.fx$wrap_hiccup$fn__53614 doInvoke "fx.clj" 125]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.yakread.lib.fx$machine$run__53588 invoke "fx.clj" 76]
  [com.yakread.lib.test$test_route invokeStatic "test.clj" 144]
  [com.yakread.lib.test$test_route doInvoke "test.clj" 124]
  [clojure.lang.RestFn invoke "RestFn.java" 445]
  [tmp765539$eval71997 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp765539$eval71997 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "record-ad-click",
   :eval
   (t/test-route
    record-ad-click
    :post
    {:sqlite-db {},
     :biff/safe-params
     {:action :action/click-ad,
      :t (t/zdt 2000),
      :skip #{},
      :ad/id (t/uuid 1),
      :ad/click-cost 50,
      :ad.click/source :ad-click.source/email,
      :user/id (t/uuid 0)},
     :biff/now (t/zdt 2000)}),
   :ex #error {
 :cause "Don't know how to create ISeq from: java.lang.Long"
 :via
 [{:type java.lang.IllegalArgumentException
   :message "Don't know how to create ISeq from: java.lang.Long"
   :at [clojure.lang.RT seqFrom "RT.java" 577]}]
 :trace
 [[clojure.lang.RT seqFrom "RT.java" 577]
  [clojure.lang.RT seq "RT.java" 557]
  [clojure.core$seq__5486 invokeStatic "core.clj" 139]
  [clojure.core$some invokeStatic "core.clj" 2709]
  [clojure.core$some invoke "core.clj" 2709]
  [com.yakread.util.biff_staging$bundle_query_QMARK_ invokeStatic "biff_staging.clj" 846]
  [com.yakread.util.biff_staging$bundle_query_QMARK_ invoke "biff_staging.clj" 841]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 878]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 869]
  [com.yakread.app.for_you$fn__59705$fn__59707 invoke "for_you.clj" 106]
  [clojure.lang.AFn applyToHelper "AFn.java" 154]
  [clojure.lang.AFn applyTo "AFn.java" 144]
  [clojure.core$apply invokeStatic "core.clj" 667]
  [clojure.core$apply invoke "core.clj" 662]
  [com.yakread.lib.fx$wrap_hiccup$fn__53614 doInvoke "fx.clj" 125]
  [clojure.lang.RestFn invoke "RestFn.java" 411]
  [com.yakread.lib.fx$machine$run__53588 invoke "fx.clj" 76]
  [com.yakread.lib.test$test_route invokeStatic "test.clj" 140]
  [com.yakread.lib.test$test_route doInvoke "test.clj" 124]
  [clojure.lang.RestFn invoke "RestFn.java" 445]
  [tmp765539$eval95295 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp765539$eval95295 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _]}
