{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.user.export :refer :all]],
 :tests
 [{:doc "feed-subs",
   :eval
   (t/with-sqlite
    [conn
     {:sub
      [{:xt/id (t/uuid 2),
        :sub/user-id (t/uuid 11),
        :sub/feed-id (t/uuid 1)}],
      :feed [{:xt/id (t/uuid 1), :feed/url "url1"}]}]
    (feed-subs {:biff/conn* conn} {:user/id (t/uuid 11)})),
   :ex #error {
 :cause "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
 :via
 [{:type java.lang.ClassCastException
   :message "class clojure.lang.PersistentArrayMap cannot be cast to class clojure.lang.Named (clojure.lang.PersistentArrayMap and clojure.lang.Named are in unnamed module of loader 'app')"
   :at [clojure.core$name invokeStatic "core.clj" 1610]}]
 :trace
 [[clojure.core$name invokeStatic "core.clj" 1610]
  [clojure.core$name invoke "core.clj" 1604]
  [clojure.core$map$fn__5950$fn__5951 invoke "core.clj" 2759]
  [clojure.lang.PersistentVector reduce "PersistentVector.java" 418]
  [clojure.core$transduce invokeStatic "core.clj" 7025]
  [clojure.core$into invokeStatic "core.clj" 7042]
  [clojure.core$into invoke "core.clj" 7029]
  [com.yakread.util.biff_staging$unqualify_aliases invokeStatic "biff_staging.clj" 947]
  [com.yakread.util.biff_staging$unqualify_aliases invoke "biff_staging.clj" 940]
  [com.yakread.util.biff_staging$q invokeStatic "biff_staging.clj" 976]
  [com.yakread.util.biff_staging$q invoke "biff_staging.clj" 958]
  [com.yakread.model.user.export$feed_subs__64886 invokeStatic "export.clj" 21]
  [com.yakread.model.user.export$feed_subs__64886 invoke "export.clj" 18]
  [com.wsscode.pathom3.connect.operation.Resolver invoke "operation.cljc" 91]
  [tmp772857$eval95554 invokeStatic "NO_SOURCE_FILE" 0]
  [tmp772857$eval95554 invoke "NO_SOURCE_FILE" -1]
  [clojure.lang.Compiler eval "Compiler.java" 7700]
  [clojure.lang.Compiler eval "Compiler.java" 7655]
  [clojure.core$eval invokeStatic "core.clj" 3232]
  [clojure.core$eval invoke "core.clj" 3228]]}}
  _
  {:doc "bookmarks",
   :eval
   (t/with-sqlite
    [conn
     {:user-item
      [{:xt/id (t/uuid 3),
        :user-item/user-id (t/uuid 11),
        :user-item/bookmarked-at (t/zdt 2000),
        :user-item/viewed-at (t/zdt 2001),
        :user-item/item-id (t/uuid 7)}
       {:xt/id (t/uuid 4),
        :user-item/user-id (t/uuid 11),
        :user-item/bookmarked-at (t/zdt 2002),
        :user-item/viewed-at (t/zdt 2003),
        :user-item/item-id (t/uuid 8)}
       {:xt/id (t/uuid 5),
        :user-item/user-id (t/uuid 12),
        :user-item/bookmarked-at (t/zdt 2002),
        :user-item/viewed-at (t/zdt 2003),
        :user-item/item-id (t/uuid 9)}
       {:xt/id (t/uuid 6),
        :user-item/user-id (t/uuid 11),
        :user-item/viewed-at (t/zdt 2000),
        :user-item/item-id (t/uuid 10)}],
      :item
      [{:xt/id (t/uuid 7),
        :item/url "url1",
        :item/title "title1",
        :item/author-name "author-name1"}
       {:xt/id (t/uuid 8),
        :item/url "url2",
        :item/title "title2",
        :item/author-name "author-name2"}
       {:xt/id (t/uuid 9),
        :item/url "url3",
        :item/title "title3",
        :item/author-name "author-name3"}
       {:xt/id (t/uuid 10),
        :item/url "url4",
        :item/title "title4",
        :item/author-name "author-name4"}]}]
    (bookmarks {:biff/conn* conn} {:user/id (t/uuid 11)})),
   :result
   {:user.export/bookmarks
    "URL,Title,Author,Bookmarked at,Read at\n,,,2002-01-01T00:00:00Z,2003-01-01T00:00:00Z\n,,,2000-01-01T00:00:00Z,2001-01-01T00:00:00Z\n"}}
  _]}
