{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.model.user.export :refer :all]],
 :tests
 [{:doc "feed-subs",
   :eval
   (t/with-sqlite
    [conn
     {:sub
      [{:xt/id (t/uuid 2),
        :sub/user-id (t/uuid 11),
        :sub/feed-id (t/uuid 1)}],
      :feed [{:xt/id (t/uuid 1), :feed/url "url1"}]}]
    (feed-subs {:biff/conn* conn} {:user/id (t/uuid 11)})),
   :result
   {:user.export/feed-subs
    "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<opml version=\"1.0\">\n  <head><title>Yakread RSS subscriptions</title></head>\n  <body>\n    <outline type=\"rss\" xmlUrl=\"url1\"></outline>\n</body></opml>"}}
  _
  {:doc "bookmarks",
   :eval
   (t/with-sqlite
    [conn
     {:user-item
      [{:xt/id (t/uuid 3),
        :user-item/user-id (t/uuid 11),
        :user-item/bookmarked-at (t/zdt 2000),
        :user-item/viewed-at (t/zdt 2001),
        :user-item/item-id (t/uuid 7)}
       {:xt/id (t/uuid 4),
        :user-item/user-id (t/uuid 11),
        :user-item/bookmarked-at (t/zdt 2002),
        :user-item/viewed-at (t/zdt 2003),
        :user-item/item-id (t/uuid 8)}
       {:xt/id (t/uuid 5),
        :user-item/user-id (t/uuid 12),
        :user-item/bookmarked-at (t/zdt 2002),
        :user-item/viewed-at (t/zdt 2003),
        :user-item/item-id (t/uuid 9)}
       {:xt/id (t/uuid 6),
        :user-item/user-id (t/uuid 11),
        :user-item/viewed-at (t/zdt 2000),
        :user-item/item-id (t/uuid 10)}],
      :item
      [{:xt/id (t/uuid 7),
        :item/url "url1",
        :item/title "title1",
        :item/author-name "author-name1"}
       {:xt/id (t/uuid 8),
        :item/url "url2",
        :item/title "title2",
        :item/author-name "author-name2"}
       {:xt/id (t/uuid 9),
        :item/url "url3",
        :item/title "title3",
        :item/author-name "author-name3"}
       {:xt/id (t/uuid 10),
        :item/url "url4",
        :item/title "title4",
        :item/author-name "author-name4"}]}]
    (bookmarks {:biff/conn* conn} {:user/id (t/uuid 11)})),
   :result
   {:user.export/bookmarks
    "URL,Title,Author,Bookmarked at,Read at\nurl2,title2,author-name2,2002-01-01T00:00:00Z,2003-01-01T00:00:00Z\nurl1,title1,author-name1,2000-01-01T00:00:00Z,2001-01-01T00:00:00Z\n"}}
  _]}
